<p><strong>Sector CD<br>
    Plate Illustration:</strong></p>
<p ng-if="descCtrl.keywords != 'only'" ng-bind-html="descCtrl.object.illustration_description.illusobjdesc['#text'] | highlight:descCtrl.highlight"></p>

<div ng-repeat="component in descCtrl.object.components track by $index">
    <p><strong>Component (Sector {{ component.component['@location'] }})</strong></p>
    
    <p ng-if="descCtrl.keywords != 'hidden'" class="keywords">Keywords:</p>
    <ul class="list-inline" ng-if="descCtrl.keywords != 'hidden'">
        <li ng-repeat="characteristic in component.component.characteristic track by $index"><span markdown-it="characteristic['#text']"></span></li>
    </ul>

    <p ng-if="descCtrl.keywords != 'only'" markdown-it="component.component.illusobjdesc['#text']"></p>
</div>
