<div ng-repeat="comp in descCtrl.object.components track by $index">
    <p style="font-size: 1.8rem; padding-top: 5px;">
        <strong>
            Sector {{ comp.location }}<br>
            <span class="text-capitalize">{{ comp.type }} Illustration:</span>
        </strong>
    </p>
    <p ng-bind-html="comp['#text']"></p>
    <div ng-repeat="c in comp.components track by $index">
        <p><strong>Component (Sector {{ c.component['@location'] }})</strong></p>

        <p ng-if="descCtrl.keywords != 'hidden'" class="keywords">Keywords:</p>
        <ul class="list-inline" ng-if="descCtrl.keywords != 'hidden'">
            <li ng-repeat="char in [].concat(c.component.characteristic) track by $index">
                <span ng-bind-html="char['#text'] | highlight:descCtrl.highlight"></span>
            </li>
        </ul>
        <p ng-if="descCtrl.keywords != 'only'" ng-bind-html="c.component.illusobjdesc['#text'] | highlight:descCtrl.highlight | markdown"></p>
    </div>
    <hr>
</div>
