<div class="row">

	<!-- For Non virtual groups -->
	<div ng-repeat="copy in workCopies.bds.workCopies" class="col-sm-6 col-md-3" ng-if="workCopies.bds.work.virtual == false && copy.source.objinfo.printdate['#text'] && copy.archive_copy_id && copy.archive_copy_id != 'mpi'">
		<handprint-block
				link="/copy/{{copy.bad_id}}"
				image="{{ copy.image }}.100.jpg"
				footer="Copy {{copy.archive_copy_id}}, {{copy.source.objinfo.printdate['#text']}}, {{copy.institution}}<br>{{copy.number_of_objects}} object(s)">
		</handprint-block>
	</div>

	<div ng-repeat="copy in workCopies.bds.workCopies" class="col-sm-6 col-md-3" ng-if="workCopies.bds.work.virtual == false && copy.source.objinfo.printdate['#text'] && copy.archive_copy_id == 'mpi'">
		<handprint-block
				link="/copy/{{copy.bad_id}}"
				image="{{ copy.image }}.100.jpg"
				footer="Copy {{copy.archive_copy_id}}, {{copy.source.objinfo.printdate['#text']}}<br>{{copy.number_of_objects}} object(s)">
		</handprint-block>
	</div>


	<div ng-repeat="copy in workCopies.bds.workCopies" class="col-sm-6 col-md-3" ng-if="workCopies.bds.work.virtual == false && copy.source.objinfo.printdate['#text'] && !copy.archive_copy_id">
		<handprint-block
				link="/copy/{{copy.bad_id}}"
				image="{{ copy.image }}.100.jpg"
				footer="{{copy.source.objinfo.printdate['#text']}}, {{copy.institution}}<br>{{copy.number_of_objects}} object(s)">

		</handprint-block>
	</div>
	<div ng-repeat="copy in workCopies.bds.workCopies" class="col-sm-6 col-md-3" ng-if="workCopies.bds.work.virtual == false && !copy.source.objinfo.printdate['#text'] && copy.archive_copy_id && workCopies.bds.work.bad_id != 'bb134'">
		<handprint-block
				link="/copy/{{copy.bad_id}}"
				image="{{ copy.image }}.100.jpg"
				footer="Copy {{copy.archive_copy_id}}, {{copy.source.objdescid.compdate['#text']}}, {{copy.institution}}<br>{{copy.number_of_objects}} object(s)">

		</handprint-block>
	</div>

	<div ng-repeat="copy in workCopies.bds.workCopies" class="col-sm-6 col-md-3" ng-if="workCopies.bds.work.virtual == false && !copy.source.objinfo.printdate['#text'] && copy.archive_copy_id && workCopies.bds.work.bad_id == 'bb134'">
		<handprint-block
				link="/copy/{{copy.bad_id}}"
				image="{{ copy.image }}.100.jpg"
				footer="Receipt {{copy.archive_copy_id}}, {{copy.source.objdescid.compdate['#text']}}, {{copy.institution}}<br>{{copy.number_of_objects}} object(s)">

		</handprint-block>
	</div>

	<div ng-repeat="copy in workCopies.bds.workCopies" class="col-sm-6 col-md-3" ng-if="workCopies.bds.work.virtual == false && !copy.source.objinfo.printdate['#text'] && !copy.archive_copy_id">
		<handprint-block
				link="/copy/{{copy.bad_id}}"
				image="{{ copy.image }}.100.jpg"
				footer="{{copy.source.objdescid.compdate['#text']}}, {{copy.institution}}<br>{{copy.number_of_objects}} object(s)">

		</handprint-block>
	</div>

	<!-- For Virtual Groups, except letters and shakespearewc -->
	<div ng-repeat="obj in workCopies.bds.workCopies | filter:{supplemental:null}" class="col-sm-6 col-md-3" ng-if="workCopies.bds.work.virtual == true && workCopies.bds.work.bad_id != 'letters' && workCopies.bds.work.bad_id != 'shakespearewc'">
		<handprint-block
				link="/copy/{{ workCopies.bds.work.bad_id }}?descId={{obj.desc_id}}"
				action="workCopies.bds.changeObject(obj)"
				image="{{ obj.dbi }}.100.jpg"
				footer="{{obj.title}}<br>{{obj.full_object_id}}, {{obj.source.objdescid.compdate['#text']}}, {{obj.source.provenance.name['#text']}}">
		</handprint-block>
	</div>

	<!-- For Letters -->
	<div ng-repeat="obj in workCopies.bds.workCopies" class="col-sm-6 col-md-3" ng-if="workCopies.bds.work.bad_id == 'letters'">
		<handprint-block
				link="/copy/{{ workCopies.bds.work.bad_id }}?descId={{obj.desc_id}}"
				action="workCopies.bds.changeObject(obj)"
				image="{{ obj.dbi }}.100.jpg"
				footer="{{obj.object_group}}">
		</handprint-block>
	</div>
	<!-- For shakespearewc -->
	<div ng-repeat="obj in workCopies.bds.workCopies" class="col-sm-6 col-md-3" ng-if="workCopies.bds.work.bad_id == 'shakespearewc'">
		<handprint-block
				link="/copy/{{ workCopies.bds.work.bad_id }}?descId={{obj.desc_id}}"
				action="workCopies.bds.changeObject(obj)"
				image="{{ obj.dbi }}.100.jpg"
				footer="{{obj.object_group}} ({{obj.butnumber}}">
		</handprint-block>
	</div>

</div>