<p><strong>Object</strong></p>

<ul ng-if="noteCtrl.objectNotes()">
    <li ng-repeat="note in noteCtrl.object.notes | filter:{type:'desc'} track by $index" ng-bind-html="note.note.trim() | markdown | highlight:noteCtrl.highlight"></li>
</ul>
<p ng-if="!noteCtrl.objectNotes()"><em>[There are no object notes for this object.]</em></p>

<div>
<ul ng-if="noteCtrl.objectNoteImages()">
	<div style="display:inline-block" ng-repeat="object_note_image in noteCtrl.object.object_note_images | filter:{type:'text'} track by $index">
		<img style="width:100%" ng-src="/images/{{object_note_image.filename}}">
	</div>
</ul>
</div>


<p><strong>Text</strong></p>
<ul ng-if="noteCtrl.textNotes()">
    <li ng-repeat="note in noteCtrl.object.notes | filter:{type:'text'} track by $index">
        Line {{ note.line }}: <span ng-bind-html="note.note.trim() | markdown | highlight:noteCtrl.highlight"></span>

        
				<div style="display:inline-block; padding-bottom:15px" ng-if="note.text_note_image_filename">
					<img style="width:100%" ng-src="/images/{{note.text_note_image_filename}}">
				</div>
		

    </li>
</ul>
<p ng-if="!noteCtrl.textNotes()"><em>[There are no textual notes for this object.]</em></p>
