
<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Client PPI</h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-12">
            <p>To accurately display the true size of the object, the site must know the resolution and size of your monitor.</p>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <strong>Resolution:</strong>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <input type="text" class="form-control" ng-model="ppi.config.x">
                </div>
                <div class="col-xs-12 col-sm-1">X</div>
                <div class="col-xs-12 col-sm-5">
                    <input type="text" class="form-control" ng-model="ppi.config.y">
                </div>
            </div>
            <p>
                <small>
                    Common:
                    <span ng-repeat="res in ppi.common.resolutions">
                        <a ng-click="ppi.updateConfig(res.x, res.y, 0)">
                            {{res.x}}x{{res.y}}
                        </a>
                    </span>
                </small>
            </p>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <strong>Diagonal:</strong>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <input type="text" class="form-control" ng-model="ppi.config.d">
                </div>
            </div>
            <p>
                <small>
                    Common:
                    <span ng-repeat="diag in ppi.common.diagonals">
                        <a ng-click="ppi.updateConfig(0,0,diag)">
                            {{diag}}"
                        </a>
                    </span>
                </small>
            </p>
        </div>

        <div class="col-xs-12">
            <div class="text-center well">
                <p>Once you've set the values, the red line below should measure 1" across.</p>

                <div class="test-line" ng-style="ppi.testLine"></div>

                <button class="btn btn-default" ng-click="close(); ppi.savePpi()" style="margin-top: 20px;">Save Values on this Device</button>
            </div>
        </div>

        <div class="col-xs-12">
            <accordion close-others="true" id="client-dpi-accordion">
                <accordion-group id="known-devices">
                    <accordion-heading>
                            Known Devices
                    </accordion-heading>
                    <input class="form-control" placeholder="search for device..." ng-model="ppi.screenQuery">
                    <table class="table">
                        <thead><tr><th>Device</th><th>Resolution</th><th>Diagonal Length</th></tr></thead>
                        <tbody>
                            <tr ng-repeat="device in ppi.screens | filter:ppi.screenQuery">
                                <td><a ng-click="ppi.updateConfig(device.w,device.h,device.d)">{{device.name}}</a></td>
                                <td>{{device.w}}x{{device.h}}</td>
                                <td>{{device.d}}"</td>
                            </tr>
                        </tbody>
                    </table>
                </accordion-group>
                <accordion-group id="resolution-windows">
                    <accordion-heading>
                        Find your resolution: Windows
                    </accordion-heading>
                    ...
                </accordion-group>
                <accordion-group id="resolution-Mac">
                    <accordion-heading>
                        Find your resolution: Mac
                    </accordion-heading>
                    ...
                </accordion-group>
                <accordion-group id="diagonal-length">
                    <accordion-heading>
                        Find your monitor's diagonal length
                    </accordion-heading>
                    ...
                </accordion-group>
            </accordion>
        </div>
    </div>

</div>


