<div class="col-sm-9 col-sm-offset-3 content-right-column">
  <div class="row">
    <div class="col-sm-12">
      <!--<h2 class="title">All Archive Updates</h2>-->

    <p ng-click="staticpage.changeContent('update')" scroll-to-top><a>July 2017</a>: <i>Jerusalem</i> Copy F
    </p>
    <p ng-click="staticpage.changeContent('update-2017-05-31')" scroll-to-top><a>May 2017</a>: 40 past issues of <i>Blake/An Illustrated Quarterly</i> published from 1970 through 1979
    </p>  
    <p ng-click="staticpage.changeContent('update-2017-03-08')" scroll-to-top><a>March 2017</a>: <i>The Book of Thel</i> Copies C, E, K, M, and a
    </p>
    <p ng-click="staticpage.changeContent('update-2016-12-16')" scroll-to-top><a>December 2016</a>: <i>The William Blake Archive Upgrade</i>
    </p>
    <p ng-click="staticpage.changeContent('update-2016-08-30')" scroll-to-top><a>August 2016</a>: <i>The Marriage of Heaven and Hell</i> Copy A
    </p>
    <p ng-click="staticpage.changeContent('update-2016-06-28')" scroll-to-top><a>June 2016</a>: First 2.75 volumes of <i>Blake/An Illustrated Quarterly</i> published from 1967 through 1969
    </p>
    <p ng-click="staticpage.changeContent('update-2016-04-28')" scroll-to-top><a>April 2016</a>: 40 past issues of <i>Blake/An Illustrated Quarterly</i> published from 1980 through 1989
    </p>
    <p ng-click="staticpage.changeContent('update-2016-02-25')" scroll-to-top><a>February 2016</a>: <i>Genesis</i> manuscript
    </p>
    <p ng-click="staticpage.changeContent('update-2015-12-17')" scroll-to-top><a>December 2015</a>: <i>Songs of Innocence</i> Copies I, X, and Z
    </p>
    <p ng-click="staticpage.changeContent('update-2015-10-30')" scroll-to-top><a>October 2015</a>: 17 pen and ink drawings, 50 past issues of <i>Blake/An Illustrated Quarterly</i> published from 1990 through 2000, and in 2010
    </p>
    <p ng-click="staticpage.changeContent('update-2015-08-20')" scroll-to-top><a>August 2015</a>: <i>There is No Natural Religion</i> Copies A, D, and M
    </p>
    <p ng-click="staticpage.changeContent('update-2015-05-29')" scroll-to-top><a>May 2015</a>: Water color illustrations to Dante's <i>Divine Comedy</i> republished with ImageSearch and Virtual Lightbox functions
    </p>
    <p ng-click="staticpage.changeContent('update-2015-02-27')" scroll-to-top><a>February 2015</a>: <i>The Song of Los</i> Copy F
    </p>
    <p ng-click="staticpage.changeContent('update-2014-12-14')" scroll-to-top><a>December 2014</a>: 39 past issues of <i>Blake/An Illustrated Quarterly</i> published from 2000 through 2009
    </p>
    <p ng-click="staticpage.changeContent('update-2014-09-30')" scroll-to-top><a>September 2014</a>: Illustrations to Thomas Gray's <i>Poems</i> republished with ImageSearch and Virtual Lightbox functions
    </p>
    <p ng-click="staticpage.changeContent('update-2014-07-25')" scroll-to-top><a>July 2014</a>: <i>Thel</i> Copy N; <i>Enoch Walked with God</i>; republication of <i>Songs of Innocence</i> Copy U with revised plate arrangement and enhanced Copy Information page; Cincinnati collection list; rotation feature on OVP; updated General and Specific Bibliographies
    </p>
    <p ng-click="staticpage.changeContent('update-2014-05-22')" scroll-to-top><a>May 2014</a>: Preliminary pencil sketches, wash drawings, and water color drawings for Robert Blair's <i>The Grave</i>; engraved and water color illustrations to Robert Blair's <i>The Grave</i> and the <i>Deaths Door</i> engraving republished with ImageSearch and Virtual Lightbox functions
    </p>
    <p ng-click="staticpage.changeContent('update-2014-03-31')" scroll-to-top><a>March 2014</a>: Letters (1800-1805)
    </p>
    <p ng-click="staticpage.changeContent('update-2014-01-31')" scroll-to-top><a>January 2014</a>: <i>Songs of Innocence</i> Copy L
    </p>
    <p ng-click="staticpage.changeContent('update-2013-11-25')" scroll-to-top><a>November 2013</a>: Engraved illustrations to works by William Hayley, including <i>An Essay on Sculpture</i>, <i>Little Tom The Sailor</i>, <i>The Triumphs of Temper</i>, <i>The Life and Posthumous Writings of William Cowper</i>, and <i>The Life of George Romney</i>; etched and engraved illustrations to <i>Designs to a Series of Ballads, Written by William Hayley</i> (1802) and Hayley's <i>Ballads</i> (1805) republished with ImageSearch and Virtual Lightbox functions; portrait engraving of George Romney
    </p>
    <p ng-click="staticpage.changeContent('update-2013-09-25')" scroll-to-top><a>September 2013</a>: <i>The Book of Thel</i> Copies B and I
    </p>
    <p ng-click="staticpage.changeContent('update-2013-07-25')" scroll-to-top><a>July 2013</a>: <i>Visions of the Daughters of Albion</i> Copy H and engraved illustrations to John Gabriel Stedman's <i>Narrative, of a Five Years' Expedition, against the Revolted Negroes of Surinam</i>, colored and uncolored Copies, republished with ImageSearch and Virtual Lightbox functions
        </p>
    <p ng-click="staticpage.changeContent('update-2013-05-30')" scroll-to-top><a>May 2013</a>: <i>Europe a Prophecy</i> Copy A
    </p>
    <p ng-click="staticpage.changeContent('update-2013-04-08')" scroll-to-top><a>April 2013</a>: Letters (1825-1827) and George Cumberland's Card
    </p>
    <p ng-click="staticpage.changeContent('update-2013-01-31')" scroll-to-top><a>January 2013</a>: <i>America</i> Copies B and I
    </p>
    <p ng-click="staticpage.changeContent('update-2012-11-29')" scroll-to-top><a>November 2012</a>: 5 tempera paintings and 11 water color drawings illustrating passages from the Bible; 1 color printed drawing, "Hecate, or The Night of Enitharmon's Joy"; 72 water color drawings and tempera paintings republished with Image Search and Virtual Lightbox functions; collection lists for the Brooklyn Museum, Mead Art Museum at Amherst College, National Gallery of Scotland, Rhode Island School of Design Museum of Art, and the Rosenbach Museum &amp; Library; and technical improvement offering users access to XML source code
    </p>
    <p ng-click="staticpage.changeContent('update-2012-09-30')" scroll-to-top><a>September 2012</a>: <i>Songs of Innocence</i> Copy G and <i>Songs of Innocence and of Experience</i> Copy N
    </p>
    <p ng-click="staticpage.changeContent('update-2012-06-29')" scroll-to-top><a>June 2012</a>: Engraved illustrations to John Flaxman’s <i>Compositions from the Works Days and Theogony of Hesiod</i> 
    </p>
    <p ng-click="staticpage.changeContent('update-2012-04-27')" scroll-to-top><a>April 2012</a>: <i>Europe a Prophecy</i> Copy D
    </p>
    <p ng-click="staticpage.changeContent('update-2012-02-29')" scroll-to-top><a>February 2012</a>: <i>A Small Book of Designs</i>, <i>A Large Book of Designs</i>, 24 large color printed drawings republished with ImageSearch and Virtual Lightbox functions, 5 additional color printed drawings, and collection lists for the Minneapolis Institute of Arts and the Philadelphia Museum of Art
        </p>
    <p ng-click="staticpage.changeContent('update-2011-12-15')" scroll-to-top><a>December 2011</a>: <i>The Pickering Manuscript</i>
        </p>
    <p ng-click="staticpage.changeContent('update-2011-10-31')" scroll-to-top><a>October 2011</a>: <i>Songs of Innocence and of Experience</i> Copy E
        </p>
    <p ng-click="staticpage.changeContent('update-2011-09-08')" scroll-to-top><a>September 2011</a>: Water colors illustrating Milton's works republished with ImageSearch and Virtual Lightbox functions
        </p>
    <p ng-click="staticpage.changeContent('update-2011-07-22')" scroll-to-top><a>July 2011</a>: Improved Search Engines and Virtual Lightbox
        </p>
    <p ng-click="staticpage.changeContent('update-2011-05-03')" scroll-to-top><a>May 2011</a>: <i>The Book of Thel</i> Copies D and G
        </p>
    <p ng-click="staticpage.changeContent('update-2011-03-24')" scroll-to-top><a>March 2011</a>: 33 biblical water colors illustrating passages from the  Testament
        </p>
    <p ng-click="staticpage.changeContent('update-2011-01-20')" scroll-to-top><a>January 2011</a>: Illustrations to <i>The Pastorals of Virgil</i>
        </p>
    <p ng-click="staticpage.changeContent('update-2010-12-09')" scroll-to-top><a>December 2010</a>: 19 tempera paintings illlustrating passages from the Bible
        </p>
    <p ng-click="staticpage.changeContent('update-2010-10-30')" scroll-to-top><a>October 2010</a>: <i>An Island in the Moon</i>
        </p>
    <p ng-click="staticpage.changeContent('update-2010-09-16')" scroll-to-top><a>September 2010</a>: Scholarly Editions and Translations Grant from the National Endowment for the Humanities
        </p>
    <p ng-click="staticpage.changeContent('update-2010-08-12')" scroll-to-top><a>August 2010</a>: <i>The Marriage of Heaven and Hell</i> Copies B and E; Bodleian Library collection list
        </p>
    <p ng-click="staticpage.changeContent('update-2010-05-28')" scroll-to-top><a>May 2010</a>: <i>Visions of the Daughters of Albion</i> Copies E and I
        </p>
    <p ng-click="staticpage.changeContent('update-2010-03-26')" scroll-to-top><a>March 2010</a>: 20 biblical water colors illustrating passages from the Old Testament
        </p>
	<p ng-click="staticpage.changeContent('update-2010-1-29')" scroll-to-top><a>January 2010</a>: <i>Milton a Poem</i> Copy D
</p>
    <p ng-click="staticpage.changeContent('update-2009-12-20')" scroll-to-top><a>December 2009</a>: The Book of Job water colors and sketchbook republished with ImageSearch and Inote functions
        </p>
    <p ng-click="staticpage.changeContent('update-2009-11-24')" scroll-to-top><a>November 2009</a>: <i>Europe a Prophecy</i> Copy G
        </p>
    <p ng-click="staticpage.changeContent('update-2009-10-07')" scroll-to-top><a>October 2009</a>: Illustrations to Mary Wollstonecraft's <i>Original Stories from Real Life</i>
        </p>
    <p ng-click="staticpage.changeContent('update-2009-07-08')" scroll-to-top><a>July 2009</a>: <i>The Song of Los</i> Copies C and E
</p>
    <p ng-click="staticpage.changeContent('update-2009-05-12')" scroll-to-top><a>May 2009</a>: Engraved illustrations to William Hayley's <i>Designs to a Series of Ballads</i> and <i>Ballads . . . Relating to Animals</i>
        </p>
    <p ng-click="staticpage.changeContent('update-2009-02-16')" scroll-to-top><a>February 2009</a>: <i>Milton a Poem</i> Copy B
        </p>
    <p ng-click="staticpage.changeContent('update-2008-12-15')" scroll-to-top><a>December 2008</a>: Engraved illustrations to John Gabriel Stedman's <i>Narrative, of a Five Years' Expedition, against the Revolted Negroes of Surinam</i>, colored and uncolored Copies
        </p>
    <p ng-click="staticpage.changeContent('update-2008-09-24')" scroll-to-top><a>September 2008</a>: <i>The Book of Thel</i> Copies L and R
        </p>
    <p ng-click="staticpage.changeContent('update-2008-07-24')" scroll-to-top><a>July 2008</a>: Illustrations to John Milton's <i>Paradise Lost</i>, the Linnell set, and "On the Morning of Christ's Nativity," the Butts set
        </p>
<p ng-click="staticpage.changeContent('update-2008-06-12')" scroll-to-top><a>June 2008</a>: <i>The Marriage of Heaven and Hell</i> Copies K, L, and M
</p>
<p ng-click="staticpage.changeContent('update-2008-04-02')" scroll-to-top><a>April 2008</a>: Illustrations to John Milton's <i>Paradise Lost</i>, the Butts set
</p>
<p ng-click="staticpage.changeContent('update-2008-03-04')" scroll-to-top><a>March 2008</a>: <i>Milton a Poem</i> Copy A
</p>
<p ng-click="staticpage.changeContent('update-2008-01-28')" scroll-to-top><a>January 2008</a>: Illustrations to John Milton's <i>Paradise Lost</i>, the Thomas set
</p>
<p ng-click="staticpage.changeContent('update-2007-12-14')" scroll-to-top><a>December 2007</a>: <i>America a Prophecy</i> Copy F
</p>
<p ng-click="staticpage.changeContent('update-2007-10-09')" scroll-to-top><a>October 2007</a>: Illustrations to John Milton's <i>Comus</i>, the Butts set
</p>
<p ng-click="staticpage.changeContent('update-2007-09-14')" scroll-to-top><a>September 2007</a>: <i>Songs of Innocence and of Experience</i> Copy T
</p>
<p ng-click="staticpage.changeContent('update-2007-06-14')" scroll-to-top><a>June 2007</a>: Illustrations to John Milton's <i>Comus</i>, the Thomas set
</p>
<p ng-click="staticpage.changeContent('update-2007-04-07')" scroll-to-top><a>April 2007</a>: <i>Songs of Innocence and of Experience</i> Copies A and B
</p>
<p ng-click="staticpage.changeContent('update-2007-02-14')" scroll-to-top><a>February 2007</a>: Engraved illustrations to Edward Young's <i>Night Thoughts</i>, colored and uncolored Copies
</p>
<p ng-click="staticpage.changeContent('update-2006-12-20')" scroll-to-top><a>December 2006</a>: <i>Visions of the Daughters of Albion</i> Copies B and O
</p>
<p ng-click="staticpage.changeContent('update-2006-11-22')" scroll-to-top><a>November 2006</a>: Water color illustrations to Robert 
Blair's <i>The Grave</i> 
</p>
<p ng-click="staticpage.changeContent('update-2006-10-11')" scroll-to-top><a>October 2006</a>: <i>The [First] Book of Urizen</i> Copy D
</p>
<p ng-click="staticpage.changeContent('update-2006-09-20')" scroll-to-top><a>September 2006</a>: Linnell set of Job water colors; 
sketchbook containing drawings for the engraved illustrations to the Book of Job
</p>
<p ng-click="staticpage.changeContent('update-2006-06-26')" scroll-to-top><a>June 2006</a>: <i>Songs of Innocence and of Experience</i> Copies V and Y; "Order" of the <i>Songs</i>
</p>
<p ng-click="staticpage.changeContent('update-0605')" scroll-to-top><a>May 2006</a>: WBA 2006&#8212;conversion to XML
</p>
<p ng-click="staticpage.changeContent('update-0805')" scroll-to-top><a>August 2005</a>: Archive named an MLA Approved Edition; British Library publication agreement
</p>
<p ng-click="staticpage.changeContent('update-0705')" scroll-to-top><a>July 2005</a>: Revised bibliographies and collection lists
</p>
    <p ng-click="staticpage.changeContent('update-0405')" scroll-to-top><a>April 2005</a>: Illustrations to Thomas Gray's <i>Poems</i>
</p>
<p ng-click="staticpage.changeContent('update-0105')" scroll-to-top><a>January 2005</a>: Water color and engraved illustrations to Dante's <i>Divine Comedy</i>
</p>
<p ng-click="staticpage.changeContent('update-1104')" scroll-to-top><a>November 2004</a>: The Large Color Printed Drawings of 1795 and c. 1805
</p>
<p ng-click="staticpage.changeContent('update-0604')" scroll-to-top><a>June 2004</a>: <i>Visions of the Daughters of Albion</i> Copy A and proof Copy a
</p>
<p ng-click="staticpage.changeContent('update-0504')" scroll-to-top><a>May 2004</a>: <i>The Song of Los</i> Copies A and D
</p>
<p ng-click="staticpage.changeContent('update-0404')" scroll-to-top><a>April 2004</a>: <i>Europe a Prophecy</i> Copy H
</p>
<p ng-click="staticpage.changeContent('update-0304')" scroll-to-top><a>March 2004</a>: <i>America a Prophecy</i> Copy M
</p>
<p ng-click="staticpage.changeContent('update-0204')" scroll-to-top><a>February 2004</a>: "Illuminated Printing" by Joseph Viscomi
</p>
<p ng-click="staticpage.changeContent('update-1203')" scroll-to-top><a>December 2003</a>: Illustrations to John Milton's ode "On the Morning of Christ's Nativity" and <i>Paradise Regained</i>; MLA Prize for a Distinguished Scholarly Edition
</p>
<p ng-click="staticpage.changeContent('update-1103')" scroll-to-top><a>November 2003</a>: Illustrations to Robert Blair's <i>The Grave</i>; separate plate of <i>Deaths Door</i>
</p>
<p ng-click="staticpage.changeContent('update-1003')" scroll-to-top><a>October 2003</a>: <i>The [First] Book of Urizen</i> Copy B
</p>
    <p ng-click="staticpage.changeContent('update-0903')" scroll-to-top><a>September 2003</a>: About Blake: Biography, Glossary, and Chronology
</p>
<p ng-click="staticpage.changeContent('update-0303')" scroll-to-top><a>March 2003</a>: <i>Jerusalem The Emanation of the Giant Albion</i> Copy E
</p>
    <p ng-click="staticpage.changeContent('update-1202')" scroll-to-top><a>December 2002</a>: Engraved <i>Illustrations of the Book of Job</i>
</p>
<p ng-click="staticpage.changeContent('update-0902')" scroll-to-top><a>September 2002</a>: <i>The [First] Book of Urizen</i> Copies A, C, and F
</p>
<p ng-click="staticpage.changeContent('update-0602')" scroll-to-top><a>June 2002</a>: Illustrations to John Milton's "L'Allegro" and "Il Penseroso"
</p>
<p ng-click="staticpage.changeContent('update-0402')" scroll-to-top><a>April 2002</a>: Resources for Further Research
</p>
<p ng-click="staticpage.changeContent('update-202')" scroll-to-top><a>February 2002</a>: Water color illustrations to the Book of Job, the Butts Set
</p>
<p ng-click="staticpage.changeContent('update-1201')" scroll-to-top><a>December 2001</a>: Oxford University mirror site
</p>
<p ng-click="staticpage.changeContent('update-1001')" scroll-to-top><a>October 2001</a>: <i>The Marriage of Heaven and Hell</i> Copy G; <i>Visions of the Daughters of Albion</i> Copy P
</p>
<p ng-click="staticpage.changeContent('update-0103')" scroll-to-top><a>March 2001</a>: <i>America a Prophecy</i> Copy O; <i>Europe a Prophecy</i> Copy K
</p>
<p ng-click="staticpage.changeContent('update-0101')" scroll-to-top><a>January 2001</a>: "WBA 2.0"
</p>
<p ng-click="staticpage.changeContent('update-0400')" scroll-to-top><a>April 2000</a>: <i>The Marriage of Heaven and Hell</i> Copies H and I; Preservation and Access Grant from the National Endowment for the Humanities
</p>
<p ng-click="staticpage.changeContent('update-200')" scroll-to-top><a>February 2000</a>: David V. Erdman's <i>The Complete Poetry and Prose of William Blake</i>
</p>
<p ng-click="staticpage.changeContent('update-1299')" scroll-to-top><a>December 1999</a>: <i>Songs of Innocence and of Experience</i> Copies R and AA
</p>
<p ng-click="staticpage.changeContent('update-999')" scroll-to-top><a>September 1999</a>: <i>The Book of Thel</i> Copy J; <i>Visions of the Daughters of Albion</i> Copy G
</p>
<p ng-click="staticpage.changeContent('update-0899')" scroll-to-top><a>August 1999</a>: <i>Songs of Innocence</i> Copies B and U
</p>
<p ng-click="staticpage.changeContent('update-699')" scroll-to-top><a>June 1999</a>: <i>For Children: The Gates of Paradise</i> Copy D; <i>For the Sexes: The Gates of Paradise</i> Copy D
</p>
<p ng-click="staticpage.changeContent('update-0499')" scroll-to-top><a>April 1999</a>: <i>The Marriage of Heaven and Hell</i> Copies C and F
</p>
<p ng-click="staticpage.changeContent('update-399')" scroll-to-top><a>March 1999</a>: <i>Songs of Innocence and of Experience</i> Copies C, F, and L
</p>  
<p ng-click="staticpage.changeContent('update-199')" scroll-to-top><a>January 1999</a>: About the Archive: The Archive at a Glance, Editorial Principles and Methodology, Technical Summary, Frequently Asked Questions, and Plan of the Archive
</p> 
<p ng-click="staticpage.changeContent('update-1098')" scroll-to-top><a>October 1998</a>: <i>The Ghost of Abel</i> Copy A; <i>On Homers Poetry [and] On Virgil</i> Copies B and F; <i>Laoco&#246;n</i> Copy B
</p>
<p ng-click="staticpage.changeContent('update-798')" scroll-to-top><a>July 1998</a>: <i>All Religions are One</i> Copy A; <i>There is No Natural Religion</i> Copies B, C, G, and L; <i>Milton a Poem</i> Copy C
</p>
<p ng-click="staticpage.changeContent('update-498')" scroll-to-top><a>April 1998</a>: <i>The [First] Book of Urizen</i> Copy G; <i>The Book of Los</i> Copy A; <i>The Book of Ahania</i> Copy A; <i>The Song of Los</i> Copy B; <i>America a Prophecy</i> Copy A; <i>Europe a Prophecy</i> Copy E; <i>Visions of the Daughters of Albion</i> Copy F
</p>
<p ng-click="staticpage.changeContent('update-298')" scroll-to-top><a>February 1998</a>: <i>Songs of Innocence and of Experience</i> Copy Z; <i>The Marriage of Heaven and Hell</i> Copy D; <i>America a Prophecy</i> Copy E; <i>Europe a Prophecy</i> Copy B
</p>
<p ng-click="staticpage.changeContent('update-1297')" scroll-to-top><a>December 1997</a>: Completion of research and development phase
</p>
<p ng-click="staticpage.changeContent('update-897')" scroll-to-top><a>August 1997</a>: <i>The Book of Thel</i> Copy F
</p>
<p ng-click="staticpage.changeContent('update-397')" scroll-to-top><a>March 1997</a>: Update on progress; forthcoming publications
</p>
<p ng-click="staticpage.changeContent('update-1196')" scroll-to-top><a>November 1996</a>: <i>The Book of Thel</i> Copies F, H, and O; <i>Visions of the Daughters of Albion</i> Copies C and J
</p>

    </div>
  </div>
</div>
