<div class="row" id="homepage">

    <div class="col-sm-2 col-xs-6 scroll-window" ng-repeat="col in [1,2,3,4,5,6] track by $index">
        <div id="scroll-wrapper{{ col }}" class="scrolling">
            <span class="object-container" ng-repeat="work in featured_works | filter: { column: col } track by $index">
                  <a href="/blake/copy/{{ work.bad_id }}">
                      <img class="lazy-load" src="/blake/static/img/featured/{{ work.dbi }}.100.jpg">
                  </a>
                  <span class="object-description">
                        <span class="category">{{ work.title }}</span><span class="copy-object">{{ work.byline }}</span>
                  </span>
            </span>
        </div>
    </div>

</div>
