<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The William Blake Archive</title>
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
  <!-- <link rel="stylesheet" href="/blake/static/css/styles.css">
   <link rel="stylesheet" href="/blake/static/css/main.css">-->
  <link rel="stylesheet" href="/blake/static/css/output.min.css">
  <base href="/">
  <link rel="icon" href="/blake/static/img/favicon.ico" type="image/x-icon">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="home ng-scope" ng-app="blake">

<div class="site-header-container">
  <div class="container-fluid site-header">

    <div class="row">
      <div class="col-sm-11">
        <a class="navbar-brand" href="/"><span class="name">The William Blake Archive</span><span
            class="sig"></span></a>

        <div class="lightbox"><a class="lb-amount" href="#">3</a></div>
        <view-sub-menu></view-sub-menu>

      </div>
      <div class="col-sm-1">
        <button type="button" class="collapse-archive menu-closed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>

  </div>
</div>
<!-- /.container -->

<nav class="navbar navbar-default menu-closed" role="navigation">
  <div class="container-fluid">
    <form class="navbar-form" role="search">
      <div ng-controller="SearchController" class="input-group">
        <input ng-model="searchText" type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button ng-click="loadSearchPage()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"
                                                                  aria-hidden="true"></span></button>
            </span>
      </div>
    </form>
    <navigation-menu></navigation-menu>
  </div>
</nav>
<!--
<ul class="list-inline">
  <li><a href="/blake/">Home</a></li>
  <li><a href="/blake/work/mhh">Work</a></li>
  <li><a href="/blake/copy/mhh.b">Copy</a></li> -->
 <!-- <li><a href="/blake/matrix/3">Same Matrix</a></li> -->
<!--  <li><a href="/blake/sequence/3">Same Prod Sequence</a></li>
  <li><a href="/blake/search/">Search</a></li>
</ul>
-->
<div  id="home" class="container-fluid main">
  <!-- This div is the viewport where all views will be loaded, so css for individual pages should
       be based on elements below this point in the DOM -->
  <div ng-view></div>
</div>

<span class="back-top">Back to top</span>

<div class="container">

  <footer>
    <div class="row">

      <ul class="nav nav-pills">
        <li class="dropdown" dropdown on-toggle="toggled(open)">
          <a class="dropdown-toggle" dropdown-toggle href="#">About Blake
           <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Biography</a></li>
            <li><a href="#">Glossary</a></li>
            <li><a href="#">Chronology</a></li>
            <li><a href="#">Illuminated Printing</a></li>
          </ul>
        </li>

        <li class="dropdown" dropdown on-toggle="toggled(open)">
          <a class="dropdown-toggle" dropdown-toggle href="#">Resources for Further Research
           <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">General Bibliography</a></li>
            <li><a href="#">Specific Bibliography</a></li>
            <li><a href="#">Collection Lists</a></li>
            <li><a href="#">The Complete Poetry and of William Blake</a></li>
          </ul>
        </li>

        <li class="dropdown" dropdown on-toggle="toggled(open)">
          <a class="dropdown-toggle" dropdown-toggle href="#">About the Archive
           <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Archive at a Glance</a></li>
            <li><a href="#">Editorial Principles</a></li>
            <li><a href="#">About the Editors</a></li>
            <li><a href="#">How to Use the Archive (Help Documentation)</a></li>
            <li><a href="#">Contributing Collections</a></li>
            <li><a href="#">Standard References and Abbreviations</a></li>
            <li><a href="#">Technical Summary</a></li>
            <li><a href="#">Articles about the Archive</a></li>
            <li><a href="#">Plan of the Archive</a></li>
            <li><a href="#">The Blake Archive in the Context of CDLA</a></li>
            <li><a href="#">Complete Credits</a></li>
            <li><a href="#">Advisory Board</a></li>
          </ul>
        </li>

        <li><a href="#">Tour of the Archive</a></li>
        <li><a href="#">Copyright and Permissions Information</a></li>
        <li><a href="#">Frequently Asked Questions</a></li>
        <li><a href="#">Contact the Archive</a></li>
        <li><a href="#">Related Sites</a></li>
      </ul>

    </div>

    <hr>

    <div class="row">

      <div class="col-sm-12 col-md-5 copyright">
        <p>© Copyright 2015, The William Blake Archive<br>
          <a href="http://designhammer.com">Website designed by DesignHammer LLC. ~ Building Smarter Websites</a></p>
      </div>

      <div class="col-sm-12 col-md-7 subscribe">
        <p>Subscribe to the William Blake Archive Newsletter</p>

        <form class="form-inline" role="form">
          <div class="form-group">
            <div class="input-group">
              <label class="sr-only" for="inputEmail">Subscribe</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
            </div>
          </div>
          <button type="submit" class="btn btn-default">Sign in</button>
        </form>
      </div>

    </div>

  </footer>

</div>
<!-- /container -->
</body>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
<script src="/blake/static/js/jquery.lazyload.min.js"></script>
<script src="/blake/static/js/jquery.fs.scroller.min.js"></script>
<!-- <script src="/blake/static/js/main.js"></script>
<script src="/blake/static/js/scripts.js"></script>
<script src="/blake/static/js/main.js"></script>
<script src="/blake/static/directives/objects-for-copy/directive.js"></script>
<script src="/blake/static/directives/copies-for-work/directive.js"></script>
<script src="/blake/static/directives/view-sub-menu/directive.js"></script>
<script src="/blake/static/directives/menu/directive.js"></script>
<script src="/blake/static/directives/copy-information/directive.js"></script>
<script src="/blake/static/directives/object-viewer/directive.js"></script>
<script src="/blake/static/directives/objects-from-same-matrix/directive.js"></script>
<script src="/blake/static/directives/objects-from-same-production-sequence/directive.js"></script>
<script src="/blake/static/directives/objects-with-same-motif/directive.js"></script>
<script src="/blake/static/directives/object-compare/directive.js"></script> -->
<script src="/blake/static/js/minified/output.min.js"></script>

</html>

