<div role="tabpanel" class="fadeinout tab-pane active in" id="text-match">
    <!-- OBJECTS -->
    <div class="row" ng-if="tr.bds.object.text_match.objects.length > 0">
        <h3>Objects</h3>
        <div ng-repeat="obj in tr.bds.object.text_match.objects track by $index" class="col-sm-6 col-md-3">
            <handprint-block ng-if="obj.object_group !== null"
                             link="/copy/letters?descId={{ obj.desc_id }}"
                             image="{{ obj.dbi }}.100.jpg"
                             footer="{{ obj.object_group }}">
            </handprint-block>
        </div>
    </div>
</div>