<div class="section-group">
    <h3 style="font-weight:bold;">All Known Related Items</h3>
    <div class="row">
        <div class="col-xs-12">
            <div class="related-flex">
                <div class="related-item" ng-repeat="copy in akri.work.related_works | filter:{type:'!copy'}">
                {{copy.link}}
                <span ng-if="copy.link">
                    <a ng-if="copy.type != 'plate'" href="{{ copy.link }}" ng-bind-html="copy.displayTitle.trim() | markdown"></a>
                    <a ng-if="copy.type == 'plate'" ng-click="akri.activateCompare()" href="{{ copy.link }}" ng-bind-html="copy.displayTitle.trim() | markdown"></a>
                </span>
                
                    <span style="font-weight:bold;" ng-if="!copy.link && copy.displayTitle" ng-bind-html="copy.displayTitle.trim() | markdown"></span>
                    <span ng-repeat="info in akri.getInfo(copy.info) track by $index" ng-bind-html="info.trim() | markdown"></span>
                </div>
            </div>
        </div>
    </div>
</div>