<div ng-if="dl.infoObject['#text']">
	<dt ng-if="dl.dt == 'Publisher'" style="margin-top:-18px">{{ dl.dt }} </dt>
    <dt ng-if="dl.dt != 'Publisher'">{{ dl.dt }} </dt>
    <dd ng-bind-html="dl.infoObject['#text'].trim() | markdown | highlight:dl.highlight"></dd>
    <div ng-if="dl.infoObject.note" class="indent-dl">
        <dt><li style="margin-left:90%"></li></dt>
        <dd ng-if="!dl.infoObject.note[0]" ng-bind-html="dl.infoObject.note['#text'].trim() | markdown | highlight:dl.highlight"></dd>
    </div>
    <div ng-if="dl.infoObject.note[0]" ng-repeat="note in dl.infoObject.note track by $index" class="indent-dl">
        <dt></dt>
        <dd ng-bind-html="note['#text'].trim() | markdown | highlight:dl.highlight"></dd>
    </div>
</div>
