<div ng-if="dl.infoObject['#text']">
    <dt>{{ dl.dt }} </dt>
    <dd ng-bind-html="dl.infoObject['#text'].trim() | markdown | highlight:dl.highlight"></dd>
    <div ng-if="dl.infoObject.note" class="indent-dl">
        <dt><li></li></dt>
        <dd ng-if="!dl.infoObject.note[0]" ng-bind-html="dl.infoObject.note['#text'].trim() | markdown | highlight:dl.highlight"></dd>
        <dd ng-if="dl.infoObject.note[0]" ng-bind-html="dl.infoObject.note[0]['#text'].trim() | markdown | highlight:dl.highlight"></dd>
        <dd ng-if="dl.infoObject.note[1]" ng-bind-html="dl.infoObject.note[1]['#text'].trim() | markdown | highlight:dl.highlight"></dd>
    </div>
</div>
