<!-- TEXTUAL REFERENCES -->
<div role="tabpanel" class="fadeinout tab-pane active in" id="text-reference">
    <!-- OBJECTS -->
    <div class="row" ng-if="tr.bds.object.text_ref.objects.length > 0">
        <h3>Objects</h3>
        <div ng-repeat="obj in tr.bds.object.text_ref.objects track by $index" class="col-sm-6 col-md-3">
            <handprint-block ng-if="obj.object_group !== null"
                             link="/copy/letters?descId={{ obj.desc_id }}"
                             image="{{ obj.dbi }}.100.jpg"
                             footer="{{ obj.object_group }}">
            </handprint-block>

            <!--copy permutations from objectsFromSame.html in the future-->
            <handprint-block ng-if="obj.object_group === null"
                             link="/copy/{{ obj.copy_bad_id }}?descId={{ obj.desc_id }}"
                             image="{{ obj.dbi }}.100.jpg"
                             footer="<b>{{obj.copy_title}}, Composed {{obj.copy_composition_date_string}}</b><br>{{obj.full_object_id}}">
            </handprint-block>
        </div>
    </div>

    <!-- COPIES -->
    <div class="row" ng-if="tr.bds.object.text_ref.copies.length > 0">
        <h3>Copies</h3>
        <div ng-repeat="cp in tr.bds.object.text_ref.copies track by $index" class="col-sm-6 col-md-3">
            <handprint-block link="/copy/{{cp.bad_id}}"
                             image="{{ cp.image }}.100.jpg"
                             footer="Copy {{cp.archive_copy_id}}, {{cp.source.objinfo.printdate['#text']}}, {{cp.institution}}">
            </handprint-block>
        </div>
    </div>

    <!-- WORKS -->
    <div class="row" ng-if="tr.bds.object.text_ref.works.length > 0">
        <h3>Works</h3>
        <div ng-repeat="wk in tr.bds.object.text_ref.works track by $index" class="col-sm-6 col-md-3">
            <handprint-block link="/work/{{wk.bad_id}}"
                             image="{{ wk.image }}.100.jpg"
                             footer="{{ wk.title }}">
            </handprint-block>
        </div>
    </div>
</div>