<ul class="nav navbar-nav blake-menu">
  <li dropdown class="dropdown"><a dropdown-toggle role="button" aria-expanded="false">Illuminated <span>Books</span></a>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="menu_list in menu.lists.illuminated_books"><a href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }}
        (Composed {{ menu_list.composition_date_string }})</a></li>
    </ul>
  </li>
  <li dropdown class="dropdown"><a dropdown-toggle role="button" aria-expanded="false">Commercial Book <span>Illustrations</span></a>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" class="dropdown-header">Designed and Engraved by Blake</li>
      <li ng-repeat="menu_list in menu.lists.book_illustration[0].designed_engraved"><a
          href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }} (Composed {{ menu_list.composition_date_string }})</a></li>
      <li role="presentation" class="dropdown-header">Designed by Blake and Engraved by Other Engravers</li>
      <li ng-repeat="menu_list in menu.lists.book_illustration[0].designed"><a href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }}
        (Composed {{ menu_list.composition_date_string }})</a></li>
      <li role="presentation" class="dropdown-header">Engraved by Blake After Designs by Other Artists</li>
      <li ng-repeat="menu_list in menu.lists.book_illustration[0].engraved"><a href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }}
        (Composed {{ menu_list.composition_date_string }})</a></li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ul>
  </li>
  <li dropdown class="dropdown"><a dropdown-toggle role="button" aria-expanded="false">Separate Prints and <span>Prints in Series</span></a>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" class="dropdown-header">Designed and Engraved by Blake</li>
      <li ng-repeat="menu_list in menu.lists.prints[0].designed_engraved"><a href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }}
        (Composed {{ menu_list.composition_date_string }})</a></li>
      <li role="presentation" class="dropdown-header">Designed by Blake and Engraved by Other Engravers</li>
      <!--<li class="empty-subcat" ng-repeat="menu_list in menu.lists.prints[1].designed">—</li>-->
      <li class="empty-subcat">—</li>
      <li role="presentation" class="dropdown-header">Engraved by Blake After Designs by Other Artists</li>
      <li ng-repeat="menu_list in menu.lists.prints[0].engraved"><a href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }}
        (Composed {{ menu_list.composition_date_string }})</a></li>
      <li role="presentation" class="dropdown-header">Color Printed Drawings</li>
      <li ng-repeat="menu_list in menu.lists.prints[0].drawings"><a href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }}
        (Composed {{ menu_list.composition_date_string }})</a></li>
    </ul>
  </li>
  <li dropdown class="dropdown"><a dropdown-toggle role="button" aria-expanded="false">Drawings and <span>Paintings</span></a>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" class="dropdown-header">Pencil Sketches</li>
      <li ng-repeat="menu_list in menu.lists.drawings_paintings[0].pencil"><a href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }}
        (Composed {{ menu_list.composition_date_string }})</a></li>
      <li role="presentation" class="dropdown-header">Pen and Ink Drawings</li>
      <li ng-repeat="menu_list in menu.lists.drawings_paintings[0].pen"><a href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }}
        (Composed {{ menu_list.composition_date_string }})</a></li>
      <li role="presentation" class="dropdown-header">Monochrome Wash Drawings</li>
      <li ng-repeat="menu_list in menu.lists.drawings_paintings[0].monochrome"><a
          href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }} (Composed {{ menu_list.composition_date_string }})</a></li>
      <li role="presentation" class="dropdown-header">Water Color Drawings</li>
      <li ng-repeat="menu_list in menu.lists.drawings_paintings[0].wc"><a href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }}
        (Composed {{ menu_list.composition_date_string }})</a></li>
      <li role="presentation" class="dropdown-header">Paintings</li>
      <li ng-repeat="menu_list in menu.lists.drawings_paintings[0].paintings"><a
          href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }} (Composed {{ menu_list.composition_date_string }})</a></li>
    </ul>
  </li>
  <li dropdown class="dropdown"><a dropdown-toggle role="button" aria-expanded="false">Manuscripts
    and <span>Typographic Works</span></a>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" class="dropdown-header">Manuscripts</li>
      <li ng-repeat="menu_list in menu.lists.manuscripts_typo[0].manuscripts"><a
          href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }} (Composed {{ menu_list.composition_date_string }})</a></li>
      <li role="presentation" class="dropdown-header">Letters</li>
      <li ng-repeat="menu_list in menu.lists.manuscripts_typo[0].letters"><a href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }}
        (Composed {{ menu_list.composition_date_string }})</a></li>
      <li role="presentation" class="dropdown-header">Typographic Editions</li>
      <li ng-if="menu.lists.manuscripts_typo[0].typographic[0] != null" ng-repeat="menu_list in menu.lists.manuscripts_typo[0].typographic"><a href="/work/{{ menu_list.bad_id }}">{{ menu_list.menuTitle }}
        (Composed {{ menu_list.composition_date_string }})</a></li>
      <li ng-if="menu.lists.manuscripts_typo[0].typographic[0] == null" class="empty-subcat">—</li>
    </ul>
  </li>
</ul>