<div class="static-page-wrapper">
    <div class="sidebar-wrapper">
        <ul class="nav nav-sidebar static-page-sidebar" affix offset-top="75" offset-start="-75" offset-bottom="420" min-width="768">
            <li ng-repeat="(nav,text) in staticpage.navigation" ng-class="{active: staticpage.subSelection == nav}">
                <a ng-click="staticpage.changeContent(nav)" scroll-to-top>{{text}}</a>
            </li>
        </ul>
    </div>

    <div class="container-fluid main">
        <div class="container" style="margin-top: 50px">
            <div class="row">
                <div id="content" ng-switch on="subSelection">
                    <ng-include style="font-size: 17px" src="'/static/html/' + staticpage.subSelection + '.html'"></ng-include>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- /.container.main -->
</div>
