app_secret_key = "[secret_key_for_your_app]"
db_connection_string = 'postgresql://[username]:[password]@[host]/[dbname]'
production = False
solr = 'local'
local_image_path = ""
local_data_path = ""
wsgi_path = "/htdocs/flask/<app name>"