<div id="archive" class="container-fluid archive-top">
  <div id="object-container" class="row" >

    <div id="object-view" class="reading-view">
      <div auto-height adjust="60" breakpoint="768" style="overflow-y:scroll; overflow-x:none; float:left; width:33%; background:white" id="exhibit_article_content" >
         
        <div bind-html-compile="exhibitCtrl.exhibit_article_content">
          
        </div>
      </div>
      <div style="height:75vh; border-left-width: 13px;border-left-style: solid;border-left-color: #1d1d1d; "
        id="compare" class="scrollbar"  left-on-broadcast="viewSubMenu::readingMode" style="width:67%;">
        
        <div class="featured-object" style="height:100%;">
          
          <div class="compare-inner" style="height:100%; padding-bottom:6px;padding-top:10px;padding-left:0px;font-size:13px; width:max-content" >
            <button type="button " class="btn btn-default " style="height:21px;line-height:0.6;z-index: 1000;position: sticky;left:88%; bottom:1%" ng-class="{ 'hover':zoom==true, 'inactive':zoom==false} " class="btn btn-default " ng-click="exhibitCtrl.zoom() " tooltip="Turn on/off magnifying glass" tooltip-placement="top">
            MAGNIFY</span>
        </button>

            <div style="height:100%;" class="item" ng-repeat="i in exhibitCtrl.images track by $index" id="item-{{$index}}">

              <div class="reading-wrapper" style="height:100%;" breakpoint="768" id="{{ read.cssSafeId(o.desc_id) }}">

                <img magnify-image ng-src="/images/exhibits/{{exhibitCtrl.exId}}/{{ i.dbi }}.jpg" id="{{ $index+1 }}">
                <div width:min-content" class="reading-copy " style="width:500px">
                  <div style="width:10%" class="reading-copy-inner ">
                    <h2 ng-if="i.title" style="margin-top:0px; color:rgba(233,188,71,1)">{{i.title}}</h2>

                    <span ng-repeat="c in exhibitCtrl.captions[$index] track by $index">

                      <span ng-if="c.length > 1" ng-repeat="ct in c">
                        <h2 style="margin-top:0px; color:rgba(233,188,71,1)">
                          <input ng-model=show type=checkbox  ng-class='{open:show}'>
                          {{ct.title}}
                        </h2>
                        <p ng-show=show ng-bind-html="ct.caption"></p><br/>
                      </span>

                      <span ng-if="c.length == 1" ng-repeat="ct in c">
                        <p ng-bind-html="ct.caption"></p><br/>
                      </span>

                    </span>

                    


                  </div>

                </div>

              </div>
            </div>
            
          </div>


        </div>



      </div>
      <div style="height:15vh;display:relative;width:65%;margin-right:13px;float:right">
              <!-- loop over exhibit images and make thumbnail/links -->
              <slide-box class="exhibit-thumb-slide" style="" >
                <span ng-repeat="i in exhibitCtrl.images track by $index">
                <a href="" ng-click="exhibitCtrl.scrollTo($index+1);"><img src="/images/exhibits/{{exhibitCtrl.exId}}/{{ i.dbi }}.jpg"/></a>
                </span>
              </slide-box>
            <!-- -->
            </div>
    </div>
  </div>
</div>
