<div id="archive" class="container-fluid archive-top">
  <div id="object-container" class="row" >

    <div id="object-view" class="reading-view">
      <div auto-height adjust="70" breakpoint="768" style="overflow-y:scroll; overflow-x:none; float:left; width:33%; background:white" id="compare" >
        <div ng-bind-html="exhibitCtrl.exhibit_article_content">
        </div>
      </div>
      <div style="border-left-width: 13px;border-left-style: solid;border-left-color: #1d1d1d; overflow-y:hidden;"
        id="compare" class="scrollbar"  left-on-broadcast="viewSubMenu::readingMode" style="width:67%;">

        <div class="featured-object">
          <div class="compare-inner" style="padding-bottom:6px;padding-top:10px;padding-left:0px;font-size:13px;height:78vh;" >

            <div class="item" ng-repeat="i in exhibitCtrl.images track by $index">

              <div class="reading-wrapper" breakpoint="768" id="{{ read.cssSafeId(o.desc_id) }}"
                style="height:78vh;">

                <img magnify-image ng-src="/static/img/temp2/{{ i.dbi }}.100.jpg" id="{{ $index }}">
                <div style="width:min-content" class="reading-copy ">
                  <div style="width:10%" class="reading-copy-inner ">
                    <h1 ng-if="i.title" style="margin-top:0px; color:rgba(233,188,71,1)">{{i.title}}</h1>
                    <h1 ng-if="!i.title" style="margin-top:0px; color:rgba(233,188,71,1)">Title</h1>

                    <h4 ng-repeat="c in exhibitCtrl.captions[$index] track by $index">

                      <span ng-repeat="ct in c">
                        <input ng-model=show type=checkbox  ng-class='{open:show}'>
                        My title is: {{ct.title}}
                        <p ng-show=show ng-bind-html="ct.caption"></p><br/>
                      </span>

                    </h4>
                  </div>

                </div>

              </div>
            </div>
            <div style="position:fixed;display:relative;width:65%;">
              <!-- loop over exhibit images and make thumbnail/links -->
              <slide-box class="exhibit-thumb-slide" style="" >
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.2.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.2.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.2.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.2.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.2.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.2.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.2.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.1.100.jpg"/></a>
                <a href="#"><img src="static/img/temp2/1.2.100.jpg"/></a>
              </slide-box>
            <!-- -->
            </div>
          </div>


        </div>


      </div>
    </div>
  </div>
</div>
