<div class="row">
    <!--<p class="text-center"><em>Dates are the probable dates of {{ fromSame.bds.work.probable }}.</em></p>
    <br>-->
    <div class="col-sm-12 action-items">
        <div class="action-items-wrapper matrix">
            <ul class="list-unstyled list-inline">
                <li><a class="select-all-objects" ng-click="fromSame.selectAll()" ng-model="fromSame.selectedAll">{{ fromSame.compareText }}</a></li>
                <li><a href="/compare/{{ obj.copy_bad_id }}?descId={{ obj.desc_id }}" ng-click="fromSame.activateCompare()" class="compare-selected-objects" scroll-to-top>Compare Selected Objects</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div ng-repeat="obj in fromSame.bds.object[fromSame.type] track by $index" class="col-sm-6 col-md-3 text-center">
        <div class="select-for-compare-wrapper" ng-class="{'selected': fromSame.cof.isComparisonObject(obj,fromSame.type)}" tooltip="Click in corner to select or deselect for comparison"  tooltip-trigger="mouseenter" tooltip-placement="top-right">
            <span class="selected" ng-click="fromSame.selectOne(obj);"><span class="icon" ng-if="fromSame.cof.isComparisonObject(obj)"></span></span>
            <handprint-block ng-if="obj.title && obj.copy_print_date_string"
                    link="/copy/{{ obj.copy_bad_id }}?descId={{ obj.desc_id }}"
                    image="{{ obj.dbi }}.100.jpg"
                    footer="<b>{{obj.copy_title}}, Printed {{obj.copy_print_date_string}}</b><br>{{obj.title}}<br>{{obj.full_object_id}}"
                    
                >
            </handprint-block>
            <handprint-block ng-if="obj.title && !obj.copy_print_date_string && !obj.source.repository.institution['#text']"
                    link="/copy/{{ obj.copy_bad_id }}?descId={{ obj.desc_id }}"
                    image="{{ obj.dbi }}.100.jpg"
                    footer="<b>{{obj.copy_title}}, Composed {{obj.copy_composition_date_string}}</b><br>{{obj.title}}<br>{{obj.full_object_id}}"
                    
                >
            </handprint-block>
            <handprint-block ng-if="obj.title && !obj.copy_print_date_string && obj.source.repository.institution['#text']"
                    link="/copy/{{ obj.copy_bad_id }}?descId={{ obj.desc_id }}"
                    image="{{ obj.dbi }}.100.jpg"
                    footer="<b>{{obj.copy_title}}, Composed {{obj.copy_composition_date_string}}</b><br>{{obj.title}}<br>{{obj.full_object_id}}"
                    
                >
            </handprint-block>
            <handprint-block ng-if="!obj.title && obj.copy_print_date_string"
                    link="/copy/{{ obj.copy_bad_id }}?descId={{ obj.desc_id }}"
                    image="{{ obj.dbi }}.100.jpg"
                    footer="<b>{{obj.copy_title}}, Printed {{obj.copy_print_date_string}}</b><br>{{obj.full_object_id}}"
                    
                >
            </handprint-block>
             <handprint-block ng-if="!obj.title && !obj.copy_print_date_string"
                    link="/copy/{{ obj.copy_bad_id }}?descId={{ obj.desc_id }}"
                    image="{{ obj.dbi }}.100.jpg"
                    footer="<b>{{obj.copy_title}}, Composed {{obj.copy_composition_date_string}}</b><br>{{obj.full_object_id}}"
                    
                >
            </handprint-block>
        </div>
    </div>
</div>
