<div id="object-detail-tray" ng-style="{'min-height': tray.trayHeight}">
    <div class="tray-toggle" ng-click="tray.toggle()">Open/Close Tray</div>
    <div id="object-detail-tray-inner">

        <accordion close-others="true" id="object-detail-tray-accordion">
            <accordion-group id="textual-transcription" is-open="tray.open.text">
                <div ng-style="{'max-height': tray.trayBodyHeight}">
                    <accordion-heading>
                        Textual Transcription
                        <a ng-click="tray.newWindow(tray.object,'text')" class="new-window" title="new window">New Window</a>
                    </accordion-heading>
                    <text-transcription object="tray.object"></text-transcription>
                </div>
            </accordion-group>

            <accordion-group id="illustration-description" is-open="tray.open.desc">
              <div ng-style="{'max-height': tray.trayBodyHeight}">
                  <accordion-heading>
                      Illustration Description
                      <a ng-click="tray.newWindow(tray.object,'desc')" class="new-window" title="new window">New Window</a>
                  </accordion-heading>

                  <illustration-description object="tray.object"></illustration-description>
              </div>
            </accordion-group>

            <accordion-group id="editors-notes" is-open="tray.open.notes">
              <div ng-style="{'max-height': tray.trayBodyHeight}">
                  <accordion-heading>
                      Editors’ Notes
                      <a ng-click="tray.newWindow(tray.object,'note')" class="new-window" title="new window">New Window</a>
                  </accordion-heading>

                  <editor-notes object="tray.object"></editor-notes>
              </div>
            </accordion-group>

        </accordion>

      </div>
</div>