<div id="object-detail-tray">
      <div class="tray-toggle" ng-click="toggleTray()">Open/Close Tray</div>
      <div id="object-detail-tray-inner">
        <accordion close-others="true">
          <accordion-group is-open="status.transcription">
              <accordion-heading>
                  <a href="#">Textual Transcription</a>
                  <a href="#" title="new window" class="new-window" ng-class="{'hide': !status.transcription, '': status.transcription}" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ copy.archive_copy_id }}</p>

              <p><a href="#">[ n ]</a></p>
              <ol>
                <li ng-repeat="line in getObjLines()"><span>{{ line }}</span></li>
              </ol>
              <p><a href="#">Color key for transcriptions</a></p>
          </accordion-group>
          <accordion-group is-open="status.desc">
              <accordion-heading>
                  <a href="#">Illustration Description</a>
                  <a href="#" title="new window" class="new-window" ng-class="{'hide': !status.desc, '': status.desc}" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ obj.full_object_id }}</p>

              <p><strong>Sector CD<br>
                Plate Illustration:</strong></p>

              <p>{{ obj.illustration_description.illusobjdesc['#text'] }}</p>

              <div ng-repeat="component in obj.components">
                <p><strong>Component (Sector {{ component.component['@location'] }})</strong></p>

                <p class="keywords">Keywords:
                <ul class="list-inline">
                  <li ng-repeat="characteristic in component.component.characteristic">{{ characteristic["#text"] }}</li>
                </ul>
                </p>

                <p>{{ component.component.illusobjdesc['#text'] }}</p>
              </div>
          </accordion-group>
          <accordion-group is-open="status.notes">
              <accordion-heading>
                  <a href="#">Editors’ Notes</a>
                  <a href="#" title="new window" class="new-window" ng-class="{'hide': !status.notes, '': status.notes}" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ obj.full_object_id }}</p>

              <p><strong>Object Note(s):</strong></p>

              <div ng-if="obj.physical_description.objnote">
                <p>Note:</p>

                <p>{{ obj.physical_description.objnote['#text'] }}</p>
              </div>
              <p><strong>Textual Note(s):</strong></p>
              <p><em>No textual notes for this object</em></p>
          </accordion-group>
          <accordion-group is-open="status.metadata">
              <accordion-heading>
                  <a href="#">Object Meta Data</a>
                  <a href="#" title="new window" class="new-window" ng-class="{'hide': !status.metadata, '': status.metadata}"  ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ obj.full_object_id }}</p>

              <p><em>Object Meta Data goes here...</em></p>
          </accordion-group>
            <accordion-group is-open="status.tei">
              <accordion-heading>
                  <a href="#">TEI Markup</a>
                  <a href="#" title="new window" class="new-window" ng-class="{'hide': !status.tei, '': status.tei}" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ obj.full_object_id }}</p>

              <p><em>Object Meta Data goes here...</em></p>
          </accordion-group>
        </accordion>
      </div>
</div>