<!-- type -->
<li dropdown class="dropdown" ng-click="$event.stopPropagation()">
    <a dropdown-toggle role="button" aria-expanded="false">Medium <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <input type="checkbox" ng-model="msf.s.searchConfig.searchAllTypes" ng-change="msf.s.allTypes()"> Any
        </li>
        <li>
            <input type="checkbox" ng-model="msf.s.searchConfig.searchIlluminatedBooks" ng-change="msf.s.changeType()"> Illuminated Books
        </li>
        <li>
            <input type="checkbox" ng-model="msf.s.searchConfig.searchCommercialBookIllustrations" ng-change="msf.s.changeType()"> Commercial Book Illustrations
        </li>
        <li>
            <input type="checkbox" ng-model="msf.s.searchConfig.searchSeparatePrints" ng-change="msf.s.changeType()"> Separate Prints
        </li>
        <li>
            <input type="checkbox" ng-model="msf.s.searchConfig.searchDrawingsPaintings" ng-change="msf.s.changeType()"> Drawings and
            Paintings
        </li>
        <li>
            <input type="checkbox" ng-model="msf.s.searchConfig.searchManuscripts" ng-change="msf.s.changeType()"> Manuscripts and
            Typographic Works
        </li>
        <li>
            <input type="checkbox" ng-model="msf.s.searchConfig.searchRelatedMaterials" ng-change="msf.s.changeType()"> Related Materials
        </li>
    </ul>
</li>