<div class="navbar navbar-default" id="searchOptions">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav">
                <date-search-field/>

                <field-search-field/>

                <medium-search-field/>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>

<div id="archive-tabs" role="tabpanel">
    
    <div class="container-fluid main" id="search">

        <div ng-if="search.s.queryString == ''" style="padding-top:20px; text-align:center">Search string with stopwords removed: <span style="color:blue">NULL<span></div>
        <div ng-if="!search.s.queryString == ''" style="padding-top:20px; text-align:center">Search string with stopwords removed: <i style="color:blue">{{search.s.queryString}}</i></div>
        <search-results ng-if="search.s.searchConfig.searchTitle || search.s.searchConfig.searchAllFields" label="Title" results="search.s.objectResults['title']" type="title" tree="object"/>
        <search-results ng-if="search.s.searchConfig.searchText || search.s.searchConfig.searchAllFields" label="Transcription" results="search.s.objectResults['text']" type="text" tree="object"/>
        <search-results ng-if="search.s.searchConfig.searchImageDescriptions || search.s.searchConfig.searchAllFields" label="Illustration Description" results="search.s.objectResults['description']" type="description" tree="object"/>
        <search-results ng-if="search.s.searchConfig.searchImageKeywords || search.s.searchConfig.searchAllFields" label="Image Tag" results="search.s.objectResults['tag']" type="tag" tree="object"/>
        <search-results ng-if="search.s.searchConfig.searchNotes || search.s.searchConfig.searchAllFields" label="Editors' Note" results="search.s.objectResults['notes']" type="notes" tree="object"/>
        <search-results ng-if="search.s.searchConfig.searchCopyInformation || search.s.searchConfig.searchAllFields" label="Copy Information" results="search.s.copyResults['copy-info']" type="copy-info" tree="copy"/>
        <search-results ng-if="search.s.searchConfig.searchWorkInformation || search.s.searchConfig.searchAllFields" label="Work Information" results="search.s.workResults['info']" type="work-info" tree="work"/>

        <div ng-if="!search.s.hasResults()" style="text-align:center">
            NO RESULTS
        </div>

    </div>
</div>