<div class="container-fluid main" id="search">

    <h1>Blake Search</h1>
    <hr>
    <div class="row blake-search">
        <form ng-submit="search()">
            <div class="col-md-offset-1 col-md-3">
                <h3>Restrict date range:</h3>

                <div range-slider min="1772" max="1827" show-values="true" model-min="searchConfig.minDate"
                     model-max="searchConfig.maxDate"></div>
                <ul class="list-inline">
                    <li style="padding-bottom: 10px"><input type="checkbox" ng-model="searchConfig.useCompDate">Composition date
                    </li>
                    <li><input type="checkbox" ng-model="searchConfig.usePrintDate">Printing date</li>
                </ul>
            </div>
            <div class="col-md-1">
                <div class="btn-group" dropdown>
                    <button id="search-type-button" type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>Search Type</button>
                    <ul dropdown-menu class="dropdown-menu" role="menu" aria-labelledby="search-type-button">
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchTitle"> Title
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchText"> Transcriptions
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchWorkInformation"> Editors' notes
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchImageKeywords"> Image tags
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchImageDescriptions"> Illustration descriptions
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <div class="btn-group" dropdown>
                    <button id="search-medium-button" type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>Search Medium</button>
                    <ul dropdown-menu class="dropdown-menu" role="menu" aria-labelledby="search-medium-button">
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchIlluminatedBooks"> Illuminated books
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchCommercialBookIllustrations"> Commercial book illustrations
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchSeparatePrints"> Separate prints
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchDrawingsPaintings"> Drawings and paintings
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchManuscripts"> Manuscripts and typographic editions
                        </li>

                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchRelatedMaterials"> Related materials
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Search the Blake Archive"
                       ng-model="searchConfig.searchString">
            </div>
            <div class="col-md-1">
                <button id="search-button" class="btn btn-primary btn-block">Search</button>
            </div>
        </form>
    </div>
    <div class="row blake-search">
        <div class="col-md-offset-1 col-md-10">
            <div ng-hide="workResultsMatchingFilter('title_results').length > 0 ||
                          workResultsMatchingFilter('work_info_results').length > 0 ||
                          objectResultsMatchingFilter('title_results').length > 0 ||
                          objectResultsMatchingFilter('text_results').length > 0 ||
                          objectResultsMatchingFilter('tag_results').length > 0 ||
                          objectResultsMatchingFilter('description_results').length > 0">
                No results found
            </div>
            <div ng-show="objectResultsMatchingFilter('title_results').length > 0">
                <h3>Objects with a matching title</h3>

                <div class="row">
                    <ul class="list-unstyled">
                        <li ng-repeat="obj in objectResultsMatchingFilter('title_results')" class="col-sm-12 col-md-4 handprint-block">

                            <a href="/blake/copy/{{ obj.copy_id }}/{{ obj.id }}">
              <span class="object-img"
                    style="background-image: url(http://www.blakearchive.org/blake/images/{{ obj.dbi }}.100.jpg);"></span>
                    <span
                            class="description"><strong>{{ obj.title }}</strong></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="objectResultsMatchingFilter('text_results').length > 0">
                <h3>Objects with matching text</h3>

                <div class="row">
                    <ul class="list-unstyled">
                        <li ng-repeat="obj in objectResultsMatchingFilter('text_results')" class="col-sm-12 col-md-4 handprint-block">

                            <a href="/blake/copy/{{ obj.copy_id }}/{{ obj.id }}">
              <span class="object-img"
                    style="background-image: url(http://www.blakearchive.org/blake/images/{{ obj.dbi }}.100.jpg);"></span>
                    <span
                            class="description"><strong>{{ obj.title }}</strong></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="objectResultsMatchingFilter('tag_results').length > 0">
                <h3>Objects with a matching image tag</h3>

                <div class="row">
                    <ul class="list-unstyled">
                        <li ng-repeat="obj in objectResultsMatchingFilter('tag_results')" class="col-sm-12 col-md-4 handprint-block">

                            <a href="/blake/copy/{{ obj.copy_id }}/{{ obj.id }}">
              <span class="object-img"
                    style="background-image: url(http://www.blakearchive.org/blake/images/{{ obj.dbi }}.100.jpg);"></span>
                    <span
                            class="description"><strong>{{ obj.title }}</strong></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="objectResultsMatchingFilter('description_results').length > 0">
                <h3>Objects with a matching illustration description</h3>

                <div class="row">
                    <ul class="list-unstyled">
                        <li ng-repeat="obj in objectResultsMatchingFilter('description_results')" class="col-sm-12 col-md-4 handprint-block">

                            <a href="/blake/copy/{{ obj.copy_id }}/{{ obj.id }}">
              <span class="object-img"
                    style="background-image: url(http://www.blakearchive.org/blake/images/{{ obj.dbi }}.100.jpg);"></span>
                    <span
                            class="description"><strong>{{ obj.title }}</strong></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="workResultsMatchingFilter('title_results').length > 0">
                <h3>Works with a matching title</h3>

                <div class="row">
                    <ul class="list-unstyled">
                        <li ng-repeat="work in workResultsMatchingFilter('title_results')" class="col-sm-6 col-md-3 handprint-block">
                            <a href="/blake/work/{{ work.bad_id }}">
              <span class="object-img"
                    style="background-image: url(http://www.blakearchive.org/blake/images/{{ work.image }}.100.jpg);"></span>
                    <span
                            class="description"><strong>{{ obj.title }}</strong></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="workResultsMatchingFilter('work_info_results').length > 0">
                <h3>Works with matching work information or notes</h3>

                <div class="row">
                    <ul class="list-unstyled">
                        <li ng-repeat="work in workResultsMatchingFilter('work_info_results')" class="col-sm-6 col-md-3 handprint-block">
                            <a href="/blake/work/{{ work.bad_id }}">
              <span class="object-img"
                    style="background-image: url(http://www.blakearchive.org/blake/images/{{ work.image }}.100.jpg);"></span>
                    <span
                            class="description"><strong>{{ obj.title }}</strong></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
