<div class="navbar navbar-default" id="searchOptions">
    <div class="container-fluid">
        <div>
            <!--<form class="navbar-form navbar-left" role="search" ng-submit="search()">
                <div class="form-group">
                    <div class="input-group">
                        <input ng-model="searchConfig.searchString" id="searchString" type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                    </div>
                </div>
            </form>-->
            <ul class="nav navbar-nav">
                <!-- date -->
                <li dropdown class="dropdown">
                    <a dropdown-toggle role="button" aria-expanded="false">Date <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
                        <li class="list-header">Restrict Date Range:</li>
                        <li>
                            <div range-slider min="1772" max="1827" show-values="true" model-min="searchConfig.minDate" model-max="searchConfig.maxDate" on-handle-up="search()"></div>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.useCompDate" ng-change="search()"> Composition Date
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.usePrintDate" ng-change="search()"> Printing Date
                        </li>
                    </ul>
                </li>

                <!-- search field -->
                <li dropdown class="dropdown" ng-click="$event.stopPropagation()">
                    <a dropdown-toggle role="button" aria-expanded="false">Type <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchAllFields" ng-change="searchCtrl.allFields()"> Any
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchTitle" ng-change="searchCtrl.changeField()"> Title
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchText" ng-change="searchCtrl.changeField()"> Transcription
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchImageKeywords" ng-change="searchCtrl.changeField()"> Image Tag
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchNotes" ng-change="searchCtrl.changeField()"> Editors' Note
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchImageDescriptions" ng-change="searchCtrl.changeField()"> Illustration
                            Description
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchCopyInformation" ng-change="searchCtrl.changeField()"> Copy Information
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchWorkInformation" ng-change="searchCtrl.changeField()"> Work Information
                        </li>
                    </ul>
                </li>

                <!-- type -->
                <li dropdown class="dropdown" ng-click="$event.stopPropagation()">
                    <a dropdown-toggle role="button" aria-expanded="false">Medium <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchAllTypes" ng-change="searchCtrl.allTypes()"> Any
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchIlluminatedBooks" ng-change="searchCtrl.changeType()"> Illuminated Books
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchCommercialBookIllustrations" ng-change="searchCtrl.changeType()"> Commercial Book Illustrations
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchSeparatePrints" ng-change="searchCtrl.changeType()"> Separate Prints
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchDrawingsPaintings" ng-change="searchCtrl.changeType()"> Drawings and
                            Paintings
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchManuscripts" ng-change="searchCtrl.changeType()"> Manuscripts and
                            Typographic Editions
                        </li>
                        <li>
                            <input type="checkbox" ng-model="searchConfig.searchRelatedMaterials" ng-change="searchCtrl.changeType()"> Related Materials
                        </li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>

<div id="archive-tabs" role="tabpanel">
    
    <div class="container-fluid main" id="search">

        <div ng-if="objectResults.length == 0 && copyResults.count == 0 && workResults.count == 0">
            No results found
        </div>
        
        <span ng-if="objectResults.length != 0 || copyResults.count != 0 || workResults.count != 0">
        <search-results ng-if="searchConfig.searchTitle || searchConfig.searchAllFields" label="Title" results="objectResults['title']" highlight="{{searchConfig.searchString}}" type="title" tree="object"></search-results>
        <search-results ng-if="searchConfig.searchText || searchConfig.searchAllFields" label="Transcription" results="objectResults['text']" highlight="{{searchConfig.searchString}}" type="text" tree="object"></search-results>
        <search-results ng-if="searchConfig.searchImageDescriptions || searchConfig.searchAllFields" label="Illustration Description" results="objectResults['description']" highlight="{{searchConfig.searchString}}" type="description" tree="object"></search-results>
        <search-results ng-if="searchConfig.searchImageKeywords || searchConfig.searchAllFields" label="Image Tag" results="objectResults['tag']" highlight="{{searchConfig.searchString}}" type="tag" tree="object"></search-results>
        <search-results ng-if="searchConfig.searchNotes || searchConfig.searchAllFields" label="Editors' Note" results="objectResults['notes']" highlight="{{searchConfig.searchString}}" type="notes" tree="object"></search-results>
        <!--<search-results ng-if="searchConfig.searchTitle" label="Copy Title" results="copyResults['copy-title']" highlight="{{searchConfig.searchString}}" type="copy-title" tree="copy"></search-results>-->
        <search-results ng-if="searchConfig.searchCopyInformation || searchConfig.searchAllFields" label="Copy Information" results="copyResults['copy-info']" highlight="{{searchConfig.searchString}}" type="copy-info" tree="copy"></search-results>
        <!--<search-results ng-if="searchConfig.searchTitle" label="Work Title" results="workResults['title']" highlight="{{searchConfig.searchString}}" type="work-title" tree="work"></search-results>-->
        <search-results ng-if="searchConfig.searchWorkInformation || searchConfig.searchAllFields" label="Work Information" results="workResults['info']" highlight="{{searchConfig.searchString}}" type="work-info" tree="work"></search-results>
        </span>

    </div>
</div>