<div class="container-fluid main" >
    <div class="container search-options">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <form ng-submit="search()">
                        <div class="form-group col-sm-12 col-md-3">
                            <h3>Search Term:</h3>
                            <input type="text" class="form-control" id="searchString"
                                   placeholder="Search the Blake Archive" ng-model="searchConfig.searchString">
                        </div>
                        <div class="form-group col-sm-12 col-md-3">
                            <h3>Restrict date range:</h3>

                            <div range-slider min="1772" max="1827" show-values="true" model-min="searchConfig.minDate"
                                 model-max="searchConfig.maxDate"></div>
                            <ul class="list-inline">
                                <li style="padding-bottom: 10px"><input type="checkbox"
                                                                        ng-model="searchConfig.useCompDate">Composition
                                    date
                                </li>
                                <li><input type="checkbox" ng-model="searchConfig.usePrintDate">Printing date</li>
                            </ul>
                        </div>
                        <div class="form-group col-sm-12 col-md-3">
                            <h3>Search Type</h3>

                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchTitle"> Title
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchText"> Transcriptions
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchImageKeywords"> Image tags
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchNotes"> Editors' notes
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchImageDescriptions"> Illustration
                                descriptions
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchCopyInformation"> Copy information
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchWorkInformation"> Work information
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-3">
                            <h3>Search Medium</h3>

                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchIlluminatedBooks"> Illuminated books
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchCommercialBookIllustrations">
                                Commercial book illustrations
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchSeparatePrints"> Separate prints
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchDrawingsPaintings"> Drawings and
                                paintings
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchManuscripts"> Manuscripts and
                                typographic editions
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" ng-model="searchConfig.searchRelatedMaterials"> Related materials
                            </div>
                        </div>

                        <button id="search-button" class="btn btn-primary btn-block">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="archive-tabs" role="tabpanel">
    
    <div class="container-fluid main" id="search">

        <div ng-if="objectResults.length == 0 && copyResults.count == 0 && workResults.count == 0">
            No results found
        </div>
        
        <search-results label="Objects with matching title" results="objectResults['title']" highlight="{{searchConfig.searchString}}" type="title" tree="object"></search-results>
        <search-results label="Objects with matching text" results="objectResults['text']" highlight="{{searchConfig.searchString}}" type="text" tree="object"></search-results>
        <search-results label="Objects with matching illustration description" results="objectResults['description']" highlight="{{searchConfig.searchString}}" type="description" tree="object"></search-results>
        <search-results label="Objects with matching keywords" results="objectResults['tag']" highlight="{{searchConfig.searchString}}" type="tag" tree="object"></search-results>
        <search-results label="Objects with matching editors' notes" results="objectResults['notes']" highlight="{{searchConfig.searchString}}" type="notes" tree="object"></search-results>
        <search-results label="Copies with matching titles" results="copyResults['copy-title']" highlight="{{searchConfig.searchString}}" type="copy-title" tree="copy"></search-results>
        <search-results label="Copies with matching information" results="copyResults['copy-info']" highlight="{{searchConfig.searchString}}" type="copy-info" tree="copy"></search-results>
        <search-results label="Works with matching titles" results="workResults['title']['results']" highlight="{{searchConfig.searchString}}" type="work-title" tree="work"></search-results>
        <search-results label="Works with matching information" results="workResults['info']['results']" highlight="{{searchConfig.searchString}}" type="work-info" tree="work"></search-results>

    </div>
</div>