div.container-fluid > .navbar-form {
  margin-right: 22px;
}

.carousel-inner > .item {
  display: block !important;
}

/* Begin image location mods */

#home .col-xs-1, 
#home .col-sm-1, 
#home .col-md-1, 
#home .col-lg-1, 
#home .col-xs-2, 
#home .col-sm-2, 
#home .col-md-2, 
#home .col-lg-2, 
#home .col-xs-3, 
#home .col-sm-3, 
#home .col-md-3, 
#home .col-lg-3, 
#home .col-xs-4, 
#home .col-sm-4, 
#home .col-md-4, 
#home .col-lg-4, 
#home .col-xs-5, 
#home .col-sm-5, 
#home .col-md-5, 
#home .col-lg-5, 
#home .col-xs-6, 
#home .col-sm-6, 
#home .col-md-6, 
#home .col-lg-6, 
#home .col-xs-7, 
#home .col-sm-7, 
#home .col-md-7, 
#home .col-lg-7, 
#home .col-xs-8, 
#home .col-sm-8, 
#home .col-md-8, 
#home .col-lg-8, 
#home .col-xs-9, 
#home .col-sm-9, 
#home .col-md-9, 
#home .col-lg-9, 
#home .col-xs-10, 
#home .col-sm-10, 
#home .col-md-10, 
#home .col-lg-10, 
#home .col-xs-11, 
#home .col-sm-11, 
#home .col-md-11, 
#home .col-lg-11, 
#home .col-xs-12, 
#home .col-sm-12, 
#home .col-md-12, 
#home .col-lg-12 {
  padding-right: 0;
}

.site-header-container a.navbar-brand span.sig {
  background-image: url("../img/global/william_blake_archive.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .site-header-container a.navbar-brand span.sig {
    background-image: url("../img/global/william_blake_archive@2x.png") !important;
  }
}

.lightbox {
  background-image: url("../img/global/icon-lightbox.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .lightbox {
    background-image: url("../img/global/icon-lightbox@2x.png") !important;
  }
}

nav.navbar ul.navbar-nav > li > a {
  background-image: url("../img/global/arrow-open.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  nav.navbar ul.navbar-nav > li > a {
    background-image: url("../img/global/arrow-open@2x.png") !important;
  }
}

nav.navbar ul.navbar-nav .open > a,
nav.navbar ul.navbar-nav .open > a:hover,
nav.navbar ul.navbar-nav .open > a:focus {
  background-image: url("../img/global/arrow-close.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  nav.navbar ul.navbar-nav .open > a,
  nav.navbar ul.navbar-nav .open > a:hover,
  nav.navbar ul.navbar-nav .open > a:focus {
    background-image: url("../img/global/arrow-close@2x.png") !important;
  }
}

nav.navbar ul.navbar-nav .active > a,
nav.navbar ul.navbar-nav .active > a:hover,
nav.navbar ul.navbar-nav .active > a:focus {
  background-image: url("../img/global/arrow-open-active.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  nav.navbar ul.navbar-nav .active > a,
  nav.navbar ul.navbar-nav .active > a:hover,
  nav.navbar ul.navbar-nav .active > a:focus {
    background-image: url("../img/global/arrow-open-active@2x.png") !important;
  }
}

nav.navbar ul.navbar-nav .open.active > a:hover,
nav.navbar ul.navbar-nav .open.active > a:focus {
  background-image: url("../img/global/arrow-close-active.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  nav.navbar ul.navbar-nav .open.active > a:hover,
  nav.navbar ul.navbar-nav .open.active > a:focus {
    background-image: url("../img/global/arrow-close-active@2x.png") !important;
  }
}

a.select-all-objects {
  background-image: url("../img/global/select-icon.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  a.select-all-objects {
    background-image: url("../img/global/select-icon@2x.png") !important;
  }
}

a.compare-selected-objects {
  background-image: url("../img/global/compare-icon.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  a.compare-selected-objects {
    background-image: url("../img/global/compare-icon@2x.png") !important;
  }
}

.selected.handprint-block a span.object-img span.selected {
  background: transparent url(../img/global/selected-object-icon.png) no-repeat 0 0 !important;
}

a.new-window {
  background-image: url("../img/global/new-window-icon.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  a.new-window {
    background-image: url("../img/global/new-window-icon@2x.png") !important;
  }
}

.back-top {
  background-image: url("../img/global/back-top-arrow.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .back-top {
    background-image: url("../img/global/back-top-arrow.png") !important;
  }
}

#archive .tray-toggle {
  background-image: url("../img/global/open-close-tray-icon-mobile.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #archive .tray-toggle {
    background-image: url("../img/global/open-close-tray-icon-mobile@2x.png") !important;
  }
}

@media (min-width: 975px) {
  #search-button {
    margin-left: -15px;
    width: auto;
  }
}

@media (min-width: 992px) {
  #archive .tray-toggle {
    background-image: url("../img/global/open-close-tray-icon.png") !important;
  }
}
@media (min-width: 992px) and only screen and (-webkit-min-device-pixel-ratio: 2), (min-width: 992px) and only screen and (min--moz-device-pixel-ratio: 2), (min-width: 992px) and only screen and (-o-min-device-pixel-ratio: 2/1), (min-width: 992px) and only screen and (min-device-pixel-ratio: 2), (min-width: 992px) and only screen and (min-resolution: 192dpi), (min-width: 992px) and only screen and (min-resolution: 2dppx) {
  #archive .tray-toggle {
    background-image: url("../img/global/open-close-tray-icon@2x.png") !important;
  }
}

#archive #object-detail-tray .panel-group .panel.panel-default > .panel-heading .panel-title a.new-window {
  background-image: url("../img/global/new-window-icon.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #archive #object-detail-tray .panel-group .panel.panel-default > .panel-heading .panel-title a.new-window {
    background-image: url("../img/global/new-window-icon@2x.png") !important;
  }
}

#archive #object-view .featured-object-controls .chevron-right {
  background-image: url("../img/global/chevron-thin-right.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #archive #object-view .featured-object-controls .chevron-right {
    background-image: url("../img/global/chevron-thin-right@2x.png") !important;
  }
}

#archive #object-view .featured-object-controls .chevron-left {
  background-image: url("../img/global/chevron-thin-left.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #archive #object-view .featured-object-controls .chevron-left {
    background-image: url("../img/global/chevron-thin-left@2x.png") !important;
  }
}

#archive #object-view .btn-group.edit-object .btn.btn-default .edit-icon {
  background-image: url("../img/global/edit-icons.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #archive #object-view .btn-group.edit-object .btn.btn-default .edit-icon {
    background-image: url("../img/global/edit-icons@2x.png") !important;
  }
}

/* End image location mods */

#home {
  padding-right: 0;
  padding-left: 0;
}

#archive #object-view.view-objects .featured-object-controls .object-thumb:hover {
  cursor: hand;
}

.chevron, .glyphicon {
  pointer-events: none;
}

.action-items-wrapper ul li {
  display: inline;
}

.matrix {
  margin-top: -20px;
}

#date-search > li {
  padding-bottom: 10px;
}

#home h1 {
  text-align:  center;
}

#home.container-fluid.main .row div[class^="col-"] {
  padding: 0;
}

#archive #object-view.compare-objects #compare .compare-inner .item {
  max-width: 300px;
}

#archive .tray-open .tray-toggle, #archive .tray-closed .tray-toggle {
  bottom: 10px;
}

#archive #object-view.compare-objects #compare .compare-inner .item {
    margin: 0 0 20px;
}

#archive #object-view.compare-objects #compare .compare-inner .item p.object-title {
  font-size: 14px;
}

#archive #object-view.compare-objects #compare .compare-inner .item p.object-subtitle {
  text-align: center;
}

#archive #object-view.compare-objects #compare .compare-inner .item p.object-title,
#archive #object-view.compare-objects #compare .compare-inner .item p.object-subtitle {
  max-width: 75%;
  margin: 0 0 10px 45px;
}


#archive-tabs .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#archive-tabs .container-fluid.tabs .nav.nav-tabs {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: none;
}
@media (min-width: 768px){
    #archive-tabs .container-fluid.tabs .nav.nav-tabs {
        width: 750px;
    }
}
@media (min-width: 992px){
    #archive-tabs .container-fluid.tabs .nav.nav-tabs {
      width: 970px;
    }
}
@media (min-width: 1200px){
    #archive-tabs .container-fluid.tabs .nav.nav-tabs {
        width: 1170px;
    }
}

.fadeinout.ng-hide {
    opacity: 0;
}

.fadeinout.ng-hide-remove,
.fadeinout.ng-hide-add {
    display: block !important;
}

.fadeinout.ng-hide-remove {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fadeinout.ng-hide-add {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}


.copy-info {
  margin-left: 15px;
  margin-right: 15px;
}

p.object-subtitle span.object-no {
  display: block;
}

p.object-subtitle span.object-no:first-letter {
  /*text-transform: capitalize;*/
}

#archive #object-detail-tray .panel-group .panel.panel-default > .panel-heading .accordion-toggle a {
  background-position: 13px 15px;
}

#archive #object-view.compare-objects #compare .item {
  float: left;
  margin: 0 0 20px;
}

#compare .item {
  cursor: move;
}

#search-type-button + ul {
  width: 175px;
}

#search-medium-button + ul {
  width: 275px;
}

div.blake-search .col-md-1 {
  width: auto;
}

.columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.columns, .columns-short {
    margin-left: 0;
}

#objects-copy .handprint-block {
  position: relative;
}

#objects-copy .handprint-block span.object-img {
  border: 1px solid #d3d3d3;
}

.selected-for-compare {
  position: absolute;
  top: 0 ;
  right: 0;
  z-index: 4;
  background-color: #043927;
  padding: 0 4px 2px 4px;
}

/* Won't work in IE, but should help in allowing image clicks on homepage to go to object view */
.object-description {
  pointer-events: none;
}

/* Needed to move buttons back up. They're not clickable if in the info tray header. */
.panel-body > .new-window {
    display: inline-block;
    margin-top: -40px;
    position: absolute;
    right: 5px;
    z-index: 5;
}

.new-window:hover {
  cursor: pointer;
}

.panel-body > a.full-screen {
  right: 35px;
}


/******
* Image Waterfall
*******/
#homepage {
    overflow: hidden;
    max-height: 800px;
    margin-bottom: -3em;
}

@media (max-width: 400px) {
  #homepage {
    max-height: 1470px;
  }
}
@media (min-width: 768px) {
  #homepage {
    max-height: inherit;
  }
}

@media (min-width: 768px) {
  #homepage div[class^="col-"] {
    max-width: 340px;
    max-height: 800px;
  }
}
@media (min-width: 1890px) {
  #homepage div[class^="col-"] {
    max-width: 16.7%;
    max-height: 900px;
  }
}

@media (min-width: 768px) {
  #homepage div[class^="col-"] div.scrolling {
    display: block;
  }
}

@media (min-width: 768px) {
    #homepage div[class^="col-"] span.object-container {
      padding: 3px;
    }
}
#homepage div[class^="col-"] span.object-container {
  display: block;
  padding: 1px;
  position: relative;
  z-index: 1;
}

#homepage.row div[class^="col-"] span.object-container a img{
  min-width: 100%;
}

@media (min-width: 768px) {
  #homepage {
    margin-left: -6%;
    width: 2040px;
  }
}

@media (min-width: 768px){
    .scroll-window:nth-child(odd) .scrolling{
        margin-top: -90px;
    }
    .scroll-window:nth-child(even) .scrolling{
        margin-top: -20px;
    }
}

/* END IMAGE WATERFALL */

#archive-tabs .container-fluid.main .container .tab-content .tab-pane .row div[class^="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}