/*
 * Image Waterfall
 */
@media (min-width: 768px){
    #home.container-fluid.main .row div[class^="col-"] div.scrolling {
        display: block;
    }
    #home.container-fluid.main .row div[class^="col-"] {
        max-width: 300px;
        max-height: 750px;
    }
}
#home span.object-container a, #home span.object-container a img{
    min-width: 100%;
}

#archive #object-detail-tray .panel-group {
    min-height: inherit;
}
#object-detail-tray-inner,#object-detail-tray-accordion{
    min-height: inherit;
}

#archive #object-detail-tray .panel-group .panel.panel-default > .panel-heading a{
    color: #ccc;
}

#archive #object-detail-tray .panel-group .panel.panel-default#textual-transcription > .panel-heading a,
#archive #object-detail-tray .panel-group .panel.panel-default#object-tei > .panel-heading a {
    background-position: 13px 15px;
}

#archive #object-detail-tray .panel-group .panel.panel-default#illustration-description > .panel-heading a {
    background-position: 13px -109px;
}

#archive #object-detail-tray .panel-group .panel.panel-default#editors-notes > .panel-heading a {
    background-position: 13px -232px;
}

#archive #object-detail-tray .panel-group .panel.panel-default#object-metadata > .panel-heading a {
    background-position: 13px -361px;
}

/*
 * Compare buttons
 */
.matrix {
    margin-top: -20px;
}
a.select-all-objects {
    background-image: url("../img/global/select-icon.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    a.select-all-objects {
        background-image: url("../img/global/select-icon@2x.png") !important;
    }
}
a.compare-selected-objects {
    background-image: url("../img/global/compare-icon.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    a.compare-selected-objects {
        background-image: url("../img/global/compare-icon@2x.png") !important;
    }
}

/********
 * Compare object selection
 **********/

.select-for-compare-wrapper{
    width: 220px;
    position: relative;
}
.select-for-compare{
    position: absolute;
    right: 0;
    font-size: 2em;
    opacity: 0;
    color: #fff;
    background-color: rgba(1,1,1,0.5);
    padding: 2px 2px 4px 4px;
}
.handprint-block:hover .select-for-compare{
    opacity:1;
}
.handprint-block.selected-for-comparison .select-for-compare{
    opacity: 1;
    color: #F7FF00;
}


/*************
* ANGULAR ANIMATIONS
**************/
.fadeinout.ng-hide {
    opacity: 0;
}

.fadeinout.ng-hide-remove,
.fadeinout.ng-hide-add {
    display: block !important;
}

.fadeinout.ng-hide-remove {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fadeinout.ng-hide-add {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

/**************
* Show me
***************/

.img-enlarge {
    max-width: none;
}
.img-enlarge-container{
    overflow-x: scroll;
}
.showme-nav {
    margin-top: 20px;
}

#showme {
    min-height:100%;
    min-width: 100%;
}
#showme #textTranscription ol{
    list-style-type: decimal-leading-zero;
    padding: 0 0 0 23px;
}
#showme #textTranscription ol li{
    white-space: nowrap;
    color: #696969;
    line-height: 16px;
    padding-bottom: 5px;
    padding-left: 10px;
}

/*****************
* Object View
*******************/


/*************
* Reading View
**************/

@media (min-width: 768px) {
    #archive #object-view.reading-view #compare .featured-objects{
        float:left;
    }
    #archive #object-view.reading-view #compare .compare-inner {
        white-space: nowrap;
        overflow-y: hidden;
        padding-bottom: 30px;
    }

    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item{
        margin: 0;
        padding-left:15px;
        float:none;
        display: inline-block;
        white-space: normal;
    }
    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item .reading-copy .reading-copy-inner{
        min-width: 400px;
    }
    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item img{
        max-height: 100%;
        min-height: 100%;
        width: auto;
    }
    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item .reading-copy{
        max-height: 100%;
        display: flex;
        float: none;
    }
}
#archive #object-view.reading-view #compare.scrollbar .compare-inner .item .reading-copy ol li span{
    display: inline;
}
#archive #object-view.reading-view #compare .compare-inner .item img{
    opacity:1;
}

/************
* Compare View
**************/
@media (min-width: 768px) {
    #archive #object-view.compare-objects #compare .featured-objects{
        float:left;
    }
    #archive #object-view.compare-objects #compare .compare-inner {
        white-space: nowrap;
        overflow-y: hidden;
    }

    #archive #object-view.compare-objects #compare .compare-inner .item{
        margin: 0;
        padding-left:15px;
        float:none;
        display: inline-block;
        white-space: normal;
    }

}
#archive #object-view.compare-objects #compare .compare-inner .item img{
    opacity:1;
}