.container-fluid .container ul {
position:relative;left:50%;float:left;margin-right:0;margin-left:0;
}

.container-fluid .container li {
position:relative;right:50%;float:left;margin:0;list-style:none
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.handprint-block a:hover span.object-img {
  border: 2px solid black;
}

body {
  background-color: #222222;
  padding-top:50px;
}

/*
 * Image Waterfall
 */
@media (min-width: 768px){
    #home.container-fluid.main .row div[class^="col-"] div.scrolling {
        display: block;
    }
    #home.container-fluid.main .row div[class^="col-"] {
        max-width: 300px;
        max-height: 750px;
    }
}

@media (min-width: 1200px){
    #home.container-fluid.main .row div[class^="col-"] {
        max-width: 400px;
        max-height: 850px;
    }
}
#home span.object-container a, #home span.object-container a img{
    min-width: 100%;
}

#archive #object-detail-tray .panel-group {
    min-height: inherit;
}
#object-detail-tray-inner,#object-detail-tray-accordion{
    min-height: inherit;
}

#archive #object-detail-tray .panel-group .panel.panel-default > .panel-heading a{
    color: #ccc;
}

#archive #object-detail-tray .panel-group .panel.panel-default#textual-transcription > .panel-heading a,
#archive #object-detail-tray .panel-group .panel.panel-default#object-tei > .panel-heading a {
    background-position: 13px 15px;
}

#archive #object-detail-tray .panel-group .panel.panel-default#illustration-description > .panel-heading a {
    background-position: 13px -109px;
}

#archive #object-detail-tray .panel-group .panel.panel-default#editors-notes > .panel-heading a {
    background-position: 13px -232px;
}

#archive #object-detail-tray .panel-group .panel.panel-default#object-metadata > .panel-heading a {
    background-position: 13px -361px;
}

/*
 * Compare buttons
 */
.matrix {
    margin-top: -20px;
}
a.select-all-objects {
    background-image: url("../img/global/select-icon.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    a.select-all-objects {
        background-image: url("../img/global/select-icon@2x.png") !important;
    }
}
a.compare-selected-objects {
    background-image: url("../img/global/compare-icon.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    a.compare-selected-objects {
        background-image: url("../img/global/compare-icon@2x.png") !important;
    }
}

/********
 * Compare object selection
 **********/

.select-for-compare-wrapper{
    width: 220px;
    position: relative;
}
.select-for-compare{
    position: absolute;
    right: 0;
    font-size: 2em;
    opacity: 0;
    color: #fff;
    background-color: rgba(1,1,1,0.5);
    padding: 2px 2px 4px 4px;
}
.handprint-block:hover .select-for-compare{
    opacity:1;
}
.handprint-block.selected-for-comparison .select-for-compare{
    opacity: 1;
    color: #F7FF00;
}
a.select-all-objects:hover, a.compare-selected-objects:hover{
    background-color: #F7FF00;
}

a.select-all-objects{
    cursor: pointer;
}

/*************
* ANGULAR ANIMATIONS
**************/
.fadeinout.ng-hide {
    opacity: 0;
}

.fadeinout.ng-hide-remove,
.fadeinout.ng-hide-add {
    display: block !important;
}

.fadeinout.ng-hide-remove {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fadeinout.ng-hide-add {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

/**************
* Show me
***************/

.img-enlarge {
    max-width: none;
}
.img-enlarge-container{
    overflow-x: scroll;
}
.showme-nav {
    margin-top: 20px;
}

#showme {
    min-height:100%;
    min-width: 100%;
}
#showme #textTranscription ol{
    list-style-type: decimal-leading-zero;
    padding: 0 0 0 23px;
}
#showme #textTranscription ol li{
    white-space: nowrap;
    color: #696969;
    line-height: 16px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.flex{
    padding: 0;
    margin: 0;
    display: flex;
    -webkit-flex-flow: nowrap;
    flex-flow: nowrap;
    justify-content: space-around;
}

/*****************
* Object View
*******************/
@media (min-width: 768px) {
    #archive #object-view.view-objects .item .object-img-container{
        height: 100%;
        min-width: 500px;
        overflow-x: auto;
    }
    #archive #object-view.view-objects .item .object-img-container img{
        height: 100%;
    }
    #archive #object-view.view-objects .item .reading-copy .reading-copy-inner{
        min-width: 400px;
    }
    #archive #object-view.view-objects .item .reading-copy{
        max-height: 100%;
        min-width: 500px;
        overflow-x: auto;
    }
}

/*************
* Reading View
**************/

@media (min-width: 768px) {
    #archive #object-view.reading-view #compare .compare-inner{
        white-space: nowrap;
        padding-bottom: 30px;
        float:left;
    }

    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item{
        margin: 0;
        padding-left:15px;
        float:none;
        display: inline-block;
        white-space: normal;
    }
    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item .reading-copy .reading-copy-inner{
        min-width: 400px;
    }
    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item .object-img-container{
        height: 100%;
    }
    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item img{
        height: 100%;
        width: auto;
    }
    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item .reading-copy{
        max-height: 100%;
        display: flex;
        float: none;
    }
}
#archive #object-view.reading-view #compare.scrollbar .compare-inner .item .reading-copy ol li span{
    display: inline;
}
#archive #object-view.reading-view #compare .compare-inner .item img{
    opacity:1;
}

/************
* Compare View
**************/
@media (min-width: 768px) {
    #archive #object-view.compare-objects #compare .compare-inner {
        white-space: nowrap;
        float: left;
    }
    #archive #object-view.compare-objects #compare .compare-inner .item{
        margin: 0;
        padding-left:15px;
        float:none;
        display: inline-block;
        white-space: normal;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .object-img-container{
        height: 100%;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item img{
        height: 100%;
        width: auto;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .reading-copy{
        max-height: 100%;
        display: flex;
        float: none;
        color: #ccc;
        font-size: 13px;
        line-height: 18px;
        text-align: left;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .reading-copy .reading-copy-inner{
        min-width: 400px;
        width: 100%;
        padding: 0 80px 0 30px;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-face-color: #666666;
        scrollbar-arrow-color: #666666;
        scrollbar-track-color: #0a0a0a;
        scrollbar-shadow-color: #0a0a0a;
        scrollbar-highlight-color: #0a0a0a;
        scrollbar-3dlight-color: #0a0a0a;
        scrollbar-darkshadow-color: #0a0a0a;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .reading-copy .reading-copy-inner::-webkit-scrollbar {
        background-color: #0a0a0a;
        border-radius: 17px;
        width: 9px;
        height: 9px;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .reading-copy .reading-copy-inner::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .reading-copy .reading-copy-inner::-webkit-scrollbar-thumb {
        background-color: #404040;
        border-radius: 17px;
    }

}
#archive #object-view.compare-objects #compare .compare-inner .item img{
    opacity:1;
}
#archive .object-subtitle a{
    color: #999;
}
#archive .object-title a{
    color: #fff;
}

/***********
* Search Controller
*************/
.ngrs-range-slider .ngrs-runner {
    margin: 2px 9px;
}
@media (min-width: 768px){
    /*#search .search-result-container{
        white-space: nowrap;
        overflow-y: hidden;
        padding-bottom: 30px;
    }
    #search .search-result-item{
        margin: 0;
        padding-left:15px;
        float:none;
        display: inline-block;
        white-space: normal;
    }*/
}

#search .search-result-item .copy-container {
    width: 0;
    display: none;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;

}
#search .search-result-item.show-copies .copy-container {
    width: 100%;
    display: block;
}

.slide-box-viewport{
    position: relative;
    overflow: hidden;
    height: 320px;
}

.slide-box-wrapper{
    white-space: nowrap;
    padding-bottom: 30px;
    position:absolute;
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) left;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) left;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) left;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) left;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) left;
}
.slide-box-wrapper .search-result-item{
    margin: 0;
    padding-left:15px;
    display: inline-flex;
    white-space: normal;
}

#search .search-result-row .scroller .glyphicon{
    color: #eee;
    min-height: 320px;
    line-height: 320px;
    font-size: 35px;
    width: 1em;
    display: block;
    margin: -0.5em auto 0px;
    opacity: 0;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
#search .search-result-row .scroller:hover .glyphicon{
    opacity: 1;
}

#search .search-result-row .scroller-right{
    position: absolute;
    right: 0;
    height: 100%;
    width: 40px;
    background: rgba(51,51,51,1);
    background: -moz-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,51,51,0)), color-stop(100%, rgba(51,51,51,1)));
    background: -webkit-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    background: -o-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    background: -ms-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    background: linear-gradient(to right, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#333333', GradientType=1 );
}

#search .search-result-row .scroller-left {
    position:absolute;
    left: 0;
    height: 100%;
    width: 40px;
    background: rgba(51,51,51,1);
    background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,51,51,1)), color-stop(100%, rgba(51,51,51,0)));
    background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    background: -o-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    background: linear-gradient(to right, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#627d4d', GradientType=1 );
}

#search .copy-container {
    max-height: 0;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
}

#search .copy-container.show-copies{
    max-height: 20000px;
    /*-webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;*/
}

#search .copy-container .close-copies{
    border: none;
    background: transparent;
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 2em;
    opacity: 0;
}
#search .copy-container.show-copies .close-copies{
    opacity: 1;
}
#search .copy-container .objects-in-copy h4{
    margin-top: 0px;
    padding-left: 20px;
}