#archive #object-view.reading-view #compare.scrollbar .compare-inner .item p {
  width:115%;
}

@media (min-width: 768px) {
  #archive #object-view.reading-view #compare.scrollbar .compare-inner .item img {
    border: none;
    margin: 0;
    float: left;
    margin-bottom: 7px;
  }
}

@media (min-width: 768px) {
  #archive #object-view.compare-objects #compare .compare-inner .item img:hover {
    border: 5px solid yellow;
  }
}

@media (min-width: 768px) {
  #archive #object-view.compare-objects #compare .compare-inner .item.active p.object-subtitle a {
    color: yellow;
  }
}

.container-fluid.overlaycopyinfo {
  padding-bottom: 3em;
  color:white;
}

.container-fluid.overlaycopyinfo h3 {
  color:#e9bc47;
}

.carousel-control.right {
  left: auto;
  right: -5px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

#archive #object-view.view-objects {
  color: #999;
  text-align: center;
  padding-right:5px;
}

.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}

.modal-body p {
  margin: 10px 0 10px;
  padding-left: 22px ;
  text-indent: -22px ;
}

.modal-header .close {
  margin-top: -2px;
  color:white;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
  background-color: #3d3d3c;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #e9bc47;
  text-align: center;
}

.modal-footer {
  padding: 15px;
  border-top: 1px solid #e5e5e5;
  color: #e9bc47;
  background-color:#222222;
}

.modal-footer p {
  margin: 10px 0 10px;
  padding-left: 22px ;
  text-indent: -22px ;
}

.custom-tweet-button {
  display: inline-block;
  width: 30px;
  height: 41px;
  padding-top: 15px;
  float: right;
  margin-right: 10px;
}

#custom-tweet-button a {
    display: block;
    padding: 2px 13px 19px 20px;
    background: url("../img/global/twitter-128.png") center no-repeat;
    background-size:20px 20px;
  }

#archive #object-view.reading-view #compare.scrollbar .compare-inner .item .reading-copy h4 {
  color: #e5e5e5;
  font-size: 14px;
  line-height: 20px;
  margin-top:0px;
}

td,
th {
  padding: 0;
  padding-left: 2px;
}

.site-header button.collapse-archive {
  background-image: none;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 8px;
  float: right;
  position: relative;
  z-index: 10;
  -webkit-transition: padding-top 0.1s ease-out;
  -o-transition: padding-top 0.1s ease-out;
  transition: padding-top 0.1s ease-out;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #e9bc47;
  white-space: nowrap;
}

nav.navbar ul.navbar-nav ul.dropdown-menu .dropdown-header {
  font-size: 20px;
  padding: 14px 20px 1px;
}

@media (min-width: 992px) {
  #archive-tabs ul.nav-tabs.objects > li.active > a,
  #archive-tabs ul.nav-tabs.objects > li.active > a:hover,
  #archive-tabs ul.nav-tabs.objects > li.active > a:focus {
    border-right: 0px solid #ddd;
  }
}

#archive-tabs ul.nav-tabs.objects > li > a {
  color: #898989;
  border: 0px solid #ddd;
  border-radius: 1px;
  margin: 0;
}

h3 a {
    color:black;
    text-transform:uppercase;
}

div h3 {
    color:black;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height:33px;
}

@media (min-width: 768px) {
  nav.navbar ul.navbar-nav > li {
    width: 20%;
  }
}

sup a img {
    display: none;
    max-width:10000px;
}

sup a:hover {
z-index:1;
position: relative;
}

sup a:hover img {
    display: block;
    position: absolute;
    right: 0;
    top: 1.25em;
}

a.footnote {
   text-decoration:none;
   background-color: #FEF6BB;
   padding-left: 2px;
   padding-right: 2px;
   margin-right: 2px;
   -webkit-transition: all 2s ease;
   -moz-transition: all 2s ease;
   -o-transition: all 2s ease;
   transition: all 2s ease;
} 

a.footnote span {
   text-align: justify;
        z-index: 10;
        display: none; 
        padding: 5px;
        line-height: 16px;
        opacity: 0.9;
        border-radius: 4px;
        box-shadow: 5px 5px 8px #D4D4D4;
       left:-300%;
    top: 1.25em;
        transform: translate(-50%, 0);
        position: relative; 
        width: 250px;
}

a.footnote:hover span {
   display: inline; 
        color: #111;
        position: absolute;
        border: 1px solid #eaeaea;
        background-color: #fffcfc;
   
}



td.c2 {
  padding: 0px;
  text-align: left;
  width: 8%;
}

.navbar-form .input-group > .form-control {
    width: 40%;
    margin-left: 60%;
}

.navbar-form .input-group > .form-control:focus {
    width: 100%;
    margin-left: 0%;
    z-index:999;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 7px;
  left: -15px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #d5d5d5;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #d5d5d5;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: scroll;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay .handprint-block .description {
    color: white;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.closebtn {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;

    position: absolute;
    top: -11px;
    right: 5px;
}

.closebtnleft {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;

    position: absolute;
    top: -11px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}

.lightbox {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/global/icon-lightbox.png");
  display: inline-block;
  width: 30px;
  height: 41px;
  padding-top: 11px;
  float: right;
  margin-right: 8px;
}

@media (min-width: 992px) {
  #archive #object-view {
    padding-top: 0;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

.worktitle {
    background-color: #1D1D1D; 
    color: white;
}
.related-flex {
    display: flex;
    flex-wrap: wrap;
}
.related-item {
    width: 100%;
    margin-bottom: 15px;
    padding-right: 20px;
}
.related-item p {
    margin-bottom: 0;
}

.related-item span:first-child{
    font-weight: 600;
}

@media (min-width: 768px) {
    .related-item {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .related-item {
        width: 33%;
    }
}

@media (min-width: 768px) {
  nav.navbar ul.navbar-nav {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  nav.navbar ul.navbar-nav {
    max-height: inherit;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
}

a {
  background-color: transparent;
  cursor:pointer;
}

h5,
.h5 {
  font-size: 18px;
    border-bottom: solid;
    border-color: gray;
    border-width: 1px;
    padding-bottom: 10px;
    border-radius: 0%;
}

.handprint-block span.description {
  font-size: 9px;
  display: block;
}
.handprint-block .handprint-title{
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
}

@media (min-width: 992px) {
  footer .subscribe form.form-inline {
    float: left;
  }
}

footer ul.nav.nav-pills {
  font-size: 12px;
  margin: auto;
  width: 90%;
}
@media (min-width: 992px) {
  footer ul.nav.nav-pills {
    padding-bottom: 7px;
    margin: auto;
    width: 90%;
    margin-left: 111px;
  }
}

@media (min-width: 992px) {
  #archive .tray-closed .tray-toggle {
    background-position: center -93px;
    top: auto;
    right: -33px;
    bottom: 7px;
    left: auto;
    background-color:#fdfd96;
  }
}

@media (min-width: 992px) {
  #archive .tray-open .tray-toggle {
    background-position: center 7px;
    top: auto;
    right: -27px;
    bottom: 7px;
    left: auto;
  }
}

/*
 * Copy Information
 */
.indent-dl{
    margin-left: 20px;
}
dd span p {
    display: inline;
}

/*
 * OVP tabs
 */
#archive-tabs ul.nav-tabs.objects {
    text-align: center;
}

@media(min-width: 992px){

    #archive-tabs ul.nav-tabs.objects > li {
        float:none;
        display:inline-block;
        margin-left:-3px;
        margin-bottom:0;
        width:auto;
    }

}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.handprint-block a:hover span.object-img {
  border: 2px solid black;
}

#copy-info dd {
    min-height: 27px;
}

body {
  background-color: #222222;
}
@media(min-width:768px){
    body{
        padding-top:50px;
    }
}
@media(max-width: 767px){
    .navbar-fixed-top{
        position: relative;
    }
}


#archive #object-view .btn-group.edit-object .btn.btn-default.generateCitation .edit-icon {
    background-position: center -250px;
}

/*
 * External links in footer
 */
#external-links li{
    color:#999999;
}
#external-links a{
    color:rgba(233,188,71,1)
}
@media(max-width: 468px){
    #external-links li{
        display: block;
        padding: 5px 0;
    }
}

/*
 * Gallery and Reading mode buttons / dispaly info
 */

.btn-gr-selection {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}
.btn-gr-selection:hover, .btn-gr-selection:focus, .btn-gr-selection.focus, .btn-gr-selection:active, .btn-gr-selection.active{
    color: #666666;
    background-color: #eeeeee;
    border-color: #cccccc;
}

.gr-display,.gr-abbreviation {
    display:none;
}

#gr-selection{
    text-align: center;
}

#gr-selection .btn.active{
    background-color:#fdfd96;
}


@media(min-width: 768px){
    .gr-display {
        font-size:8px;
        position:absolute;
        margin-left:-16px;
        margin-top:25px;
        color:gray;
        display: inline-block;
    }
    #gr-selection{
        position: absolute;
        /*put back after lightbox*/
        /*right: 105px;*/
        /*right: 64px;*/
        right:105px;
        top: -43px;
        padding: 0;
        /*width:30px;
        height:30px;*/
    }
    .gr-title{
        display:none;
    }
    .gr-abbreviation{
        display: inline-block;
    }
}


/*
 * Image Waterfall
 */
@media (min-width: 768px){
    #home.container-fluid.main .row div[class^="col-"] div.scrolling {
        display: block;
    }
    #home.container-fluid.main .row div[class^="col-"] {
        max-width: 300px;
        max-height: 750px;
    }
}

@media (min-width: 1200px){
    #home.container-fluid.main .row div[class^="col-"] {
        /*max-width: 16.666666%;*/
        max-width: 40%;
        max-height: 1000px;
    }
}
#home span.object-container a, #home span.object-container a img{
    min-width: 100%;
}

#archive #object-detail-tray .panel-group {
    min-height: inherit;
}
#object-detail-tray-inner,#object-detail-tray-accordion{
    min-height: inherit;
}

#archive #object-detail-tray .panel-group .panel.panel-default > .panel-heading a{
    color: #ccc;
}

#archive #object-detail-tray .panel-group .panel.panel-default#textual-transcription > .panel-heading a,
#archive #object-detail-tray .panel-group .panel.panel-default#object-tei > .panel-heading a {
    background-position: 13px 15px;
}

#archive #object-detail-tray .panel-group .panel.panel-default#illustration-description > .panel-heading a {
    background-position: 13px -109px;
}

#archive #object-detail-tray .panel-group .panel.panel-default#editors-notes > .panel-heading a {
    background-position: 13px -232px;
}

#archive #object-detail-tray .panel-group .panel.panel-default#object-metadata > .panel-heading a {
    background-position: 13px -361px;
}

/*
 * Compare buttons
 */
.matrix {
    margin-top: -20px;
}
a.select-all-objects {
    background-image: url("../img/global/select-icon.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    a.select-all-objects {
        background-image: url("../img/global/select-icon@2x.png") !important;
    }
}
a.compare-selected-objects {
    background-image: url("../img/global/compare-icon.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    a.compare-selected-objects {
        background-image: url("../img/global/compare-icon@2x.png") !important;
    }
}

/********
 * Compare object selection
 **********/
.select-for-compare-wrapper:hover span.selected {
    /*background: transparent url("../img/global/selected-object-icon.png") no-repeat 0 0;*/
    display: block;
    width: 68px;
    height: 68px;
    position: absolute;
    right: 2px;
    top: 2px;
    border: 2px solid red;
}
.selected.select-for-compare-wrapper span.selected span.icon {
    background: transparent url("../img/global/selected-object-icon.png") no-repeat 0 0;
    display: block;
    width: 68px;
    height: 68px;
    position: absolute;
    right: 2px;
    top: 2px;
    /*border: 2px solid red;*/

}
.select-for-compare-wrapper:hover span.selected span.icon {
    background: transparent url("../img/global/selected-object-icon.png") no-repeat 0 0;
    display: block;
    width: 68px;
    height: 68px;
    position: absolute;
    right: -2px;
    top: -2px;
    /*border: 2px solid red;*/

}

#objects-from-same-matrix .handprint-block:hover span.object-img {
    border: 2px solid black;
}

.select-for-compare-wrapper{
    width: 220px;
    position: relative;
    margin:auto;
}

/*************
* ANGULAR ANIMATIONS
**************/
.fadeinout.ng-hide {
    opacity: 0;
}

.fadeinout.ng-hide-remove,
.fadeinout.ng-hide-add {
    display: block !important;
}

.fadeinout.ng-hide-remove {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fadeinout.ng-hide-add {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

/**************
* Show me
***************/

.img-enlarge {
    max-width: none;
}
.img-enlarge-container{
    overflow-x: scroll;
}
.showme-nav {
    margin-top: 20px;
}

#showme {
    min-height:100%;
    min-width: 100%;
    background-color: #1d1d1d;
    border-top: 1px solid #2a2a2a;
    color: #ccc;
}
#showme h1 {
    color: #fff;
}
#showme #illustrationDescription strong, #showme #editorNotes strong {
    color: #aaa39c;
}
#showme #illustrationDescription .keywords{
    font-size: 12px;
    font-style: italic;
}
#showme .subhead, #showme .nav > li > a {
    color:rgba(233,188,71,1);
}

#showme .nav > li > a:hover, #showme .nav > li > a:focus  {
    background-color: transparent;
    text-decoration: underline;
}

/*#showme #textTranscription ol{
    list-style-type: decimal-leading-zero;
    padding: 0 0 0 23px;
}
#showme #textTranscription ol li{
    white-space: nowrap;
    color: #696969;
    line-height: 16px;
    padding-bottom: 5px;
    padding-left: 10px;
}*/

@media(min-width: 768px){
    .flex{
        padding: 0;
        margin: 17px;
        display: flex;
        -webkit-flex-flow: nowrap;
        flex-flow: nowrap;
        justify-content: space-around;
        -webkit-transition: 300ms ease all;
        -moz-transition: 300ms ease all;
        -o-transition: 300ms ease all;
        transition: 300ms ease all;
    }
}

@media(min-width: 992px){
    .flex-992{
        padding: 0;
        margin: 17px;
        display: flex;
        -webkit-flex-flow: nowrap;
        flex-flow: nowrap;
        justify-content: space-around;
        -webkit-transition: 300ms ease all;
        -moz-transition: 300ms ease all;
        -o-transition: 300ms ease all;
        transition: 300ms ease all;
    }
}

.flex-wrap{
    padding: 0;
    margin: 0;
    display: block;
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
    justify-content: space-around;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
}

/******************
* All Views
********************/
.object-img-container{
    -webkit-transition: 0ms;
    -moz-transition: 0ms;
    -o-transition: 0ms;
    -ms-transition: 0ms;
    transition: 0ms;
}
.object-img-container.rotated{
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    -ms-transition: 300ms ease all;
    transition: 300ms ease all;
}
#archive #object-detail-tray{
    -webkit-transition: left 0.3s ease-out, min-height 300ms ease;
    -moz-transition: left 0.3s ease-out, min-height 300ms ease;
    -ms-transition: left 0.3s ease-out, min-height 300ms ease;
    -o-transition: left 0.3s ease-out, min-height 300ms ease;
    transition: left 0.3s ease-out, min-height 300ms ease;
}
#archive #object-detail-tray .panel-group .panel.panel-default .panel-body{
    background-color: #1d1d1d;
}

/*****************
* Object View
*******************/

@media(min-width: 768px){
    /*#archive #object-view.view-objects .item .object-img-container{
        height: 100%;
        max-width: 75%;
        overflow-x: auto;
    }
    #archive #object-view.view-objects .item .object-img-container img{
        height: auto;
        max-width: 100%;
    }*/
}

@media (min-width: 992px) {
    #archive #object-view.view-objects .featured-object{
        margin-bottom: 14px;
    }
    #archive #object-view.view-objects .item .object-img-container{
        height: 100%;
        min-width: 500px;
        overflow-x: auto;
    }
    #archive #object-view.view-objects .item .object-img-container img{
        height: 100%;
        width: auto;
    }
    #archive #object-view.view-objects .item .reading-copy .reading-copy-inner{
        min-width: 400px;
    }
    #archive #object-view.view-objects .item .reading-copy{
        max-height: 100%;
        min-width: 500px;
        overflow-x: auto;
    }

    #archive .object-img-container .magnify{
        width: 175px;
        height: 175px;
        position: absolute;
        border-radius: 100%;

        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
        0 0 7px 7px rgba(0, 0, 0, 0.25),
        inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

        display: none;
    }
    #archive .object-img-container .magnify.zoomIn{
        display: block;
    }
}

/*************
* Reading View
**************/

@media (min-width: 768px) {
    #archive #object-view.reading-view #compare .compare-inner{
        white-space: nowrap;
        padding: 30px 0;
        float:left;
        width:500%;
    }

    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item{
        margin: 0;
        padding-left:15px;
        float:none;
        display: inline-block;
        white-space: normal;
    }
    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item .reading-copy .reading-copy-inner{
        min-width: 400px;
    }
    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item img{
        height: 100%;
        width: auto;
    }
    #archive #object-view.reading-view #compare.scrollbar .compare-inner .item .reading-copy{
        max-height: 100%;
        display: flex;
        overflow:auto;
    }
}
#archive #object-view.reading-view #compare.scrollbar .compare-inner .item .reading-copy ol li span{
    display: inline;
}
#archive #object-view.reading-view #compare .compare-inner .item img{
    opacity:1;
}

/************
* Compare View
**************/
@media (min-width: 768px) {
    #archive #object-view #compare.scrollbar{
        overflow-x: scroll;
        overflow-y: scroll;
        margin-bottom: 10px;
    }
    #archive #object-view.compare-objects #compare .compare-inner {
        white-space: nowrap;
        float: left;
    }
    #archive #object-view.compare-objects #compare .compare-inner .item{
        margin: 0;
        padding-left:15px;
        float:none;
        display: inline-block;
        white-space: normal;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .object-img-container{
        height: 100%;
        text-align: center;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item img{
        height: 100%;
        width: auto;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .reading-copy{
        max-height: 100%;
        display: flex;
        float: none;
        color: #ccc;
        font-size: 13px;
        line-height: 18px;
        text-align: left;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .reading-copy .reading-copy-inner{
        min-width: 400px;
        width: 100%;
        padding: 0 80px 0 30px;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-face-color: #666666;
        scrollbar-arrow-color: #666666;
        scrollbar-track-color: #0a0a0a;
        scrollbar-shadow-color: #0a0a0a;
        scrollbar-highlight-color: #0a0a0a;
        scrollbar-3dlight-color: #0a0a0a;
        scrollbar-darkshadow-color: #0a0a0a;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .reading-copy .reading-copy-inner::-webkit-scrollbar {
        background-color: #0a0a0a;
        border-radius: 17px;
        width: 9px;
        height: 9px;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .reading-copy .reading-copy-inner::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    #archive #object-view.compare-objects #compare.scrollbar .compare-inner .item .reading-copy .reading-copy-inner::-webkit-scrollbar-thumb {
        background-color: #404040;
        border-radius: 17px;
    }

}
#archive #object-view.compare-objects #compare .compare-inner .item img{
    opacity:1;
}
#archive .object-subtitle a{
    color: #999;
}
#archive .object-title a{
    color: #fff;
}

#archive .object-title.active a{
    color: yellow;
}

/***********
* Search Bar
*************/
@media (min-width: 768px) {
    #search.container-fluid {
        padding-bottom: 30px;
    }
}
#searchOptions{
    border-color: #3b3b3b;
    border-bottom: none;
}
#searchOptions .container-fluid{
    background-color:#303030;
}
#searchOptions.navbar{
    margin-bottom: 0;
    border-radius: 0;
}

#searchOptions .dropdown-menu {
    padding: 10px 20px;
}
#searchOptions .dropdown-menu li {
    white-space: nowrap;
}
#searchOptions .ngrs-range-slider{
    min-width: 300px;
}
#searchOptions .dropdown a{
    color: #fff;
}
#searchOptions .dropdown a:hover, #searchOptions .dropdown a:focus{
    color: #ddd;
}
#searchOptions .dropdown.open a{
    color: #3b3b3b;
}
#searchOptions .dropdown .dropdown-menu{
    background-color:rgb(231, 231, 231);
    border-top: none;
}

/***********
* Search Controller
*************/

@media(min-width: 768px){

    .ngrs-range-slider .ngrs-runner {
        margin: 2px 9px;
    }
    #search .row {
        margin: 0;
    }
    #search.container-fluid {
        padding: 0;
        background: #1d1d1d;
    }
    .full-width {
        padding:0;
    }
    #search .search-result-item .copy-container {
        width: 0;
        display: none;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;

    }
    #search .search-result-item.show-copies .copy-container {
        width: 100%;
        display: block;
    }

    .slide-box-viewport{
        position: relative;
        overflow: hidden;
        height: 290px;
    }

    .slide-box-wrapper{
        white-space: nowrap;
        margin-bottom: 30px;
        position:absolute;
        -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) left;
        -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) left;
        -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) left;
        -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) left;
        transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) left;
    }
    .slide-box-wrapper .search-result-item{
        margin: 0;
        padding-left:15px;
        display: inline-flex;
        white-space: normal;
    }
}

@media (min-width:992px){
    .search-result-item .description{
        min-height: 24px;
        color: #999;
    }
    .copy-container .object-img-container img {
        max-height: 80%;
    }
}

#search .search-result-row .scroller .glyphicon{
    color: red;
    min-height: 220px;
    line-height: 220px;
    font-size: 22px;
    width: 1em;
    display: block;
    margin: -0.5em auto 0px;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

#search .search-result-row .scroller-right{
    position: absolute;
    right: 0;
    height: 220px;
    width: 70px;
    opacity: 1;
    background: rgba(51,51,51,1);
    background: -moz-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,51,51,0)), color-stop(100%, rgba(51,51,51,1)));
    background: -webkit-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    background: -o-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    background: -ms-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    background: linear-gradient(to right, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#333333', GradientType=1 );
    transition: all 200ms;
}

#search .search-result-row .scroller-left {
    position:absolute;
    left: 0;
    height: 220px;
    width: 70px;
    opacity: 1;
    background: rgba(51,51,51,1);
    background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,51,51,1)), color-stop(100%, rgba(51,51,51,0)));
    background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    background: -o-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    background: linear-gradient(to right, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#627d4d', GradientType=1 );
    transition: all 200ms;
}

#search .search-result-row .scroller:hover {
    opacity: 1;
}

#search .search-result-row .flex-992 {
    width: 90%;
    margin: 0 auto;
}

#search .search-result-row .carousel-control{
    display: none;
}

@media(min-width: 768px){
    #search .search-result-row .carousel-control {
        display: block;
        width: 5%;
        height: 80px;
        margin-top:300px;
        padding-top: 40px;
        border: solid 1px black;
        background: #4c4c4c
    }
}

@media(min-width: 992px){
    #search .search-result-row .carousel-control {
        width: 3%;
        margin:auto;
    }
}

#search .search-result-row .carousel-control:hover, #search .search-result-row .carousel-control:focus {
    background: #5a5a5a;
}

#search .search-result-row .carousel-control.right {
    text-align: right;
}
#search .search-result-row .carousel-control.left {
    text-align: left;
}

#search .search-result-item .handprint-block {
    min-height: 100%;
    position: relative;
}
#search .search-result-item.selected .handprint-block::after {
    content:'';
    position: absolute;
    /*top: 100%;*/
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-bottom: solid 50px #333333;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

#search .handprint-block-small {
    text-align: center;
    width: 220px;
    margin: 0 auto;
}

#search .handprint-block-small a {
    color: #eee;
    display: block;
    -webkit-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
    margin-bottom: 20px;
}
#search .handprint-block-small a span.object-img{
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    border: 2px solid #fff;
    display: block;
    width: 220px;
    height: 220px;
    margin: 0 auto 10px;
}

#search .handprint-block-small.selected  a span.object-img{
    border-color: #168bc1;
}

#search .handprint-block-small a span.description{
    font-size: 9px;
    display: block;
    color: #eee;
}


#search .copy-container {
    height: 100% !important;
    width: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: scroll;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;

    background-color: #333333;
    color: #eee;
}

@media(min-width: 768px){
    #search .copy-container{
        position: relative;
        height: 0;
        width: auto;
        overflow: hidden;
    }
}


#search header.page-header{
    margin: 20px 0 0px 0;
}
#search header.page-header h1{
    color: #eee;
}
#search header.page-header span{
    color: #eee;
    display: inline-block;
}

#search .copy-container.show-copies{
    height: 10000px;
}


#search .copy-container .close-copies{
    position: relative;
    float: right;
}

@media(min-width: 768px){
    #search .copy-container .close-copies{
        border: none;
        background: transparent;
        position: absolute;
        right: 5px;
        top: 20px;
        font-size: 2em;
        opacity: 1;
    }
}
.highlighted{
    font-size: 1.5em;
    background-color: #F7FF00;
    color: #000;
}

#search .object-img-container{
    margin-bottom: 20px;
}

#search .dropdown-menu{
    left: 50%
}
#search .dropdown-toggle{
    background: transparent;
    border: none;
    height: 55px;
}
#search header.page-header span.dropdown{
    display: block;
}
#search .object-preview a {
    color: #999;
    font-size: 11px;
}

#searchResultCopyInfo .col-sm-6 {
    width: 100%;
}
#searchResultCopyInfo h3 {
    color: #fff
}
#searchResultCopyInfo dt {
    text-decoration: underline;
}

.object-result-highlight{
    margin-bottom: 30px;
    padding: 0 30px;
    overflow:auto;
}

@media (min-width:992px){

    .object-result-highlight{
        margin-bottom: 0;
        padding: 0;
    }

    .copies-in-work,.objects-in-copy,.object-result-highlight{
        max-height: 89%;
        overflow-y: scroll;
        scrollbar-face-color: #666666;
        scrollbar-arrow-color: #666666;
        scrollbar-track-color: #0a0a0a;
        scrollbar-shadow-color: #0a0a0a;
        scrollbar-highlight-color: #0a0a0a;
        scrollbar-3dlight-color: #0a0a0a;
        scrollbar-darkshadow-color: #0a0a0a;
    }
    .copies-in-work::-webkit-scrollbar,.objects-in-copy::-webkit-scrollbar,.object-result-highlight::-webkit-scrollbar {
        background-color: #0a0a0a;
        border-radius: 17px;
        width: 9px;
        height: 9px;
    }
    .copies-in-work::-webkit-scrollbar-corner,.objects-in-copy::-webkit-scrollbar-corner,.object-result-highlight::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    .copies-in-work::-webkit-scrollbar-thumb,.objects-in-copy::-webkit-scrollbar-thumb,.object-result-highlight::-webkit-scrollbar-thumb {
        background-color: #404040;
        border-radius: 17px;
    }
    /*#search .object-img-container img{
        height: 100%;
        width: auto;
    }*/

}


/****************
* Citation button
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #archive #object-view .btn-group.edit-object .btn.btn-default.cite .edit-icon {
        background-image: url("../img/global/cite.png");
        background-size: 26px 24px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #archive #object-view .btn-group.edit-object .btn.btn-default.show-transcription .edit-icon {
        background-image: url("../img/global/transcription.png");
        background-size: 26px 24px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #archive #object-view .btn-group.edit-object .btn.btn-default.show-supplemental .edit-icon {
        background-image: url("../img/global/suppicon.png");
        background-size: 26px 24px;
    }
}

/**************
* True Size
****************/
.test-line{
    margin: 0 auto;
}
#known-devices{
    max-height: 450px;
    overflow-y:scroll;
}

/***************
 * Supp Images
 ****************/
.carousel-inner .handprint-block .description {
    color: red;
}
handprint-block.supp-original .handprint-block{
    min-height: 140px;
}

.supp-original .handprint-block a span.object-img{
    height: 110px;
    width: 110px;
}
@media(min-width: 768px){
    #suppImages .flexsupp {
        flex-flow: wrap;
        overflow: auto;
        padding: 0;
        margin: 17px;
        justify-content: space-around;
        transition: 300ms ease all;
    }
}
@media(min-width: 992px){
    handprint-block.supp-original{
        position: absolute;
        left: -20%;
    }
}
@media(min-width: 1200px){
    handprint-block.supp-original{
        left: -10%;
    }
}

/***************
 * Static Pages
 ****************/
.static-page-wrapper {
    margin-bottom: 3em;
}
.static-page-wrapper .container-fluid.main {
    /*padding-bottom: 0;*/
    padding-bottom: 25px;
}
.sidebar-wrapper {
    background: #fff;
}
.sidebar-wrapper ul.nav-sidebar.nav {
    padding-bottom: 0;
    margin-bottom: 0;
}


@media(min-width:768px){
    .static-page-wrapper {
        position: relative;
    }
    .sidebar-wrapper {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        overflow:hidden;
        margin-top: 50px;
    }
    .static-page-sidebar {
        width: 25%;
        margin-left: 30px;
        padding: 0 45px;
    }
    .content-right-column {
        min-height: 500px;
    }
}
@media(min-width:992px){
    .static-page-sidebar {
        margin-left: 60px;
    }
}
/***************
* Responsive Fixes
*****************/
@media (min-width: 601px) {
    #object-detail-tray{
        margin-top: 35px;
    }
}
@media (min-width: 768px) {
    #object-detail-tray{
        margin-top: 0;
    }
}


