.tei-sic {
    color: black;
    text-decoration: line-through;
}

.tei-rep-overwrite {
    color: black;
    background-color: #00CCFF;
}

.tei-rep {
    background-color: #00CCFF;
}

.tei-del-overwrite {
    color: red;
    text-decoration:line-through;
}

.tei-del-erasure {
    color: red;
    text-decoration:line-through;
    background-color:lightgray;
}

.tei-del-obscured {
    text-decoration:line-through;
    background-color:lightgray;
}

.tei-del-overstrike {
    color: black;
    text-decoration:line-through;
}

.tei-del {
    color: black;
    text-decoration: line-through;
}

.tei-instr-pencil {
    color: gray;
}

.tei-hr {
    border:1px solid #000000;
    color:#000000;
    background-color:#000000;
    height:1px;
    position:relative;
}

.tei-unclear-hi {
    color: gray;
}

.tei-subst {
    background-color: #ffff99;
}

.tei-addspan-substspan {
    color: #00ccff;
    background-color:#ffff99;
}

.tei-add-substspan {
    color: #00ccff;
    background-color:#ffff99;
}

.tei-add {
    color: #00ccff;
}

.tei-gap-cancellation {
    color:red;
    background-color:black;
    text-decoration:line-through;
}

.tei-gap {
    background-color:black;
}

.tei-hspace {
    background-color:yellow
}

.tei-columns-table-data {
    vertical-align: top;
}

.tei-vspace {
    font-size: 15pt;
    height: 2em;
}

.tei-table-extra-small {
    width: 266px;
}

.tei-table-small {
    width: 360px;
}

.tei-table {
    border-collapse: separate;
    text-align: left;
    min-width: 400px;
    padding: 10px;
}

.tei-preceding-delspan-substspan {
    background-color:#ffff99;
    text-decoration:line-through;
}

.tei-preceding-delspan {
    text-decoration:line-through;
}

.tei-preceding-addspan-substspan {
    color: #00ccff;
    background-color:#ffff99;
}

.tei-preceding-addspan {
     color: #00ccff;
}

.tei-line-number {
    width: 5%;
    color:gray;
}

.tei-line-note {
    width: 5%;
}

.tei-line-text {
    width: 90%;
    color: #eee;
}
#showme .tei-line-text{
    color: #1d1d1d;
}
.tei-line-text span{
    white-space: nowrap;
}
#colorKeyTable, #colorKeyTable tbody tr, #colorKeyTable tbody tr td{
    border: none;
}
#colorKeyTable tbody tr th{
    margin-top: 10px;
}
.tei-hi-italic{
    font-style:italic;
}