<div auto-height adjust="70" breakpoint="768" style="overflow-y:scroll; overflow-x:none; float:left; width:33%; background:white" id="compare" >
  <div ng-bind-html="exhibit.exhibit_article_content">
  </div>
  
</div>
<!--
<div style="float:right; width:67% " id="compare " class="scrollbar "  left-on-broadcast="viewSubMenu::readingMode ">
    <div class="featured-object ">
        <div class="compare-inner ">
            <div class="item " ng-repeat="o in exhibit.bds.exhibitObjects ">
                <div class="reading-wrapper " auto-height adjust="150 " breakpoint="768 " id="{{ read.cssSafeId(o.desc_id) }} ">
                    <img ng-src="/images/{{ o.dbi }}.{{dpi}}.jpg ">
                    <div class="reading-copy ">
                        <div class="reading-copy-inner ">
                            <h4 ng-if="o.title " >{{o.title}}<br><span>{{ o.full_object_id }}</span></h4>
                            <h4 ng-if="!o.title "><span>{{ o.full_object_id }}</span></h4>
                            <text-transcription object="o "></text-transcription>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
-->
<!--/.compare-->
