<div id="archive" class="container-fluid archive-top">
    <div id="object-container" class="row" ng-class="{'tray-open': copyCtrl.trayOpen, 'tray-closed': !copyCtrl.trayOpen || view.mode == 'read'}">
        <info-tray ng-if="persistentmode != 'reading'" toggle="copyCtrl.toggleTray()" adjust-height="view.mode == 'object' ? 134 : 10"></info-tray>
        <div id="object-view" ng-class="{'show-tools': copyCtrl.showTools, 'hide-tools': !copyCtrl.showTools,'view-objects': persistentmode == 'gallery','reading-view': persistentmode == 'reading','compare-objects': view.mode == 'compare'}">
            <object-viewer ng-if="persistentmode == 'gallery' && view.mode != 'compare'"></object-viewer>
            <object-compare ng-if="view.mode == 'compare'"></object-compare>
            <object-reading ng-show="persistentmode == 'reading'"></object-reading>
            <object-edit-buttons ng-if="persistentmode != 'reading'"/>
        </div>
    </div>
</div>
<div id="archive-tabs" role="tabpanel" ng-if="persistentmode != 'reading'">
    <copy-tabs></copy-tabs>
</div>
