<div id="showme" class="container-fluid main">

    <div class="row showme-nav">
        <header class="page-header">
            <h1>
                {{ showme.getOvpTitle() }}
                <span ng-if="showme.work.virtual">{{ showme.work.title }}</span>
            </h1>
            <p class="subhead">
                {{ showme.bds.object.title }}
            </p>
            <p class="subhead">
                {{ showme.bds.object.full_object_id }}
            </p>
            <div class="row showme-nav" ng-if="showme.bds.copyObjects.length > 1">
                <ul class="nav nav-justified">
                    <li>
                        <a ng-click="showme.changeObject(showme.getPreviousObject())" ng-if="showme.getPreviousObject()">Previous</a>
                    </li>
                    <li>
                        <a ng-click="showme.changeObject(showme.getNextObject())" ng-if="showme.getNextObject()">Next</a>
                    </li>
                </ul>
            </div>
        </header>
    </div>

    <hr>

   

    <!-- Object -->
    <div class="row" id="objectImg" ng-if="showme.what == 'enlargement'">
        <div class="col-xs-12 text-center img-enlarge-container">
            <img class="img-enlarge" ng-src="/images/{{ showme.bds.object.dbi }}.300.jpg">
        </div>
    </div>

    <!-- Text Transcription -->
    <div class="container">
        <div class="row" id="textTranscription" ng-if="showme.what == 'text'">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <text-transcription object="showme.bds.object"></text-transcription>
            </div>
        </div>

        <!-- Illustration Description -->
        <div class="row" id="illustrationDescription" ng-if="showme.what == 'desc'">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <illustration-description object="showme.bds.object"></illustration-description>
            </div>
        </div>

        <!-- Editor's notes -->
        <div class="row" id="editorNotes" ng-if="showme.what == 'note'">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <editor-notes object="showme.bds.object"></editor-notes>
            </div>
        </div>

        <!-- True Size -->
        <div class="row" id="trueSize" ng-if="showme.what == 'truesize'">
            <div class="col-xs-12 text-center img-enlarge-container">
                <p>{{ showme.bds.object.physical_description.objsize['#text'] }}</p>
                <img class="img-enlarge" ng-src="/images/{{ showme.bds.object.dbi }}.{{dpi}}.jpg" ng-style="showme.trueSize()">
            </div>
            <div class="col-xs-12 text-center">
                <p></p>
                <button ng-click="showme.clientPpiOpen()" class="btn btn-default">Adjust Monitor PPI</button>
            </div>
        </div>
    </div>

    <hr>

    <div class="row showme-nav" ng-if="showme.bds.copyObjects.length > 1">
        <ul class="nav nav-justified">
            <li>
                <a ng-click="showme.changeObject(showme.getPreviousObject())" ng-if="showme.getPreviousObject()">Previous</a>
            </li>
            <li><a ng-click="showme.changeObject(showme.getNextObject())" ng-if="showme.getNextObject()">Next</a></li>
        </ul>
    </div>


</div>
