<div id="archive" class="container-fluid archive-top">
    <div id="object-container" class="row">
        <div id="object-view" class="reading-view">
            <div style="height:100%;" class="item" ng-repeat="i in previewCtrl.images track by $index" id="item-{{$index}}">
                <div class="reading-wrapper" style="height:100%;" breakpoint="768">
                    <img ng-if="i.dbi != ''" magnify-image ng-src="/images/previews/{{previewCtrl.pId}}/{{ i.dbi }}.cc.jpg" id="{{ $index+1 }}">
                </div>
            </div>
        </div>
    </div>
</div>