<!-- search field -->
<li dropdown class="dropdown" ng-click="$event.stopPropagation()">
    <a dropdown-toggle role="button" aria-expanded="false">Type <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <input type="checkbox" ng-model="fsf.s.searchConfig.searchAllFields" ng-change="fsf.s.allFields()"> Any
        </li>
        <li>
            <input type="checkbox" ng-model="fsf.s.searchConfig.searchTitle" ng-change="fsf.s.changeField()"> Title
        </li>
        <li>
            <input type="checkbox" ng-model="fsf.s.searchConfig.searchText" ng-change="fsf.s.changeField()"> Transcription
        </li>
        <li>
            <input type="checkbox" ng-model="fsf.s.searchConfig.searchImageKeywords" ng-change="fsf.s.changeField()"> Image Tag
        </li>
        <li>
            <input type="checkbox" ng-model="fsf.s.searchConfig.searchNotes" ng-change="fsf.s.changeField()"> Editors' Note
        </li>
        <li>
            <input type="checkbox" ng-model="fsf.s.searchConfig.searchImageDescriptions" ng-change="fsf.s.changeField()"> Illustration
            Description
        </li>
        <li>
            <input type="checkbox" ng-model="fsf.s.searchConfig.searchCopyInformation" ng-change="fsf.s.changeField()"> Copy/Set/Receipt Information

        </li>
        <li>
            <input type="checkbox" ng-model="fsf.s.searchConfig.searchWorkInformation" ng-change="fsf.s.changeField()"> Work Information
        </li>
    </ul>
</li>