<div class="container-fluid tabs">
    <div class="container">
        <ul class="nav nav-tabs objects" role="tablist">
            <li role="presentation" ng-class="{active:tabs.selectedTab == '#objects-in-copy'}">
                <a href="" ng-click="tabs.showTab('#objects-in-copy');" role="tab">Objects in {{ tabs.getCopyOrGroup() }}</a>
            </li>
            <li role="presentation" ng-if="tabs.bds.object.matrix.length > 0" ng-class="{active:tabs.selectedTab == '#objects-from-same-matrix'}">
                <a href="" ng-click="tabs.showTab('#objects-from-same-matrix');" role="tab">Objects from the Same Matrix</a>
            </li>
            <li role="presentation" ng-if="tabs.bds.object.sequence.length > 0" ng-class="{active:tabs.selectedTab == '#objects-from-same-production-sequence'}">
                <a href="" ng-click="tabs.showTab('#objects-from-same-production-sequence');" role="tab">Objects from the Same Production Sequence</a>
            </li>
            <li role="presentation" ng-if="tabs.bds.object.motif.length > 0" ng-class="{active:tabs.selectedTab == '#objects-with-same-motif'}">
                <a href="" ng-click="tabs.showTab('#objects-with-same-motif');" role="tab">Objects with a Similar Design</a>
            </li>
            <li role="presentation"
                ng-if="tabs.bds.object.text_ref.objects.length > 0 || tabs.bds.object.text_ref.copies.length > 0 || tabs.bds.object.text_ref.works.length > 0"
                ng-class="{active:tabs.selectedTab == '#text-reference'}">
                <a href="" ng-click="tabs.showTab('#text-reference');" role="tab">Related Texts or Images</a>
            </li>
            <li ng-if="tabs.bds.work.medium != 'exhibit'" role="presentation" ng-class="{active:tabs.selectedTab == '#copy-info'}">
                <a href="" ng-click="tabs.showTab('#copy-info')" role="tab">{{ tabs.getCopyOrWork() }} Information</a>
            </li>
            <li ng-if="tabs.bds.work.medium != 'exhibit'" role="presentation" ng-class="{active:tabs.selectedTab == '#ee-info'}">
                <a href="" ng-click="tabs.showTab('#ee-info')" role="tab">Electronic Edition Information</a>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid main">
    <div class="container">
        <div class="tab-content">
            <objects-in-copy-tab ng-show="tabs.selectedTab == '#objects-in-copy'" />

            <!-- SAME MATRIX -->
            <div role="tabpanel" class="fadeinout tab-pane active in" ng-show="tabs.selectedTab == '#objects-from-same-matrix'"  id="objects-from-same-matrix">
                <header class="page-header">
                    <!--<p class="subhead">Objects from the Same Matrix</p>-->
                </header>
                <objects-from-same type="matrix"></objects-from-same>
            </div>

            <!-- SAME SEQUENCE -->
            <div role="tabpanel" class="fadeinout tab-pane active in" ng-show="tabs.selectedTab == '#objects-from-same-production-sequence'"  id="objects-from-same-production-sequence">
                <header class="page-header">
                    <!--<p class="subhead">Objects from the Same Production Sequence</p>-->
                </header>
                <objects-from-same type="sequence"></objects-from-same>
            </div>

            <!-- SAME MOTIF -->
            <div role="tabpanel" class="fadeinout tab-pane active in" ng-show="tabs.selectedTab == '#objects-with-same-motif'" id="objects-with-same-motif">
                <header class="page-header">
                    <!--<p class="subhead">Objects with the Same Motif</p>-->
                </header>
                <objects-from-same type="motif"></objects-from-same>
            </div>

            <textual-reference-tab  ng-show="tabs.selectedTab == '#text-reference'" />

            <text-match-tab  ng-show="tabs.selectedTab == '#text-match'" />

            <!-- COPY INFO -->
            <div role="tabpanel" class="fadeinout tab-pane active in" ng-show="tabs.selectedTab == '#copy-info'" id="copy-info">
                <header class="page-header">
                    <!--<p class="subhead">{{ tabs.getCopyOrWork() }} Information</p>-->
                </header>
                <copy-information copy="tabs.bds.copy" object="tabs.bds.object"></copy-information>
            </div>

            <!-- Electronic Edition Info-->
            <electronic-edition-info-tab ng-show="tabs.selectedTab == '#ee-info'"/>
        </div>
    </div>
</div>