    <div class="container-fluid tabs">
        <div class="container">
            <ul class="nav nav-tabs objects" role="tablist">
                <li ng-repeat="tab in tabs.tabs" role="presentation" ng-class="{active: tab.active == 'active'}">
                    <a href="" ng-click="tabs.showTab(tab.href)" role="tab">{{tab.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid main">
        <div class="container">
            <div class="tab-content">
                <div role="tabpanel" class="fadeinout tab-pane active in" ng-show="tabs.selectedTab == '#objects-in-copy'" id="objects-in-copy">
                    <objects-for-copy></objects-for-copy>
                </div>
                <div role="tabpanel" class="fadeinout tab-pane active in" ng-show="tabs.selectedTab == '#objects-from-same-matrix'"  id="objects-from-same-matrix">
                    <objects-from-same-matrix></objects-from-same-matrix>
                </div>
                <div role="tabpanel" class="fadeinout tab-pane active in" ng-show="tabs.selectedTab == '#objects-from-same-production-sequence'"  id="objects-from-same-production-sequence">
                    <objects-from-same-production-sequence></objects-from-same-production-sequence>
                </div>
                <div role="tabpanel" class="fadeinout tab-pane active in" ng-show="tabs.selectedTab == '#objects-with-same-motif'" id="objects-with-same-motif">
                    <objects-with-same-motif></objects-with-same-motif>
                </div>
                <div role="tabpanel" class="fadeinout tab-pane active in" ng-show="tabs.selectedTab == '#copy-info'" id="copy-info">
                    <copy-information></copy-information>
                </div>
            </div>
        </div>
    </div>