<div id="categories-section" class="container-fluid main">
    <header class="page-header">
        <p class="subhead">{{ workCtrl.bds.work.medium_pretty }}</p>
        <h1>{{ workCtrl.bds.work.title }} (Composed {{ workCtrl.bds.work.composition_date_string }})</h1>
    </header>

    <article class="categories">

        <div class="container">
            <div class="section-group" ng-bind-html="workCtrl.bds.work.info"></div>
            <hr>
            <p class="text-center"><em>Dates are the probable dates of {{ workCtrl.bds.work.probable }}.</em></p>
            <work-copies></work-copies>
        </div>
    </article>
</div>
<div class="container-bottom">
    <div class="container">
        <!--<div class="section-group">
            <h2>Related Works</h2>
            <p>Related works currently available in the William Blake Archive appear as links below. Works not currently available appear as plain text.</p>
        </div>-->
        <div class="section-group" ng-if="workCtrl.bds.work.medium=='illbk'">
            <h3 style="font-weight:bold;">All Known Copies</h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="related-flex">
                        <div class="related-item" ng-repeat="copy in workCtrl.bds.work.related_works | filter:{type:'copy'}">
                            <span ng-if="copy.link">
                                <a href="{{ copy.link }}" ng-bind-html="copy.displayTitle.trim() | markdown"></a>
                            </span>
                            <span style="font-weight:bold;" ng-if="!copy.link && copy.displayTitle" ng-bind-html="copy.displayTitle.trim() | markdown"></span>
                            <span ng-repeat="info in workCtrl.getInfo(copy.info) track by $index">
                                <span style="font-weight:bold;" ng-if="$index==0" ng-bind-html="info.trim() | markdown"></span>
                                <span ng-if="$index>0" ng-bind-html="info.trim() | markdown"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-group" ng-class="workCtrl.bds.work.related_works.length > 0 ? '' : 'hidden'">
            <h3 style="font-weight:bold;">All Known Related Items</h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="related-flex">
                        <div class="related-item" ng-repeat="copy in workCtrl.bds.work.related_works | filter:{type:'!copy'}">
                        <span ng-if="copy.link">
                            <a href="{{ copy.link }}" ng-bind-html="copy.displayTitle.trim() | markdown"></a>
                        </span>
                            <span style="font-weight:bold;" ng-if="!copy.link && copy.displayTitle" ng-bind-html="copy.displayTitle.trim() | markdown"></span>
                            <span ng-repeat="info in workCtrl.getInfo(copy.info) track by $index" ng-bind-html="info.trim() | markdown">
                                <span style="font-weight:bold;" ng-if="$index==0" ng-bind-html="info.trim() | markdown"></span>
                                <span ng-if="$index>0" ng-bind-html="info.trim() | markdown"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
