<div id="categories-section" class="container-fluid main">
    <header class="page-header">
        <p class="subhead">{{ workCtrl.bds.work.medium_pretty }}</p>
        <h1>{{ workCtrl.bds.work.title }} (Composed {{ workCtrl.bds.work.composition_date_string }})</h1>
    </header>

    <article class="categories">

        <div class="container">
            <div class="section-group-workinfo" ng-bind-html="workCtrl.bds.work.info"></div>
            <hr>
            <p class="text-center"><em>Dates are the probable dates of {{ workCtrl.bds.work.probable }}.</em>
                <span ng-if="workCtrl.bds.work.bad_id == 'vda'"><em>The abbreviation 'mpi' stands for Miscellaneous Plates and Impressions.</em></span></p>
            <p ng-if="workCtrl.bds.work.bad_id == 'bb134'" class="text-center"><em>View all receipts in Reading Mode.</em>
            <work-copies></work-copies>
        </div>
    </article>
</div>
<div class="container-bottom">
    <div class="container">
        <!--<div class="section-group">
            <h2>Related Works</h2>
            <p>Related works currently available in the William Blake Archive appear as links below. Works not currently available appear as plain text.</p>
        </div>-->
        <all-known-copies work="workCtrl.bds.work" ng-if="workCtrl.bds.work.medium=='illbk'"></all-known-copies>
        <all-known-related-items work="workCtrl.bds.work" ng-class="workCtrl.bds.work.related_works.length > 0 ? '' : 'hidden'"></all-known-related-items>
    </div>
</div>
