<!-- OBJECTS IN COPY -->
<div angular-lazy-load role="tabpanel" class="fadeinout tab-pane active in" id="objects-in-copy">
    <header class="page-header">
        <!--<p class="subhead">Objects In {{ oic.getCopyOrGroup() }}</p>-->
    </header>
    <p ng-if="oic.bds.work.virtual && oic.bds.copy.bad_id != 'letters'" class="text-center"><em>Dates are the probable dates of {{ oic.bds.work.probable }}.</em></p>
    <br>
    <div class="row">
        <!-- for letters (multi object groups) -->
        <div ng-repeat="obj in oic.bds.copyObjects | filter:{object_group: oic.bds.object.object_group}:true track by $index" class="col-sm-6 col-md-3" ng-if="oic.bds.copy.bad_id == 'letters'">
            <handprint-block scroll-to-top
                             action="oic.changeObject(obj)"
                             image="{{ obj.dbi }}.100.jpg"
                             footer="{{ obj.title }}<br>{{ obj.full_object_id }}">
            </handprint-block>
        </div>

        <!-- for everything else -->
        <div ng-repeat="obj in oic.bds.copyObjects | filter:{supplemental:null} track by $index" class="col-sm-6 col-md-3" ng-if="oic.bds.copy.bad_id != 'letters'">
                <span ng-if="oic.bds.work.probable == 'printing'">
                    <handprint-block scroll-to-top ng-if="!obj.title"
                                     action="oic.changeObject(obj)"
                                     image="{{ obj.dbi }}.100.jpg"
                                     footer="{{ obj.full_object_id }}">
                    </handprint-block>
                    <handprint-block scroll-to-top ng-if="obj.title && !oic.bds.work.virtual"
                                     action="oic.changeObject(obj)"
                                     image="{{ obj.dbi }}.100.jpg"
                                     footer="{{obj.title}}<br>{{ obj.full_object_id }}">
                    </handprint-block>
                    <handprint-block scroll-to-top ng-if="obj.title && oic.bds.work.virtual"
                                     action="oic.changeObject(obj)"
                                     image="{{ obj.dbi }}.100.jpg"
                                     footer="{{obj.title}}<br>{{ obj.full_object_id }}">
                    </handprint-block>
                </span>
                <span ng-if="oic.bds.work.probable != 'printing'">
                    <handprint-block scroll-to-top ng-if="!obj.title"
                                     action="oic.changeObject(obj)"
                                     image="{{ obj.dbi }}.100.jpg"
                                     footer="{{ obj.full_object_id }}">
                    </handprint-block>
                    <handprint-block scroll-to-top ng-if="obj.title && !oic.bds.work.virtual"
                                     action="oic.changeObject(obj)"
                                     image="{{ obj.dbi }}.100.jpg"
                                     footer="{{obj.title}}<br>{{ obj.full_object_id }}">
                    </handprint-block>
                    <handprint-block scroll-to-top ng-if="obj.title && oic.bds.work.virtual"
                                     action="oic.changeObject(obj)"
                                     image="{{ obj.dbi }}.100.jpg"
                                     footer="{{obj.title}}<br>{{ obj.full_object_id }}, {{obj.source.objdescid.compdate['#text']}}, {{obj.source.repository.institution['#text']}}">
                    </handprint-block>
                </span>
        </div>
    </div>
</div>