<div id="archive" class="container-fluid archive-top">
  <div id="object-container" class="row tray-closed">
    <div id="object-detail-tray">
      <div class="tray-toggle" ng-click="toggleTray()">Open/Close Tray</div>
      <div id="object-detail-tray-inner">
        <accordion close-others="true">
          <accordion-group>
              <accordion-heading>
                  <a href="#">Textual Transcription</a>
                  <a href="#" title="new window" class="new-window hide" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ copy.archive_copy_id }}</p>

              <p><a href="#">[ n ]</a></p>
              <ol>
                <li ng-repeat="line in getObjLines()"><span>{{ line }}</span></li>
              </ol>
              <p><a href="#">Color key for transcriptions</a></p>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                  <a href="#">Illustration Description</a>
                  <a href="#" title="new window" class="new-window hide" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ obj.full_object_id }}</p>

              <p><strong>Sector CD<br>
                Plate Illustration:</strong></p>

              <p>{{ obj.illustration_description.illusobjdesc['#text'] }}</p>

              <div ng-repeat="component in obj.components">
                <p><strong>Component (Sector {{ component.component['@location'] }})</strong></p>

                <p class="keywords">Keywords:
                <ul class="list-inline">
                  <li ng-repeat="characteristic in component.component.characteristic">{{ characteristic["#text"] }}</li>
                </ul>
                </p>

                <p>{{ component.component.illusobjdesc['#text'] }}</p>
              </div>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                  <a href="#">Editors’ Notes</a>
                  <a href="#" title="new window" class="new-window hide" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ obj.full_object_id }}</p>

              <p><strong>Object Note(s):</strong></p>

              <div ng-if="obj.physical_description.objnote">
                <p>Note:</p>

                <p>{{ obj.physical_description.objnote['#text'] }}</p>
              </div>
              <p><strong>Textual Note(s):</strong></p>
              <p><em>No textual notes for this object</em></p>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                  <a href="#">Object Meta Data</a>
                  <a href="#" title="new window" class="new-window hide" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ obj.full_object_id }}</p>

              <p><em>Object Meta Data goes here...</em></p>
          </accordion-group>
            <accordion-group>
              <accordion-heading>
                  <a href="#">TEI Markup</a>
                  <a href="#" title="new window" class="new-window hide" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ obj.full_object_id }}</p>

              <p><em>Object Meta Data goes here...</em></p>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
  <!--/.tray-->

  <div id="object-view" class="view-objects">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="featured-object">
        <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, <span ng-if="copy.archive_copy_id !== ''">Copy</span> {{ copy.archive_copy_id }}</p>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item">
            <img src="http://www.blakearchive.org/blake/images/{{ obj.dbi }}.100.jpg">

            <p class="object-subtitle"><span class="object-no">{{ obj.full_object_id }}</span></p>
          </div>
        </div>
      </div>

      <div class="featured-object-controls">
        <!-- Controls -->
        <a class="left carousel-control" role="button">
          <span class="object-thumb" ng-click="BlakeDataService.setSelectedObject(previousObject.object_id)" data-slide="prev"
                style="background-image:url(http://www.blakearchive.org/blake/images/{{ previousObject.dbi }}.100.jpg)"></span>
            <span class="glyphicon chevron" aria-hidden="true"></span>
          <span class="object-text"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control">
          <span class="object-thumb" ng-click="BlakeDataService.setSelectedObject(nextObject.object_id)" role="button" data-slide="next"
                style="background-image:url(http://www.blakearchive.org/blake/images/{{ nextObject.dbi }}.100.jpg)"></span>
            <span class="glyphicon chevron" aria-hidden="true"></span>
          <span class="object-text"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!--Edit buttons-->
    <div id="object-tools">
      <div id="object-tools-inner">
        <div class="btn-group edit-object" role="group">
          <button type="button" class="btn btn-default add-lightbox"><span class="edit-icon"></span> Add To
            Lightbox
          </button>
          <button type="button" class="btn btn-default rotate"><span class="edit-icon"></span> Rotate
          </button>
          <button type="button" class="btn btn-default zoom"><span class="edit-icon"></span> Zoom</button>
          <button type="button" class="btn btn-default true-size"><span class="edit-icon"></span> True Size
          </button>
          <button type="button" class="btn btn-default new-window"><span class="edit-icon"></span> New
            Window
          </button>
        </div>
      </div>
    </div>
    <div class="show-hide-tools"><span>Show / Hide Tools</span></div>

  </div>
  <!--/.object-view-->
</div>