<div style="text-align:center">
<div style="color:white; font-size:13 px; padding-top:1px" ng-if="read.apparatus == 'comparewith'"><span>Compared with</span><span style="color:yellow;"> Copy {{read.compareCopyId}} (Printed {{read.compareCopyPrintDateString}})</span></div>

</div>

<!--<p class="object-title">{{ read.getOvpTitle() }}</p>-->
<!-- compare -->
<div ng-style="read.apparatus=='comparewith' ? { 'margin-top':'0px' } : { 'margin-top':'21px' }" id="compare" class="scrollbar" ng-if="read.bds.copy.bad_id != 'illum'" left-on-broadcast="viewSubMenu::readingMode">
    <div class="featured-object">
        <div class="compare-inner" style="padding-bottom:12px;padding-top:6px;padding-left:0px;font-size:13px" ng-style="read.apparatus!='comparewith' && read.apparatus!='imagesonly' ? { 'padding-bottom':'15px' } : { 'padding-bottom':'6px' }">
            <!-- for letters -->
            <div class="item" ng-repeat="o in read.bds.copyObjects | filter:{object_group: read.bds.object.object_group}:true track by $index" ng-if="read.bds.copy.bad_id == 'letters'">
                <div class="reading-wrapper" auto-height adjust="150" breakpoint="768" id="{{ read.cssSafeId(o.desc_id) }}">
                    <img magnify-image ng-src="/images/{{ o.dbi }}.{{dpi}}.jpg" ng-click="read.changeObject(o)">
                    <div class="reading-copy" ng-show="read.apparatus != 'imagesonly'">
                        <div class="reading-copy-inner" ng-show="read.apparatus == 'transcriptions'">
                            <h4 ng-if="o.title" ng-click="read.changeObject(o)">{{o.title}}<br><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <h4 ng-if="!o.title" ng-click="read.changeObject(o)"><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <text-transcription object="o"></text-transcription>
                        </div>
                        <div class="reading-copy-inner" ng-show="read.apparatus == 'illustrationdescriptions'" style="width:10px">
                            <h4 ng-if="o.title" ng-click="read.changeObject(o)">{{o.title}}<br><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <h4 ng-if="!o.title" ng-click="read.changeObject(o)"><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <illustration-description object="o"></illustration-description>
                        </div>
                        <div class="reading-copy-inner" ng-show="read.apparatus == 'editorsnotes'" style="width:10px">
                            <h4 ng-if="o.title" ng-click="read.changeObject(o)">{{o.title}}<br><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <h4 ng-if="!o.title" ng-click="read.changeObject(o)"><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <editor-notes object="o"></editor-notes>
                        </div>
                    </div>
                </div>
            </div>


            <!-- for everything else -->
            <div class="item" ng-repeat="o in read.bds.copyObjects | filter:{supplemental:null} track by $index" ng-if="read.bds.copy.bad_id != 'letters'">
                <div class="reading-wrapper" auto-height adjust="150" breakpoint="768" id="{{ read.cssSafeId(o.desc_id) }}">

                    <img magnify-image ng-mouseover="read.hover = true;" ng-mouseleave="read.hover = false;" ng-src="/images/{{ o.dbi }}.{{dpi}}.jpg" ng-click="read.changeObject(o)">
                    <img magnify-image style="padding-left:10px" ng-if="read.apparatus == 'comparewith' && read.compareCopyObjects[$index] != null" ng-mouseover="read.hover = true;" ng-mouseleave="read.hover = false;" ng-src="/images/{{ read.compareCopyObjects[$index].dbi }}.{{dpi}}.jpg"> 
                    <div class="reading-copy">
                        <div class="reading-copy-inner" ng-show="read.apparatus == 'transcriptions'">
                            <h4 ng-if="o.title" ng-click="read.changeObject(o)">{{o.title}}<br><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <h4 ng-if="!o.title" ng-click="read.changeObject(o)"><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <text-transcription object="o"></text-transcription>
                        </div>
                        <div class="reading-copy-inner" ng-show="read.apparatus == 'illustrationdescriptions'" style="width:10px">
                            <h4 ng-if="o.title" ng-click="read.changeObject(o)">{{o.title}}<br><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <h4 ng-if="!o.title" ng-click="read.changeObject(o)"><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <illustration-description object="o"></illustration-description>
                        </div>
                        <div class="reading-copy-inner" ng-show="read.apparatus == 'editorsnotes'" style="width:10px">
                            <h4 ng-if="o.title" ng-click="read.changeObject(o)">{{o.title}}<br><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <h4 ng-if="!o.title" ng-click="read.changeObject(o)"><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <editor-notes object="o"></editor-notes>
                        </div>
                    </div>
                    <div style="color:white; font-size:9px; text-align:center" ng-if="read.apparatus == 'imagesonly'">{{o.full_object_id}}</div>
                    <div style="color:white; font-size:9px;" ng-if="read.apparatus == 'comparewith'"><span>{{o.full_object_id}} </span><span ng-if="read.compareCopyObjects[$index] != null" style="color:yellow;float:right;">{{read.compareCopyObjects[$index].full_object_id}}</span></div>
                </div>
            </div>
            <span style="color:white;font-size:21px;position:absolute;top:50%;padding-left:30px">END</span>
        </div>
    </div>
</div>

<!--for exhibits-->
<div auto-height adjust="70" breakpoint="768" style="overflow-y:scroll; overflow-x:none; float:left; width:33%; background:white" id="compare" ng-if="read.bds.copy.bad_id == 'illum'"">
    
           
                
                    <ng-include src="'/static/html/illuminatedprinting.exhibit.html'"></ng-include>
                   
   
</div>
<div style="float:right; width:67%" id="compare" class="scrollbar" ng-if="read.bds.copy.bad_id == 'illum'" left-on-broadcast="viewSubMenu::readingMode">
    <div class="featured-object">
        <div class="compare-inner">
            <div class="item" ng-repeat="o in read.bds.copyObjects | filter:{supplemental:null}" ng-if="read.bds.copy.bad_id != 'letters'">
                <div class="reading-wrapper" auto-height adjust="150" breakpoint="768" id="{{ read.cssSafeId(o.desc_id) }}">
                    <img magnify-image ng-src="/images/{{ o.dbi }}.{{dpi}}.jpg" ng-click="read.changeObject(o)">
                    <div class="reading-copy">
                        <div class="reading-copy-inner">
                            <h4 ng-if="o.title" ng-click="read.changeObject(o)">{{o.title}}<br><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <h4 ng-if="!o.title" ng-click="read.changeObject(o)"><span class="text-capitalize">{{ o.full_object_id }}</span></h4>
                            <text-transcription object="o"></text-transcription>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="object-tools" class="hidden-xs">
    <div id="object-tools-inner" style="text-align:center">
        <div class="btn-group edit-object" role="group">
        <button type="button" style="height:21px;line-height:0.6" ng-class="{'hover':activeapparatus == 'transcriptions'}" class="btn btn-default" ng-click="read.showTranscriptions()">
            <span class="gr-abbreviation" style="height:21px;font-size:13px;">Diplomatic Transcriptions</span>
            <span class="gr-title">Show diplomatic transcriptions</span>
        </button>
        <button type="button" style="height:21px;line-height:0.6" ng-class="{'hover':activeapparatus == 'illustrationdescriptions'}" class="btn btn-default" ng-click="read.showIllustrationDescriptions()">
            <span class="gr-abbreviation" style="height:21px;font-size:14px">Illustration Descriptions</span>
            <span class="gr-title">Show illustration descriptions</span>
        </button>
        <button type="button" class="btn btn-default" style="height:21px;line-height:0.6" ng-class="{'hover':activeapparatus == 'editorsnotes'}" class="btn btn-gr-selection" ng-click="read.showEditorsNotes()">
            <span class="gr-abbreviation" style="height:21px;font-size:13px">Editors' Notes</span>
            <span class="gr-title">Show editors' notes</span>
        </button>
        <button type="button" class="btn btn-default" style="height:21px;line-height:0.6" ng-class="{'hover':activeapparatus == 'imagesonly'}" class="btn btn-gr-selection" ng-click="read.showImagesOnly()">
            <span class="gr-abbreviation" style="height:21px;font-size:13px">Images Only</span>
            <span class="gr-title">Show images only</span>
        </button>
        <button type="button" class="btn btn-default" style="height:21px;line-height:0.6" ng-class="{'hover':zoom == true,'inactive':zoom == false}" class="btn btn-default" ng-click="read.zoom()" tooltip="Mouse over an image" tooltip-placement="top" tooltip-trigger="click">
            <span class="gr-abbreviation" style="height:21px;font-size:13px">Magnify</span>
        </button>

        <span ng-if="read.bds.workCopies.length > 1" dropdown class="dropdown">
        <button dropdown-toggle type="button" class="btn btn-default" style="height:21px;line-height:0.6;margin-bottom:1px;margin-right:1px;border-radius:0px;border-left:0px" ng-class="{'hover':activeapparatus == 'comparewith'}">
            <span class="gr-abbreviation" style="height:21px;font-size:13px">Compare with Other Copy</span>
            <span class="gr-title">Show compare with</span>
        </button>
            <ul class="dropdown-menu" style="border-radius:0px;top:inherit;bottom:100%;margin:2px 0 2px" role="menu">
                <li ng-repeat="copy in read.bds.workCopies track by $index" ng-if="copy.archive_copy_id != read.bds.copy.archive_copy_id">
                    <a ng-click="read.showCompareWith(copy.bad_id)">Copy {{copy.archive_copy_id}} (Printed {{copy.print_date_string}})</a>
                </li>
            </ul>
        </span>

       
  </div>
    </div>
</div>
<!--/.compare-->