<header class="page-header">
  <p class="subhead">{{ work.medium_pretty }}</p>
  <h1>{{ work.title }} ({{ work.composition_date_string }})</h1>
</header>

<article>
  <div class="container">
    <p><em>Dates are the probable dates of printing.</em></p>
    <div class="row">
      <div ng-repeat="copy in copies" class="col-sm-6 col-md-3">
        <div class="handprint-block">
          <a href="/blake/copy/{{ copy.bad_id }}">
            <span class="object-img"
                  style="background-image: url({{ getCopyFirstObject(copy) }});"></span>
            <span class="description">Copy {{ copy.archive_copy_id }}, {{ copy.composition_date_string }} ({{ copy.institution }})</span>
          </a>
        </div>
      </div>
    </div>
    <div class="section-group">{{ work.info }}</div>
    <div class="section-group">
      <h3>All Known Copies</h3>
      <div class="row" ng-class="copies.length > 2 ? 'columns' : 'columns-short'">
        <div ng-repeat="copy in copies">
          <p>
            <a href="/blake/copy/{{ copy.bad_id }}">Copy {{ copy.archive_copy_id }}, {{ copy.composition_date }}</a>
            <br/>
            {{ copy.institution }}
            <br/>
            {{ copy.source.repository.addressline[0]['#text'] }}<br>
            {{ copy.source.repository.addressline[1]['#text'] }}<br>
            {{ copy.source.repository.addressline[2]['#text'] }}
          </p>
        </div>
      </div>
    </div>
  </div>

</article>