<!-- Electronic Edition Info-->
<div role="tabpanel" class="fadeinout tab-pane active in" id="ee-info">
    <header class="page-header">
        <!--<p class="subhead">Electronic Edition Information</p>-->
    </header>
    <div class="row">
        <div class="col-xs-12">
            <div ng-bind-html="info.bds.copy.header_html"></div>
        </div>
    </div>

    <!-- regular copies -->
    <div class="row" ng-if="!info.bds.work.virtual">
        <div class="col-xs-12 text-center">
            <p><a href="/bad/{{ info.bds.copy.bad_id }}.xml" target="_blank">View XML</a> <small>(may not work in all browsers)</small></h4>
        </div>
    </div>

    <!-- virtual works -->
    <div class="row" ng-if="info.bds.work.virtual && info.bds.work.bad_id != 'letters'">
        <div class="col-xs-12">
            <h4>Included Objects</h4>
            <div class="well" ng-repeat="obj in info.bds.copyObjects | filter:{supplemental:null} track by $index">
                <h4>{{ obj.full_object_id }}</h4>
                <p><strong>Title:</strong> {{ obj.title }}</p>
                <p><a href="/bad/{{ obj.archive_copy_id }}.xml" target="_blank">View XML</a> <small>(may not work in all browsers)</small></p>
            </div>
        </div>
    </div>

    <!-- letters -->
    <div class="row" ng-if="info.bds.work.virtual && info.bds.work.bad_id == 'letters'">
        <div class="col-xs-12">
            <h4>Included Objects</h4>
            <div class="well" ng-repeat="obj in info.bds.workCopies track by $index">
                <h4>{{ obj.object_group}}</h4>
                <p><a href="/bad/{{ obj.copy_bad_id }}.xml" target="_blank">View XML</a> <small>(may not work in all browsers)</small></p>
            </div>
        </div>
    </div>
</div>