<div id="home" class="container-fluid main" style="max-height:80vh;" parallax>
    <div class="row">
        <div class="col-sm-2 col-xs-6 scroll-window" ng-repeat="(colKey, colVal) in home.columns">
            <div id="scroll-wrapper" style="margin-top: {{colVal.topOffset}}" class="scrolling">
                <span class="object-container" ng-repeat="work in home.featured_works | filter: { column: colKey } track by $index">
                      <a href="/copy/{{ work.bad_id }}?descId={{work.desc_id}}">
                          <img class="lazy-load" src="/static/img/featured/{{ work.dbi }}.100.jpg">
                      </a>
                      <a href="/copy/{{ work.bad_id }}?descId={{work.desc_id}}">
                          <span class="object-description">                           
                                <span class="category">{{ work.title }}</span><div class="clearfix"></div><span class="object-no text-capitalize"><span class="copy-object">{{ work.byline }}</span></span>                           
                          </span>
                      </a>
                </span>
            </div>
        </div>
    </div>
</div>
