<div class="slide-box-viewport">
    <div class="slide-box-wrapper" ng-style="{left:slideBox.leftOffset+'px'}">
        <ng-transclude></ng-transclude>
    </div>
    <div class="scroller scroller-left" ng-class="{'hidden': !slideBox.scrollerLeft}" ng-click="slideBox.scrollLeft()">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </div>
    <div class="scroller scroller-right" ng-class="{'hidden': !slideBox.scrollerRight}" ng-click="slideBox.scrollRight()">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </div>
</div>