<div class="btn-group" style="position:absolute;right:0">
        <button title="View 300dpi images instead of 100dpi" ng-class="{'active':dpivalue == '100'}" class="btn btn-gr-selection" ng-click="dpi.reloadWith100or300('100')">
            <span class="gr-abbreviation">100dpi</span>
            <span class="gr-title">View 100dpi images instead of 300dpi</span>
        </button>
        <button title="View 300dpi images instead of 100dpi" ng-class="{'active':dpivalue == '300'}" class="btn btn-gr-selection" ng-click="dpi.reloadWith100or300('300')">
            <span class="gr-abbreviation">300dpi</span>
            <span class="gr-title">View 300dpi images instead of 100dpi</span>
        </button>
</div>