<div class="btn-group" style="position:absolute;right:0">
        <button tooltip="For faster image loading." tooltip-placement="bottom" style="margin-left:-1px;line-height:0.5;border-radius:0px;height:21px" ng-class="{'active':dpivalue == '100'}" class="btn btn-gr-selection" ng-click="dpi.reloadWith100or300('100')">
            <span class="gr-abbreviation" style="height:21px;font-size:14px">100 DPI</span>
            <span class="gr-title">View 100dpi images instead of 300dpi</span>
        </button>
        <button tooltip="Performance might be slightly reduced." tooltip-placement="left" style="margin-left:-1px;line-height:0.5;border-radius:0px;height:21px" ng-class="{'active':dpivalue == '300'}" class="btn btn-gr-selection" ng-click="dpi.reloadWith100or300('300')">
            <span class="gr-abbreviation" style="height:21px;font-size:14px">300 DPI</span>
            <span class="gr-title">View 300dpi images instead of 100dpi</span>
        </button>
</div>