<header class="page-header">
    <p class="subhead">Copy Information</p>
    <h1>{{ info.getHeader().filedesc.titlestmt.title.main['#text'] }}</h1>
</header>

<div class="row">
    <div class="col-sm-6">
        <h3>Copy Information</h3>
        <dl>

            <dt>Title:</dt>
            <dd>{{ info.getHeader().filedesc.titlestmt.title.main['#text'] }}</dd>

            <div ng-repeat="origination in info.getSource().objdescid.origination track by $index">
                <dt>Origination:</dt>
                <dd>{{ origination['#text'] }}: {{ getOriginationRole(origination['role']) }}</dd>
                <div ng-if="origination.note">
                    <dt>Note:</dt>
                    <dd>{{ origination.note['#text'] }}</dd>
                </div>
            </div>

            <dt>Publisher:</dt>
            <dd>{{ info.getSource().objdescid.imprint.publisher['#text'] }}</dd>
            <div ng-if="info.getSource().objdescid.imprint.publisher.note">
        <dt>Note:</dt>
        <dd>{{ info.getSource().objdescid.imprint.publisher.note['#text'] }}</dd>
      </div>
      <dt>Place of Publication:</dt>
      <dd>{{ info.getSource().objdescid.imprint.pubplace['#text'] }}</dd>
      <div ng-if="info.getSource().objdescid.imprint.pubplace.note">
        <dt>Note:</dt>
        <dd>{{ info.getSource().objdescid.imprint.pubplace.note['#text'] }}</dd>
      </div>
      <dt>Date:</dt>
      <dd>{{ info.getSource().objdescid.imprint.date['#text'] }}</dd>
      <dt>Composition Date:</dt>
      <dd>{{ info.getSource().objdescid.compdate['#text'] }}</dd>
      <div ng-if="copy.print_date">
      <dt>Print Date:</dt>
      <dd>{{ copy.print_date }}</dd>
        </div>
      <dt>Number of Objects:</dt>
      <dd>{{ info.getSource().objinfo.numberobj['#text'] }}</dd>
      <dt>Object Order:</dt>
      <dd>{{ info.getSource().objinfo.objorder['#text'] }}</dd>
      <dt>Object Size:</dt>
      <dd>{{ info.getSource().objinfo.objsize['#text'] }}</dd>
      <dt>Number of Leaves:</dt>
      <dd>{{ info.getSource().objinfo.numberleaves['#text'] }}</dd>
      <div ng-if="info.getSource().objinfo.numberleaves.note">
        <dt>Note:</dt>
        <dd>{{ info.getSource().objinfo.numberleaves.note['#text'] }}</dd>
      </div>
      <dt>Leaf Size:</dt>
      <dd>{{ info.getSource().objinfo.leafsize['#text'] }}</dd>
      <dt>Medium:</dt>
      <dd>{{ info.getSource().objinfo.medium['#text'] }}</dd>
      <div ng-if="info.getSource().objinfo.medium.note">
        <dt>Note:</dt>
        <dd>{{ info.getSource().objinfo.medium.note['#text'] }}</dd>
      </div>
      <dt>Printing Style:</dt>
      <dd>{{ info.getSource().objinfo.printingstyle['#text'] }}</dd>
      <div ng-if="info.getSource().objinfo.printingstyle.note">
        <dt>Note:</dt>
        <dd>{{ info.getSource().objinfo.printingstyle.note['#text'] }}</dd>
      </div>
      <dt>Ink Color:</dt>
      <dd>{{ info.getSource().objinfo.inkcolor['#text'] }}</dd>
      <div ng-if="info.getSource().objinfo.inkcolor.note">
        <dt>Note:</dt>
        <dd>{{ info.getSource().objinfo.inkcolor.note['#text'] }}</dd>
      </div>
      <dt>Support:</dt>
      <dd>{{ info.getSource().objinfo.support['#text'] }}</dd>
      <dt>Watermark:</dt>
      <dd>{{ info.getSource().objinfo.support['#text'] }}</dd>
      <dt>Etched Numbers:</dt>
      <dd>{{ info.getSource().objinfo.etchednumbers['#text'] }}</dd>
      <dt>Penned Numbers:</dt>
      <dd>{{ info.getSource().objinfo.pennednumbers['#text'] }}</dd>
      <dt>Frame Lines:</dt>
      <dd>{{ info.getSource().objinfo.framelines['#text'] }}</dd>
      <dt>Binding:</dt>
      <dd>{{ info.getSource().objinfo.binding['#text'] }}</dd>
      <div ng-if="info.getSource().objinfo.binding.note">
        <dt>Note:</dt>
        <dd>{{ info.getSource().objinfo.binding.note['#text'] }}</dd>
      </div>
      <dt>Stab Holes:</dt>
      <dd>{{ info.getSource().objinfo.stabholes['#text'] }}</dd>
      <div ng-if="info.getSource().objinfo.binding.note">
        <dt>Note:</dt>
        <dd>{{ info.getSource().objinfo.stabholes.note['#text'] }}</dd>
      </div>
    </dl>
  </div>

  <div class="col-sm-6">
    <h3>Provenance</h3>
    <dl class="dl-horizontal">
      <dt>Name:</dt>
      <dd>{{ info.getSource().provenance.name['#text'] }}</dd>
      <dt>Date:</dt>
      <dd>{{ info.getSource().provenance.date['#text'] }}</dd>
      <dt>Dealer:</dt>
      <dd>{{ info.getSource().provenance.dealer['#text'] }}</dd>
      <dt>Price:</dt>
      <dd>{{ info.getSource().provenance.price['#text'] }}</dd>
      <div ng-if="info.getSource().provenance.note">
        <dt>Note:</dt>
        <dd>{{ info.getSource().provenance.note['#text'] }}</dd>
      </div>
    </dl>

    <h3>Present Location</h3>
    <dl class="dl-horizontal">
      <dt>Mailing Address:</dt>
      <dd>{{ info.getSource().repository.institution['#text'] }}<br>
        {{ info.getSource().repository.addressline[0]['#text'] }}<br>
        {{ info.getSource().repository.addressline[1]['#text'] }}<br>
        {{ info.getSource().repository.addressline[2]['#text'] }}
      </dd>
      <dt>Telephone:</dt>
      <dd>{{ info.getSource().repository.addressline[3]['#text'].split(': ')[1] }}</dd>
      <dt>Fax:</dt>
      <dd>{{ info.getSource().repository.addressline[4]['#text'].split(': ')[1] }}</dd>
      <dt>Email:</dt>
      <dd>{{ info.getSource().repository.addressline[5]['#text'].split(': ')[1] }}</dd>
      <dt>URL:</dt>
      <dd>{{ info.getSource().repository.addressline[6]['#text'].split(': ')[1] }}</dd>
      <dt>Department:</dt>
      <dd>{{ info.getSource().repository.department['#text'] }}</dd>
      <dt>Collection:</dt>
      <dd>{{ info.getSource().repository.collection['#text'] }}</dd>
      <dt>{{ info.getSource().repository.repositoryid['@label'] }}:</dt>
      <dd>{{ info.getSource().repository.repositoryid['#text'] }}</dd>
    </dl>
  </div>
</div>
