<header class="page-header">
    <p class="subhead">Copy Information</p>
    <h1>{{ info.getHeader().filedesc.titlestmt.title.main['#text'] }}</h1>
</header>

<div class="row">
    <div class="col-sm-6">
        <h3>Copy Information</h3>
        <dl>

            <dt>Title:</dt>
            <dd ng-bind-html=" info.getHeader().filedesc.titlestmt.title.main['#text'] | highlight:info.searchTerm"></dd>
            <div ng-repeat="origination in info.getOrigination() track by $index">
                <dt>Origination:</dt>
                <dd><span ng-bind-html="origination['#text'] | highlight:info.searchTerm"></span>: <span ng-bind-html="info.getOriginationRole(origination.role) | highlight:info.searchTerm"></span></dd>
                <div ng-if="origination.note">
                    <dt>Note:</dt>
                    <dd ng-bind-html="origination.note['#text'] | highlight:info.searchTerm"></dd>
                </div>
            </div>

            <dt>Publisher:</dt>
            <dd ng-bind-html="info.getSource().objdescid.imprint.publisher['#text'] | highlight:info.searchTerm"></dd>
            <div ng-if="info.getSource().objdescid.imprint.publisher.note">
                <dt>Note:</dt>
                <dd ng-bind-html="info.getSource().objdescid.imprint.publisher.note['#text'] | highlight:info.searchTerm"></dd>
            </div>

            <dt>Place of Publication:</dt>
            <dd ng-bind-html="info.getSource().objdescid.imprint.pubplace['#text'] | highlight:info.searchTerm"></dd>
            <div ng-if="info.getSource().objdescid.imprint.pubplace.note">
                <dt>Note:</dt>
                <dd ng-bind-html="info.getSource().objdescid.imprint.pubplace.note['#text'] | highlight:info.searchTerm"></dd>
            </div>

            <dt>Date:</dt>
            <dd ng-bind-html="info.getSource().objdescid.imprint.date['#text'] | highlight:info.searchTerm"></dd>

            <dt>Composition Date:</dt>
            <dd ng-bind-html="info.getSource().objdescid.compdate['#text'] | highlight:info.searchTerm"></dd>

            <div ng-if="copy.print_date">
                <dt>Print Date:</dt>
                <dd ng-bind-html="copy.print_date | highlight:info.searchTerm"></dd>
            </div>

            <dt>Number of Objects:</dt>
            <dd ng-bind-html="info.getSource().objinfo.numberobj['#text'] | highlight:info.searchTerm"></dd>

            <dt>Object Order:</dt>
            <dd ng-bind-html="info.getSource().objinfo.objorder['#text'] | highlight:info.searchTerm"></dd>

            <dt>Object Size:</dt>
            <dd ng-bind-html="info.getSource().objinfo.objsize['#text'] | highlight:info.searchTerm"></dd>

            <dt>Number of Leaves:</dt>
            <dd ng-bind-html="info.getSource().objinfo.numberleaves['#text'] | highlight:info.searchTerm"></dd>
            <div ng-if="info.getSource().objinfo.numberleaves.note">
                <dt>Note:</dt>
                <dd ng-bind-html="info.getSource().objinfo.numberleaves.note['#text'] | highlight:info.searchTerm"></dd>
            </div>

            <dt>Leaf Size:</dt>
            <dd ng-bind-html="info.getSource().objinfo.leafsize['#text'] | highlight:info.searchTerm"></dd>

            <dt>Medium:</dt>
            <dd ng-bind-html="info.getSource().objinfo.medium['#text'] | highlight:info.searchTerm"></dd>
            <div ng-if="info.getSource().objinfo.medium.note">
                <dt>Note:</dt>
                <dd ng-bind-html="info.getSource().objinfo.medium.note['#text'] | highlight:info.searchTerm"></dd>
            </div>

            <dt>Printing Style:</dt>
            <dd ng-bind-html="info.getSource().objinfo.printingstyle['#text'] | highlight:info.searchTerm"></dd>
            <div ng-if="info.getSource().objinfo.printingstyle.note">
                <dt>Note:</dt>
                <dd ng-bind-html="info.getSource().objinfo.printingstyle.note['#text'] | highlight:info.searchTerm"></dd>
            </div>

            <dt>Ink Color:</dt>
            <dd ng-bind-html="info.getSource().objinfo.inkcolor['#text'] | highlight:info.searchTerm"></dd>
            <div ng-if="info.getSource().objinfo.inkcolor.note">
                <dt>Note:</dt>
                <dd ng-bind-html="info.getSource().objinfo.inkcolor.note['#text'] | highlight:info.searchTerm"></dd>
            </div>

            <dt>Support:</dt>
            <dd ng-bind-html="info.getSource().objinfo.support['#text'] | highlight:info.searchTerm"></dd>

            <dt>Watermark:</dt>
            <dd ng-bind-html="info.getSource().objinfo.support['#text'] | highlight:info.searchTerm"></dd>

            <dt>Etched Numbers:</dt>
            <dd ng-bind-html="info.getSource().objinfo.etchednumbers['#text'] | highlight:info.searchTerm"></dd>

            <dt>Penned Numbers:</dt>
            <dd ng-bind-html="info.getSource().objinfo.pennednumbers['#text'] | highlight:info.searchTerm"></dd>

            <dt>Frame Lines:</dt>
            <dd ng-bind-html="info.getSource().objinfo.framelines['#text'] | highlight:info.searchTerm"></dd>

            <dt>Binding:</dt>
            <dd ng-bind-html="info.getSource().objinfo.binding['#text'] | highlight:info.searchTerm"></dd>
            <div ng-if="info.getSource().objinfo.binding.note">
                <dt>Note:</dt>
                <dd ng-bind-html="info.getSource().objinfo.binding.note['#text'] | highlight:info.searchTerm"></dd>
            </div>

            <dt>Stab Holes:</dt>
            <dd ng-bind-html="info.getSource().objinfo.stabholes['#text'] | highlight:info.searchTerm"></dd>
            <div ng-if="info.getSource().objinfo.binding.note">
                <dt>Note:</dt>
                <dd ng-bind-html="info.getSource().objinfo.stabholes.note['#text'] | highlight:info.searchTerm"></dd>
            </div>
        </dl>
    </div>

  <div class="col-sm-6">
    <h3>Provenance</h3>
    <dl class="dl-horizontal">
      <dt>Name:</dt>
      <dd ng-bind-html="info.getSource().provenance.name['#text'] | highlight:info.searchTerm"></dd>
      <dt>Date:</dt>
      <dd ng-bind-html="info.getSource().provenance.date['#text'] | highlight:info.searchTerm"></dd>
      <dt>Dealer:</dt>
      <dd ng-bind-html="info.getSource().provenance.dealer['#text'] | highlight:info.searchTerm"></dd>
      <dt>Price:</dt>
      <dd ng-bind-html="info.getSource().provenance.price['#text'] | highlight:info.searchTerm"></dd>
      <div ng-if="info.getSource().provenance.note">
        <dt>Note:</dt>
        <dd ng-bind-html="info.getSource().provenance.note['#text'] | highlight:info.searchTerm"></dd>
      </div>
    </dl>

    <h3>Present Location</h3>
    <dl class="dl-horizontal">
      <dt>Mailing Address:</dt>
      <dd>
        <span ng-bind-html="info.getSource().repository.institution['#text'] | highlight:info.searchTerm"></span><br>
        <span ng-bind-html="info.getSource().repository.addressline[0]['#text']| highlight:info.searchTerm"></span><br>
        <span ng-bind-html="info.getSource().repository.addressline[1]['#text'] | highlight:info.searchTerm"></span><br>
        <span ng-bind-html="info.getSource().repository.addressline[2]['#text'] | highlight:info.searchTerm"></span>
      </dd>
      <dt>Telephone:</dt>
      <dd ng-bind-html="info.getSource().repository.addressline[3]['#text'].split(': ')[1] | highlight:info.searchTerm"></dd>
      <dt>Fax:</dt>
      <dd ng-bind-html="info.getSource().repository.addressline[4]['#text'].split(': ')[1] | highlight:info.searchTerm"></dd>
      <dt>Email:</dt>
      <dd ng-bind-html="info.getSource().repository.addressline[5]['#text'].split(': ')[1] | highlight:info.searchTerm"></dd>
      <dt>URL:</dt>
      <dd ng-bind-html="info.getSource().repository.addressline[6]['#text'].split(': ')[1] | highlight:info.searchTerm"></dd>
      <dt>Department:</dt>
      <dd ng-bind-html="info.getSource().repository.department['#text'] | highlight:info.searchTerm"></dd>
      <dt>Collection:</dt>
      <dd ng-bind-html="info.getSource().repository.collection['#text'] | highlight:info.searchTerm"></dd>
      <dt>{{ info.getSource().repository.repositoryid['@label'] }}:</dt>
      <dd ng-bind-html="info.getSource().repository.repositoryid['#text'] | highlight:info.searchTerm"></dd>
    </dl>
  </div>
</div>
