<header class="page-header">
  <p class="subhead">Copy Information</p>

  <h1>{{ copyHeader.filedesc.titlestmt.title['@reg'] }}</h1>
</header>

<div class="row copy-info">
  <div class="col-sm-6">
    <h3>Copy Information</h3>
    <dl class="dl-horizontal">
      <dt>Title:</dt>
      <dd>{{ copyHeader.filedesc.titlestmt.title['@reg'] }}</dd>
      <div ng-repeat="origination in copySource.objdescid.origination">
        <dt>Origination:</dt>
        <dd>{{ origination['#text'] }}: {{ getOriginationRole(origination['role']) }}</dd>
        <div ng-if="origination.note">
          <dt>Note:</dt>
          <dd>{{ origination.note['#text'] }}</dd>
        </div>
      </div>
      <dt>Publisher:</dt>
      <dd>{{ copySource.objdescid.imprint.publisher['#text'] }}</dd>
      <div ng-if="copySource.objdescid.imprint.publisher.note">
        <dt>Note:</dt>
        <dd>{{ copySource.objdescid.imprint.publisher.note['#text'] }}</dd>
      </div>
      <dt>Place of Publication:</dt>
      <dd>{{ copySource.objdescid.imprint.pubplace['#text'] }}</dd>
      <div ng-if="copySource.objdescid.imprint.pubplace.note">
        <dt>Note:</dt>
        <dd>{{ copySource.objdescid.imprint.pubplace.note['#text'] }}</dd>
      </div>
      <dt>Date:</dt>
      <dd>{{ copySource.objdescid.imprint.date['#text'] }}</dd>
      <dt>Composition Date:</dt>
      <dd>{{ copySource.objdescid.compdate['#text'] }}</dd>
      <div ng-if="copy.print_date">
      <dt>Print Date:</dt>
      <dd>{{ copy.print_date }}</dd>
        </div>
      <dt>Number of Objects:</dt>
      <dd>{{ copySource.objinfo.numberobj['#text'] }}</dd>
      <dt>Object Order:</dt>
      <dd>{{ copySource.objinfo.objorder['#text'] }}</dd>
      <dt>Object Size:</dt>
      <dd>{{ copySource.objinfo.objsize['#text'] }}</dd>
      <dt>Number of Leaves:</dt>
      <dd>{{ copySource.objinfo.numberleaves['#text'] }}</dd>
      <div ng-if="copySource.objinfo.numberleaves.note">
        <dt>Note:</dt>
        <dd>{{ copySource.objinfo.numberleaves.note['#text'] }}</dd>
      </div>
      <dt>Leaf Size:</dt>
      <dd>{{ copySource.objinfo.leafsize['#text'] }}</dd>
      <dt>Medium:</dt>
      <dd>{{ copySource.objinfo.medium['#text'] }}</dd>
      <div ng-if="copySource.objinfo.medium.note">
        <dt>Note:</dt>
        <dd>{{ copySource.objinfo.medium.note['#text'] }}</dd>
      </div>
      <dt>Printing Style:</dt>
      <dd>{{ copySource.objinfo.printingstyle['#text'] }}</dd>
      <div ng-if="copySource.objinfo.printingstyle.note">
        <dt>Note:</dt>
        <dd>{{ copySource.objinfo.printingstyle.note['#text'] }}</dd>
      </div>
      <dt>Ink Color:</dt>
      <dd>{{ copySource.objinfo.inkcolor['#text'] }}</dd>
      <div ng-if="copySource.objinfo.inkcolor.note">
        <dt>Note:</dt>
        <dd>{{ copySource.objinfo.inkcolor.note['#text'] }}</dd>
      </div>
      <dt>Support:</dt>
      <dd>{{ copySource.objinfo.support['#text'] }}</dd>
      <dt>Watermark:</dt>
      <dd>{{ copySource.objinfo.support['#text'] }}</dd>
      <dt>Etched Numbers:</dt>
      <dd>{{ copySource.objinfo.etchednumbers['#text'] }}</dd>
      <dt>Penned Numbers:</dt>
      <dd>{{ copySource.objinfo.pennednumbers['#text'] }}</dd>
      <dt>Frame Lines:</dt>
      <dd>{{ copySource.objinfo.framelines['#text'] }}</dd>
      <dt>Binding:</dt>
      <dd>{{ copySource.objinfo.binding['#text'] }}</dd>
      <div ng-if="copySource.objinfo.binding.note">
        <dt>Note:</dt>
        <dd>{{ copySource.objinfo.binding.note['#text'] }}</dd>
      </div>
      <dt>Stab Holes:</dt>
      <dd>{{ copySource.objinfo.stabholes['#text'] }}</dd>
      <div ng-if="copySource.objinfo.binding.note">
        <dt>Note:</dt>
        <dd>{{ copySource.objinfo.stabholes.note['#text'] }}</dd>
      </div>
    </dl>
  </div>

  <div class="col-sm-6" id="copy-col-2">
    <h3>Provenance</h3>
    <dl class="dl-horizontal">
      <dt>Name:</dt>
      <dd>{{ copySource.provenance.name['#text'] }}</dd>
      <dt>Date:</dt>
      <dd>{{ copySource.provenance.date['#text'] }}</dd>
      <dt>Dealer:</dt>
      <dd>{{ copySource.provenance.dealer['#text'] }}</dd>
      <dt>Price:</dt>
      <dd>{{ copySource.provenance.price['#text'] }}</dd>
      <div ng-if="copySource.provenance.note">
        <dt>Note:</dt>
        <dd>{{ copySource.provenance.note['#text'] }}</dd>
      </div>
    </dl>

    <h3>Present Location</h3>
    <dl class="dl-horizontal">
      <dt>Mailing Address:</dt>
      <dd>{{ copySource.repository.institution['#text'] }}<br>
        {{ copySource.repository.addressline[0]['#text'] }}<br>
        {{ copySource.repository.addressline[1]['#text'] }}<br>
        {{ copySource.repository.addressline[2]['#text'] }}
      </dd>
      <dt>Telephone:</dt>
      <dd>{{ copySource.repository.addressline[3]['#text'].split(': ')[1] }}</dd>
      <dt>Fax:</dt>
      <dd>{{ copySource.repository.addressline[4]['#text'].split(': ')[1] }}</dd>
      <dt>Email:</dt>
      <dd>{{ copySource.repository.addressline[5]['#text'].split(': ')[1] }}</dd>
      <dt>URL:</dt>
      <dd>{{ copySource.repository.addressline[6]['#text'].split(': ')[1] }}</dd>
      <dt>Department:</dt>
      <dd>{{ copySource.repository.department['#text'] }}</dd>
      <dt>Collection:</dt>
      <dd>{{ copySource.repository.collection['#text'] }}</dd>
      <dt>{{ copySource.repository.repositoryid['@label'] }}:</dt>
      <dd>{{ copySource.repository.repositoryid['#text'] }}</dd>
    </dl>
  </div>
</div>
