<!--Edit buttons-->
<div id="object-tools" class="hidden-xs">
    <div id="object-tools-inner">
        <div class="btn-group edit-object" role="group">
            <!--<button type="button" class="btn btn-default add-lightbox hidden-sm"><span class="edit-icon"></span> Add To Lightbox</button>-->
            <button type="button" class="btn btn-default rotate" ng-click="oeb.rotate(oeb.bds.object)"><span class="edit-icon"></span> Rotate</button>
            <button type="button" class="btn btn-default zoom hidden-sm" ng-class="{hover: oeb.rs.zoom}" ng-click="oeb.zoom()" tooltip="Mouse over the image"  tooltip-trigger="click" tooltip-placement="top"><span class="edit-icon"></span> Magnify</button>
            <button type="button" class="btn btn-default true-size hidden-xs" ng-click="oeb.trueSizeOpen(oeb.bds.object)"><span class="edit-icon"></span> True Size</button>
            <button type="button" class="btn btn-default new-window" show-me="enlargement" object="oeb.bds.object" copy-bad="{{oeb.bds.copy.bad_id}}"><span class="edit-icon"></span> Enlargement</button>
            <button type="button" class="btn btn-default show-transcription hidden-sm" ng-click="oeb.toggleTranscription()"><span class="edit-icon"></span> Diplomatic Transcription</button>

            <button type="button" class="btn btn-default show-transcription hidden-sm" ng-click="oeb.toggleIllustrationDescription()"><span class="edit-icon"></span> Illustration Description</button>
            <button type="button" class="btn btn-default show-transcription hidden-sm" ng-click="oeb.toggleEditorsNotes()"><span class="edit-icon"></span> Editors' Notes</button>

            <button type="button" class="btn btn-default show-supplemental" ng-class="{hover: oeb.rs.supplemental}" ng-if="oeb.bds.object.supplemental_objects.length && oeb.rs.view.mode != 'compare'"  ng-click="oeb.toggleSupplemental()"><span class="edit-icon"></span> Supplemental Views</button>
            <!--<button type="button" class="btn btn-default cite"><span class="edit-icon"></span> Generate Citation</button>-->
        </div>
        <!--<div class="show-hide-tools" ng-click="copyCtrl.toggleTools()"><span>+</span></div>-->
    </div>
</div>