
<!-- compare -->
<div id="compare" class="scrollbar">
<!--<div id="compare" class="scrollbar" style="height: {{compare.viewerHeight}}px">-->
    <div class="featured-object">
        <div class="compare-inner" ng-sortable="{ group: 'o', animation: 150 }">
            <div class="item"
                 ng-repeat="o in compare.cof.comparisonObjects"
                 ng-class="{active:compare.cof.isMain(o)}"
                 ng-click="compare.changeObject(o)"
                 ng-dblclick="compare.goToObject(o)">
                <!--<p class="object-title text-capitalize"><a href="/copy/{{o.copy_bad_id}}?objectId={{o.object_id}}">{{ o.copy_title }}</a></p>-->
                <p ng-class="{active:compare.cof.isMain(o)}" class="object-title"><a href="/copy/{{o.copy_bad_id}}">{{ o.copy_title }}</a></p>
                <div class="compare-wrapper flex" auto-height adjust="270" breakpoint="768">
                    <div class="object-img-container" ng-class="{hidden: view.scope == 'text'}" ovp-image>
                        <img ng-src="/images/{{ o.dbi }}.{{dpi}}.jpg" magnify-image>
                    </div>
                    <div class="reading-copy" ng-class="{hidden: view.scope == 'image'}">
                        <div class="reading-copy-inner">
                            <text-transcription object="o"></text-transcription>
                        </div>
                    </div>
                </div>
                <p class="object-subtitle text-capitalize"><a href="/copy/{{o.copy_bad_id}}?descId={{o.desc_id}}">{{ o.full_object_id }}, {{ o.copy_composition_date }}, {{ o.copy_institution }}</a></p>
            </div>
        </div>
    </div>
</div>
<!--/.compare-->