<div id="archive" class="container-fluid archive-top">
  <div id="object-container" class="row tray-closed">
    <div id="object-detail-tray">
      <div class="tray-toggle" ng-click="toggleTray()">Open/Close Tray</div>
      <div id="object-detail-tray-inner">
        <accordion close-others="true">
          <accordion-group>
              <accordion-heading>
                  <a href="#">Textual Transcription</a>
                  <a href="#" title="new window" class="new-window hide" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ copy.archive_copy_id }}</p>

              <p><a href="#">[ n ]</a></p>
              <ol>
                <li ng-repeat="line in getObjLines()"><span>{{ line }}</span></li>
              </ol>
              <p><a href="#">Color key for transcriptions</a></p>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                  <a href="#">Illustration Description</a>
                  <a href="#" title="new window" class="new-window hide" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ obj.full_object_id }}</p>

              <p><strong>Sector CD<br>
                Plate Illustration:</strong></p>

              <p>{{ obj.illustration_description.illusobjdesc['#text'] }}</p>

              <div ng-repeat="component in obj.components">
                <p><strong>Component (Sector {{ component.component['@location'] }})</strong></p>

                <p class="keywords">Keywords:
                <ul class="list-inline">
                  <li ng-repeat="characteristic in component.component.characteristic">{{ characteristic["#text"] }}</li>
                </ul>
                </p>

                <p>{{ component.component.illusobjdesc['#text'] }}</p>
              </div>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                  <a href="#">Editors’ Notes</a>
                  <a href="#" title="new window" class="new-window hide" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">{{ copy.header.filedesc.titlestmt.title['@reg'] }}, {{ obj.full_object_id }}</p>

              <p><strong>Object Note(s):</strong></p>

              <div ng-if="obj.physical_description.objnote">
                <p>Note:</p>

                <p>{{ obj.physical_description.objnote['#text'] }}</p>
              </div>
              <p><strong>Textual Note(s):</strong></p>
              <p><em>No textual notes for this object</em></p>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                  <a href="#">Object Meta Data</a>
                  <a href="#" title="new window" class="new-window hide" ng-click=""></a>
              </accordion-heading>
              <p class="object-title">The Marriage of Heaven and Hell, object 20 (Bentley 20, Erdman 20,
                Keynes 20)</p>

              <p><em>Object Meta Data goes here...</em></p>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
  <!--/.tray-->
  <div id="object-view" class="compare-objects">
    <div id="compare" class="scrollbar">
      <div class="featured-object">
        <div class="compare-inner" dragula="'first-bag'">
          <div class="item" ng-repeat="o in comparisonObjects">
            <p class="object-title">{{ o.copy_title }}, Copy {{ o.archive_copy_id }}</p>
            <img src="http://www.blakearchive.org/blake/images/{{ o.dbi }}.100.jpg">

            <p class="object-subtitle">{{ o.copy_composition_date }} ({{ o.copy_institution }}) {{ o.full_object_id }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--/.compare-->

    <div id="object-tools">
      <div id="object-tools-inner">
        <!--Edit buttons-->
        <div class="btn-group edit-object" role="group">
          <button type="button" class="btn btn-default add-lightbox"><span class="edit-icon"></span> Add To
            Lightbox
          </button>
          <button type="button" class="btn btn-default rotate"><span class="edit-icon"></span> Rotate</button>
          <button type="button" class="btn btn-default zoom"><span class="edit-icon"></span> Zoom</button>
          <button type="button" class="btn btn-default true-size"><span class="edit-icon"></span> True Size
          </button>
          <button type="button" class="btn btn-default new-window"><span class="edit-icon"></span> New Window
          </button>
        </div>

        <div id="compare-thumbs">
          <div id="compare-thumbs-inner">
            <div ng-repeat="o in comparisonObjects" class="item"
                 style="background-image: url(http://www.blakearchive.org/blake/images/{{ o.dbi }}.100.jpg);"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="show-hide-tools"><span>Show / Hide Tools</span></div>

  </div>
  <!--/.object-view-->
</div>